// mat-dialog-actions {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 8px;
  
//     .close-button {
//       margin-left: auto;
//       background-color: #6200ea;
//       color: white;
  
//       &:hover {
//         background-color: #3700b3;
//       }
//     }
//   }

// .mat-dialog-actions {

//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 8px;
//   }
  
//   .close-button {
//     background-color: #1674c2; /* Blue color */
//     color: white;
//     border: none;
//     padding: 6px 12px;
//     border-radius: 4px;
//     cursor: pointer;
  
//     &:hover {
//       background-color: #1976d2; /* Darker blue on hover */
//     }
//   }
  
//   .completed-checkbox {
//     margin-left: auto; /* Aligns checkbox to the right */
//   }



//------------------------------------------------------------------
// .fullscreen-dialog {
//   width: 100%;
//   height: 78%;
//   margin: 0;
//   max-width: 100%;
//   max-height: 78%;
//   padding: 0;
//   display: flex;
//   flex-direction: column;
// }

// mat-dialog-content {
//   flex: 1;
//   overflow: auto;
// }

// #pdf-viewer-container {
//   width: 100%;
//   height: 100%;
// }

// .mat-dialog-actions {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 16px;
//   background-color: #f5f5f5; /* Optional: adds a background color to the action bar */
// }

// .close-button {
//   background-color: #1674c2; /* Blue color */
//   color: white;
//   border: none;
//   padding: 8px 16px;
//   border-radius: 4px;
//   cursor: pointer;

//   &:hover {
//     background-color: #1976d2; /* Darker blue on hover */
//   }
// }

// .completed-checkbox {
//   margin-right: auto; /* Aligns checkbox to the left */
// }
.fullscreen-dialog {
  width: 100%;
  height: 78%;
  margin: 0;
  max-width: 100%;
  max-height: 78%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

mat-dialog-content {
  flex: 1;
  overflow: auto;
}

#pdf-viewer-container {
  width: 100%;
  height: 100%;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f5f5f5; /* Optional: adds a background color to the action bar */
}

.spacer {
  flex: 1;
}

.close-button {
  background-color: #1674c2; /* Blue color */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #1976d2; /* Darker blue on hover */
  }
}

.completed-checkbox {
  margin-right: auto; /* Aligns checkbox to the left */
}
