<!-- your-component.component.html -->

<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                    </div>
                        <div class="row ms-5">
                            <div class="col-4 fs-5 fw-semibold">Form Name</div>
                            <div class="col-4 fs-5 fw-semibold">Label</div>
                            <div class="col-4">
                                <button mat-raised-button id="submit1">Add field</button>
                            </div>
                        </div>
                        <div class="border-bottom p-4" *ngFor="let form of forms">
                            <div class="row">
                                <div class="col-md-4">
                                        <h6 style="padding-top: 10px;font-weight: bolder;">{{ form.name }}</h6>
                                </div>
                                <div class="col-md-8 labels">
                                    <div *ngFor="let label of form.labels"  class="label-container">
                                        <mat-checkbox class="example-margin" [checked]="label.checked" (change)="onCheckboxChange(form.id, label.name, $event.checked)">
                                            <p class="menu">{{ label.name }}</p>
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="d-flex justify-content-between m-5">
                        <button class="btn px-4" mat-raised-button id="back" [routerLink]="['/student/settings/configuration/forms']">Back</button>
                        <button mat-raised-button id="submit" (click)="updateLabels()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
