svg {
    position: absolute;
    fill: #000;
    background-color: white;
    margin-top: -20px;
    margin-left: -15px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.svg2 svg{
    position: absolute;
    fill: #000;
    background-color: #d3cdcd;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
// modal-box styling
::ng-deep .mat-mdc-menu-content {
        margin: 0;
        padding: 8px 20px;
        border-radius: 10px;
        list-style-type: none;
       
}
// modal-box curving
::ng-deep .mat-mdc-menu-panel{
    --mat-menu-container-shape: 12px;
}
.menu-text{
    padding-left: 20px;
}
.admin{
    margin-left: 10px;
    padding: 8px;
    border-radius: 10px;
}
.menu{
    font-size: 16px;
    font-weight: 400;
}
.img{
    height:20px;
    width:20px;
}
.status-dot {
    width: 8px;
    height: 8px;
    background-color: #198754;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  .status-red {
    width: 8px;
    height: 8px;
    background-color: #f11541;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  ::ng-deep .mat-mdc-tab-body-content{
    overflow-x: hidden !important;
  } 
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 24px; 
   }
   @media (max-width: 600px) {
     mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
       padding-left: 15px;
     }
     } 