.menu{
    text-align: start;
      font-size: 16px;
      font-weight: 500;
  }
  .sub-menu{
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
  }
  .items{
      text-align: center !important; 
      display: flex !important;
      white-space: nowrap;
  }
  .card {
      width: 800px;
      height: 500px;
      margin: 0 auto;
      border-radius: 20px;
      overflow-y: auto; 
    }
  
    .menu img {
      margin-right: 10px;
    }
    .menu-wrapper {
      display: flex;
      flex-direction: column;
  }
  
  .sub-menu-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-left: 10px;
  }