<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2> Staff Information</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="staffForm" >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <label>First name<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <!-- <mat-label>First name</mat-label> -->
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="staffForm.get('first')?.hasError('required')">
                      Enter First Name 
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <label>Last name</label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <!-- <mat-label>Last name</mat-label> -->
                    <input matInput formControlName="last_name">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <label>Gender<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <!-- <mat-label>Gender</mat-label> -->
                    <mat-select formControlName="gender" required>
                      <mat-option [value]="'male'">
                        Male
                      </mat-option>
                      <mat-option [value]="'female'">
                        Female
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="staffForm.get('gender')?.hasError('required')">
                      Enter Gender 
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <label>User Type<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <!-- <mat-label>User Type</mat-label> -->
                    <mat-select formControlName="type" required>
                      <mat-option [value]="user.typeName" *ngFor="let user of userTypes">
                       {{user.typeName}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="staffForm.get('type')?.hasError('required')">
                      Enter User Type 
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <label>Password<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <!-- <mat-label>Password</mat-label> -->
                    <input matInput formControlName="password" type="password" required>
                    <mat-error *ngIf="staffForm.get('password')?.hasError('required')">
                      Enter password 
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <label>Re-Enter Password<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <!-- <mat-label>Re-Enter Password</mat-label> -->
                    <input matInput formControlName="conformPassword" type="password" required>
                    <mat-error *ngIf="staffForm.get('conformPassword')?.hasError('required')">
                     Enter Re-Enter password 
                    </mat-error>
                    <mat-error *ngIf="staffForm.get('conformPassword')?.hasError('confirmedValidator')">
                      Password and Re-Enter Password must be match
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <label>Mobile<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <!-- <mat-label>Mobile</mat-label> -->
                    <input matInput formControlName="mobile" type="number" required>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <label>Joining Date<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <!-- <mat-label>Joining Date</mat-label> -->
                    <input matInput [matDatepicker]="picker1" formControlName="joiningDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="staffForm.get('joiningDate')?.hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <label>Email<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <!-- <mat-label>Email</mat-label> -->
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="staffForm.get('email')?.hasError('email') && staffForm.get('email')?.touched">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <label>Date Of Birth<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <!-- <mat-label>Date Of Birth</mat-label> -->
                    <input matInput [matDatepicker]="picker" formControlName="dob" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="staffForm.get('dob')?.hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <label>Education<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <!-- <mat-label>Education</mat-label> -->
                    <input matInput formControlName="qualification" required>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <label>Salary</label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <!-- <mat-label>Salary</mat-label> -->
                    <input matInput formControlName="salary" >
                  </mat-form-field>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Education</mat-label>
                    <textarea matInput formControlName="qualification"></textarea>
                  </mat-form-field>
                </div> -->
                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Salary</mat-label>
                    <textarea matInput formControlName="salary"></textarea>
                  </mat-form-field>
                </div> -->
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <label>Address</label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <!-- <mat-label>Address</mat-label> -->
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                  <label>Upload</label>
                  <div class="file-drop-area">
                    <div class="file">
                    <button mat-raised-button color="primary">Choose file <input
                      formControlName="avatar"
                      (change)="onFileUpload($event)"
                      class="file-input"
                      type="file"
                    /></button>
                    <span class="file-msg"><h5>{{fileName ? fileName  : 'Drag and Drop File Here' }}</h5></span>
                    
                    </div>
                  </div>
                  <!-- <app-file-upload formControlName="image_link" (change)="onFileUpload($event)"></app-file-upload> -->
                </div>
                <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                  <label>Upload<span class="mandatory">&nbsp;*</span></label>
                  <div class="file-drop-area">
                    <div class="file">
                      <!-- <button mat-raised-button color="primary">Choose file</button> --
                      <img src="/assets/add-image-icon.svg" />
                      <h5>
                        {{ fileName ? fileName : "Drag and Drop File Here" }}
                      </h5>
                      <input
                        formControlName="avatar"
                        (change)="onFileUpload($event)"
                        class="file-input"
                        type="file"
                      />
                    </div>
                  </div>
                  <!-- <div class="file-drop-area">
                    <button mat-raised-button color="primary">Choose file</button>
                    <span>{{fileName ? fileName : ' or drag and drop file here' }}</span>
                    <input formControlName="avatar" (change)="onFileUpload($event)" class="file-input" type="file">
                  </div> --
                </div> -->
              </div>

              <div class="row" style="float: right;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button type="button" class="btn-space" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
                  <button *ngIf="!updateBtn" [disabled]="!staffForm.valid " mat-raised-button
                    id="submit" (click)="submit()">Create</button>
                    <button *ngIf="updateBtn" class="btn-space" mat-raised-button
                    id="submit" (click)="update()">Update</button>
                 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
