<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card" style="height: fit-content;">
            <div class="header">
              <h2>Create Score Algorithm</h2>
            </div>
            <div class="body">
          
                <form [formGroup]="scoreAlgorithmForm">
  
                <div class="row">
                  <div class="col-3">
                    <label>Score Algorithm  <span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width " appearance="outline">
                            <input matInput type="text" formControlName="scores"
                            class="form-control" placeholder="Enter New Score "
                            >      
                            <mat-error *ngIf="scoreAlgorithmForm.get('scores')?.invalid ||scoreAlgorithmForm.get('scores')?.touched">
                              {{ utils.getErrorMessage1(scoreAlgorithmForm.get('scores'), 'scores') }}
                            </mat-error>
                                      
                        </mat-form-field>
                  </div>
                </div>
                </form>
                <hr/>
                <div class="float-end">
                    <div class="d-grid gap-3 d-md-flex">
                    <button  mat-raised-button *ngIf="isCreate" id="submit" (click)="onSubmit()" > Create </button>
                    </div>
                  </div>
                  <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="header mt-3">
                        <h2>Score Algorithm Listing</h2>
                      </div>
                      <div class="table-wrapper">
                        <div class="table-responsive">
                          <table class="table table-hover ">
                            <thead>
                              <tr>
                                <th>Score Algorithm</th>
                               
                              </tr>
                            </thead>
                            <tbody>
                              <tr style="cursor: pointer;" *ngFor="let row of dataSource">
                                <td (click)="isEdit ? update(row) : null">{{row.scores}}</td>                         
                                
                              </tr>
    
                            </tbody>
                          </table>
                        </div>
                      </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>