svg {
    position: absolute;
    fill: #000;
    background-color: #d3cdcd;
    margin-left: -12px;
    margin-top: -20px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

// modal-box styling
::ng-deep .mat-mdc-menu-content {
    margin: 0;
    padding: 8px 20px;
    border-radius: 10px;
    list-style-type: none;

}

// modal-box curving
::ng-deep .mat-mdc-menu-panel {
    --mat-menu-container-shape: 12px;
}

.menu-text {
    padding-left: 20px;
}
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 24px; 
   }
   @media (max-width: 600px) {
     mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
       padding-left: 15px;
     }
     }