<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-breadcrumb>
    </div>
    <div>
      <form
        id="header-search-people"
        class="form-area"
        novalidate="novalidate"
        autocomplete="off"
      >
        <div class="row">
          <div class="col-md-12">
            <div class="styled-input wide multi">
              <div class="first-name" id="input-first-name">
                <input
                  type="text"
                  name="fn"
                  id="fn"
                  autocomplete="off"
                  data-placeholder-focus="false"
                  [(ngModel)]="employeeText"
                  (ngModelChange)="onSearchChange()"
                  required
                />
                <label>Employee</label>
              </div>
              <div class="last-name" id="input-last-name">
                <input
                  type="text"
                  name="ln"
                  id="ln"
                  autocomplete="off"
                  data-placeholder-focus="false"
                  [(ngModel)]="roText"
                  (ngModelChange)="onRoChange()"
                  required
                />
                <label>Approver 1</label>
              </div>
              <div class="city" id="input-city">
                <input
                  type="text"
                  name="city"
                  id="city"
                  autocomplete="off"
                  data-placeholder-focus="false"
                  [(ngModel)]="directorText"
                  (ngModelChange)="onDirectorChange()"
                />
                <label>Approver 2</label>
              </div>
              <div class="city" id="input-city">
                <input
                  type="text"
                  name="city"
                  id="city"
                  autocomplete="off"
                  data-placeholder-focus="false"
                  [(ngModel)]="trainingadminText"
                  (ngModelChange)="onTrainingChange()"
                />
                <label>Approver 3</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row clearfix mt-4">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>All Request</h2>
          </div>

          <div class="tableBody">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Employee</th>
                    <th>Course</th>
                    <th>Approver 1</th>
                    <th>Approver 2</th>
                    <th>Approver 3</th>
                    <th>Vendor Name</th>
                    <th>Approval Stages</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let row of SourceData"
                    style="cursor: pointer"
                    (click)="viewReq(row?._id)"
                  >
                    <td class="name">{{ row?.employeeName }}</td>
                    <td>{{ row?.courseName }}</td>
                    <td>{{ row?.roName }}</td>
                    <td>{{ row?.directorName }}</td>
                    <td>{{ row?.trainingAdminName }}</td>
                    <td>{{ row?.vendorName }}</td>
                    <td>
                      <div class="approval-reason mt-3">Approver 1</div>
                      <div class="approval-reason">Approver 2</div>
                      <div class="approval-reason">Approver 3</div>
                    </td>
                    <td>
                      <div class="approval-reason">
                        <span
                          [class]="
                            row?.roApproval === 'Approved'
                              ? 'badge badge-solid-green'
                              : row?.roApproval === 'Pending'
                              ? 'badge badge-solid-orange'
                              : row?.roApproval === 'Rejected'
                              ? 'badge badge-solid-red'
                              : ''
                          "
                        >
                          <span
                            [class]="
                              row?.roApproval === 'Approved'
                                ? 'status-dot'
                                : row?.roApproval === 'Pending'
                                ? 'status-orange'
                                : row?.roApproval === 'Rejected'
                                ? 'status-red'
                                : ''
                            "
                          ></span>
                          {{ row.roApproval }}
                        </span>
                      </div>
                      <div class="approval-reason">
                        <span
                          [class]="
                            row?.directorApproval === 'Approved'
                              ? 'badge badge-solid-green'
                              : row?.directorApproval === 'Pending'
                              ? 'badge badge-solid-orange'
                              : row?.directorApproval === 'Rejected'
                              ? 'badge badge-solid-red'
                              : ''
                          "
                        >
                          <span
                            [class]="
                              row?.directorApproval === 'Approved'
                                ? 'status-dot'
                                : row?.directorApproval === 'Pending'
                                ? 'status-orange'
                                : row?.directorApproval === 'Rejected'
                                ? 'status-red'
                                : ''
                            "
                          ></span>
                          {{ row.directorApproval }}
                        </span>
                      </div>
                      <div>
                        <span
                          [class]="
                            row?.trainingAdminApproval === 'Approved'
                              ? 'badge badge-solid-green'
                              : row?.trainingAdminApproval === 'Pending'
                              ? 'badge badge-solid-orange'
                              : row?.trainingAdminApproval === 'Rejected'
                              ? 'badge badge-solid-red'
                              : ''
                          "
                        >
                          <span
                            [class]="
                              row?.trainingAdminApproval === 'Approved'
                                ? 'status-dot'
                                : row?.trainingAdminApproval === 'Pending'
                                ? 'status-orange'
                                : row?.trainingAdminApproval === 'Rejected'
                                ? 'status-red'
                                : ''
                            "
                          ></span>
                          {{ row.trainingAdminApproval }}
                        </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator
                #paginator
                [length]="totalItems"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="pageSizeChange($event)"
              >
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
