svg {
    position: absolute;
    fill: #000;
    background-color: #d3cdcd;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
#issued{
  width: 126px;
  padding: 8px 3px 4px 9px;

  }
  #submit {
    width: 140px;
    padding: 5px 13px 5px 13px;
    
  }
  .mat-column-actions {
    width: 450px;
}
.center-cell {
  display: flex;
  align-items: center;
}

.center-icon {
  margin-left: 31px;
}

.centered-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9998; 
}

.custom-button-padding {
  display: inline-block; 
  padding-top: 8px; 
  padding-bottom: 8px; 
  font-size: 14px; 
  line-height: 1.2; 
}
@media (max-width: 768px) {
  .materialTableHeader .right {
      height: 149px;
  }
  #submit{
    width: 182px;
    padding: 5px 13px 5px 13px;
  }
  .m3{
    padding: 17px;
  }
}
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding-left: 24px; 
 }
 @media (max-width: 600px) {
   mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
     padding-left: 15px;
   }
   }