#submit{
    width: fit-content;
}
#view{
    border: none;
    background: none;
}
#icon{
    color: #000000;
}
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 24px; 
   }
   @media (max-width: 600px) {
     mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
       padding-left: 15px;
     }
     }