.file-drop-area {
    border: 1px dashed #7c7db3;
    border-radius: 3px;
    position: relative;
    margin-top: 5px;
    transition: 0.2s;
  }
  .file{
   text-align: center;
  }
  .btn{
    margin-top: 6px;
    height: 22px;
  }
  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }
  .file-msg {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 500;
  }
  h5{
    margin-top: 20px;
  }
 
  
  
  .mandatory {
    color: red;
  }