.red-color {
  color: red;
}
::ng-deep .mat-mdc-tab-body-content{
    overflow-x: hidden !important;
  }

  .table-wrapper{
    max-height: 260px; 
    overflow-y: auto;
    margin-right: 20px;
    margin-bottom: 40px;
  }

  .progress-container {
  width: 140px;
  height: 18px;
  background-color: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: width 0.4s ease;
  font-size: 12px;
  font-weight: 600;
  color: #e5e7eb;
  white-space: nowrap;
}

/* Zero progress → no fill */
.progress-bar.zero {
  background-color: transparent;
}

/* 1–40% */
.progress-bar.low {
  background-color: #ef4444;
}

/* 41–80% */
.progress-bar.medium {
  background-color: #f59e0b;
}

/* 81–100% */
.progress-bar.high {
  background-color: #178f43;
}
