<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="body">
            <app-email-sidebar></app-email-sidebar>

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="boxs mail_listing">
            <div class="inbox-center table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th colspan="3">
                      <div class="inbox-header">
                        <div class="mail-option no-pad-left">
                          <div class="email-btn-group m-l-15">
                            <button matTooltip="Archive" (click)="archiveEmails()" mat-icon-button
                              aria-label="Example icon-button with a heart icon">
                              <mat-icon>archive</mat-icon>
                            </button>
                            <button matTooltip="Spam" (click)="spamEmails()" mat-icon-button
                              aria-label="Example icon-button with a heart icon">
                              <mat-icon>error</mat-icon>
                            </button>
                            <button matTooltip="Delete" (click)="deleteSelectedEmails()" mat-icon-button
                              aria-label="Example icon-button with a heart icon">
                              <mat-icon>delete</mat-icon>
                            </button>
                            <div class="tbl-search-box">
                              <label for="search-input"><i class="material-icons search-icon">search</i></label>
                            <input placeholder="Search" type="text" #filter class="browser-default search-field text" [(ngModel)]="filterName" (input)="performSearch()"
                            aria-label="Search box">
        
                          </div>
                          </div>
                        </div>
                      </div>
                    </th>
                    <th class="hidden-xs" colspan="2">
                      <div class="float-end">
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let email of emails" class="unread">
                    <td class="tbl-checkbox">
                      <mat-checkbox (change)="handleCheckboxSelection(email)" class="example-margin"></mat-checkbox>
                    </td>
                    <td class="hidden-xs">
                      <button mat-icon-button (click)="toggleStar(email)">
                        <mat-icon
                          [ngClass]="{'starred': email.fromStarred || email.starred, 'not-starred': !email.fromStarred && !email.starred}">star</mat-icon>
                      </button>
                    </td>
                    <td class="hidden-xs">
                      <a [routerLink]="['/email/read-email',email.id]">{{email?.mail[0].to}}</a>
                    </td>
                    <td class="max-texts">
                      <a [routerLink]="['/email/read-email',email.id]">{{email?.subject}}</a>

                    </td>
                    <td class="text-end"> {{email?.createdAt | date}} </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <mat-paginator class="paginator rounded-5" #paginator [length]="totalItems" (page)="pageSizeChange($event)"
              [pageSizeOptions]="pageSizeArr" aria-label="select pagination option">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>