<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2 class="text-center">
              {{ urlPath === "edit" ? "Edit Request" : "New Request" }}
            </h2>
          </div>
          <div class="body">
            <form class="m-4" *ngIf="requestForm" [formGroup]="requestForm">
              <div class="row">
                <!-- Name -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <label>Employee Name </label>
                  <mat-form-field
                    class="example-full-width filled mb-3"
                    appearance="outline"
                  >
                    <input matInput formControlName="name" />
                    <mat-error
                      *ngIf="
                        requestForm.get('employeeId')?.invalid &&
                        requestForm.get('employeeId')?.touched
                      "
                    >
                      {{
                        utils.getErrorMessage1(
                          requestForm.get("employeeId"),
                          "ename"
                        )
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <!-- Designation -->
                  <label
                    >Designation <span class="mandatory">&nbsp;*</span></label
                  >
                  <mat-form-field
                    class="example-full-width filled mb-3"
                    appearance="outline"
                  >
                    <input matInput formControlName="designation" />
                    <mat-error
                      *ngIf="
                        requestForm.get('designation')?.invalid &&
                        requestForm.get('designation')?.touched
                      "
                    >
                      {{
                        utils.getErrorMessage1(
                          requestForm.get("designation"),
                          "designation"
                        )
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <!-- Department -->
                  <label
                    >Department <span class="mandatory">&nbsp;*</span></label
                  >
                  <mat-form-field
                    class="example-full-width filled mb-3"
                    appearance="outline"
                  >
                    <input matInput formControlName="department" />
                    <mat-error
                      *ngIf="
                        requestForm.get('department')?.invalid &&
                        requestForm.get('department')?.touched
                      "
                    >
                      {{
                        utils.getErrorMessage1(
                          requestForm.get("department"),
                          "department"
                        )
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <!-- Employee ID -->
                  <label>Request ID</label>
                  <mat-form-field
                    class="example-full-width filled mb-3"
                    appearance="outline"
                  >
                    <input matInput formControlName="requestId" readonly />
                  </mat-form-field>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <label>Email ID <span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field
                    class="example-full-width filled mb-3"
                    appearance="outline"
                  >
                    <input matInput formControlName="email" />
                    <mat-error
                      *ngIf="
                        requestForm.get('email')?.invalid &&
                        requestForm.get('email')?.touched
                      "
                    >
                      {{
                        utils.getErrorMessage1(
                          requestForm.get("email"),
                          "email"
                        )
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <label>Ro Name </label>
                  <mat-form-field
                    class="example-full-width filled mb-3"
                    appearance="outline"
                  >
                    <input matInput formControlName="ro" />
                    <mat-error
                      *ngIf="
                        requestForm.get('ro')?.invalid &&
                        requestForm.get('ro')?.touched
                      "
                    >
                      {{
                        utils.getErrorMessage1(requestForm.get("ro"), "sname")
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <label>Training Admin </label>
                  <mat-form-field
                    class="example-full-width filled mb-3"
                    appearance="outline"
                  >
                    <input matInput formControlName="trainingAdmin" />
                    <mat-error
                      *ngIf="
                        requestForm.get('traningAdmin')?.invalid &&
                        requestForm.get('traningAdmin')?.touched
                      "
                    >
                      {{
                        utils.getErrorMessage1(
                          requestForm.get("traningAdmin"),
                          "lname"
                        )
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <label>Director </label>
                  <mat-form-field
                    class="example-full-width filled mb-3"
                    appearance="outline"
                  >
                    <input matInput formControlName="directorName" />
                    <mat-error
                      *ngIf="
                        requestForm.get('directorName')?.invalid &&
                        requestForm.get('directorName')?.touched
                      "
                    >
                      {{
                        utils.getErrorMessage1(
                          requestForm.get("directorName"),
                          "dhname"
                        )
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <p class="mandatory">
                *Please check if the the above values are correct? If not please
                login to your profile & update the credentials correctly.
              </p>
              <div>
                <hr />
                <h5>Course Details</h5>
              </div>
              <div *ngIf="!newCourseReqUrl" class="row mt-3">
                <div class="col-lg-4">
                  <label
                    >Course Name <span class="mandatory">&nbsp;*</span></label
                  >
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <input
                      matInput
                      placeholder="Search"
                      formControlName="courseName"
                      [matAutocomplete]="auto"
                      (input)="performSearch()"
                      #filter
                    />
                    <mat-autocomplete
                      #auto="matAutocomplete"
                      (optionSelected)="onCourseSelected($event)"
                    >
                      <mat-option
                        *ngFor="let course of sourceData"
                        [value]="course.title"
                      >
                        {{ course.title }}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error
                      *ngIf="
                        requestForm.get('courseName')?.invalid &&
                        requestForm.get('courseName')?.touched
                      "
                    >
                      {{
                        utils.getErrorMessage1(
                          requestForm.get("courseName"),
                          "cname"
                        )
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <label
                    >Vendor Name <span class="mandatory">&nbsp;*</span>
                  </label>
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <input matInput formControlName="vendorName" />
                    <mat-error
                      *ngIf="
                        requestForm.get('vendorName')?.invalid &&
                        requestForm.get('vendorName')?.touched
                      "
                    >
                      {{
                        utils.getErrorMessage1(
                          requestForm.get("vendorName"),
                          "vname"
                        )
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <label
                    >Course Cost <span class="mandatory">&nbsp;*</span></label
                  >
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <input matInput formControlName="courseCost" />
                    <mat-error
                      *ngIf="
                        requestForm.get('courseCost')?.invalid &&
                        requestForm.get('courseCost')?.touched
                      "
                    >
                      {{
                        utils.getErrorMessage1(
                          requestForm.get("courseCost"),
                          "cost"
                        )
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="newCourseReqUrl" class="row mt-3">
                <div class="col-lg-4">
                  <label
                    >Vendor Name <span class="mandatory">&nbsp;*</span>
                  </label>
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <input matInput formControlName="vendorName" />
                    <mat-error
                      *ngIf="
                        requestForm.get('vendorName')?.invalid &&
                        requestForm.get('vendorName')?.touched
                      "
                    >
                      {{
                        utils.getErrorMessage1(
                          requestForm.get("vendorName"),
                          "vname"
                        )
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div *ngIf="!newCourseReqUrl" class="row">
                <div class="col-lg-4">
                  <label
                    >Course Timeline
                    <span class="mandatory">&nbsp;*</span></label
                  >
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <input matInput formControlName="courseTimeline" />
                    <mat-error
                      *ngIf="
                        requestForm.get('courseTimeline')?.invalid &&
                        requestForm.get('courseTimeline')?.touched
                      "
                    >
                      {{
                        utils.getErrorMessage1(
                          requestForm.get("courseTimeline"),
                          "timeline"
                        )
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" style="float: right">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button
                    type="button"
                    class="btn-space"
                    mat-raised-button
                    color="warn"
                   (click)="cancel()"
                  >
                    Cancel
                  </button>
                  <button
                    *ngIf="urlPath !== 'edit'"
                    mat-raised-button
                    id="submit1"
                    (click)="onSubmit()"
                  >
                    {{ urlPath === "copy" ? "Re-Submit" : "Submit" }}
                  </button>
                  <button
                    *ngIf="urlPath === 'edit'"
                    mat-raised-button
                    id="submit"
                    (click)="save()"
                  >
                    Update
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
