label {

    font-size: 18px;
    font-weight: 500;
  }
  h5{
    font-size: 17px;
  }
  .mandatory{
    color: red;
  }
  .mat-mdc-form-field-error {
    margin-left: -20px;
  }
  ::ng-deep .filled .mdc-text-field--outlined{
    background-color: rgb(222, 221, 221);
  }
 