<section class="content">
  <div class="content-block">
    <div class="block-header" >
      <!-- breadcrumb -->
      <app-breadcrumb
       
      >
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="right">
              <ul class="tbl-export-btn">
                <li>
                  <ul class="header-buttons-left ms-0">
                    <li class="tbl-search-box">
                      <label for="search-input"
                        ><i class="material-icons search-icon">search</i></label
                      >
                      <input
                        placeholder="Search"
                        type="text"
                        #filter
                        class="browser-default search-field"
                        aria-label="Search box"
                        [(ngModel)]="filterName"
                        class="browser-default search-field"
                        (keyup)="performSearch()"
                      />
                    </li>
                  </ul>
                </li>
                <li>
                  <ul class="tbl-export-btn">
                    <li class="tbl-header-btn">
                      <div class="m-l-10" [hidden]="!selection.hasValue()">
                        <button
                          mat-raised-button
                          color="primary"
                          id="submit" (click)="approveSelectedRows()"
                        >
                          Approve
                        </button>
                      </div>
                    </li>
                    <!-- <li class="tbl-header-btn">
                      <div class="m-l-10" [hidden]="!selection.hasValue()">
                        <button
                          mat-raised-button
                          color="warn"
                          (click)="deleteSelectedRows()"
                        >
                          Cancel
                        </button>
                      </div>
                    </li> -->

                    <li>
                      <span style="font-weight: bold">Export as</span>
                    </li>
                    <li>
                      <div class="export-button m-l-10" matTooltip="XLSX">
                        <img
                          src="assets/excel.svg"
                          (click)="exportExcel()"
                          alt=""
                        />
                      </div>
                    </li>
                    <li>
                      <div class="export-button m-l-10 m-x" matTooltip="PDF">
                        <img
                          src="assets/pdf (1).svg"
                          alt=""
                          (click)="generatePdf()"
                        />
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="body overflow-auto">
            <div class="responsive_table">
              <table
                mat-table
                matSort
                [dataSource]="dataSource"
                class="mat-cell advance-table"
              >
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                    >
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                    >
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Student Name">
                  <mat-header-cell *matHeaderCellDef
                    >{{ commonRoles.STUDENT_ROLE }}
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                   
                    [routerLink]="
                      view
                        ? [
                            '/admin/program/student-program/registered-pending-program/view-pending-program/',
                            row.id
                          ]
                        : null
                    "
                  >
                    <span class="mobile-label">{{ commonRoles.STUDENT_ROLE }}:</span
                    > <span class="name">{{ row.student_name | capitalizeFirstLetter }} </span>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Program Name">
                  <mat-header-cell *matHeaderCellDef>Program</mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                    [routerLink]="
                      view
                        ? [
                            '/admin/program/student-program/registered-pending-program/view-pending-program/',
                            row.id
                          ]
                        : null
                    "
                  >
                    <span class="mobile-label">Program:</span>
                    {{ row.programTitle | capitalizeFirstLetter }}</mat-cell
                  >
                </ng-container>
                <!-- Student Name -->
                <ng-container matColumnDef="Program-Fee">
                  <mat-header-cell *matHeaderCellDef
                    >Program Fee</mat-header-cell
                  >
                  <mat-cell
                    *matCellDef="let row"
                    [routerLink]="
                      view
                        ? [
                            '/admin/program/student-program/registered-pending-program/view-pending-program/',
                            row.id
                          ]
                        : null
                    "
                    class="payment-cell"
                  >
                    <span class="mobile-label">Program Fee:</span
                    ><span>$</span>
                    {{ row.classId.courseId.courseFee || 0 }}.00</mat-cell
                  >
                </ng-container>
                <!-- <ng-container matColumnDef="Instructor-Fee">
                  <mat-header-cell *matHeaderCellDef
                    >{{ commonRoles?.INSTRUCTOR_ROLE }} Fee</mat-header-cell
                  >
                  <mat-cell
                    *matCellDef="let row"
                    class="payment-cell"
                    [routerLink]="
                      view
                        ? [
                            '/admin/program/student-program/registered-pending-program/view-pending-program/',
                            row.id
                          ]
                        : null
                    "
                  >
                    <span class="mobile-label">Instructor Fee:</span
                    ><span>$</span>
                    {{ row.classId.instructorCost || 0 }}.00</mat-cell
                  >
                </ng-container> -->
                <!-- Class Start Date -->
                <ng-container matColumnDef="Class Start Date">
                  <mat-header-cell *matHeaderCellDef
                    >Start Date
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                    [routerLink]="
                      view
                        ? [
                            '/admin/program/student-program/registered-pending-program/view-pending-program/',
                            row.id
                          ]
                        : null
                    "
                  >
                    <span class="mobile-label">Start Date:</span
                    >{{
                      row?.classId?.sessions[0]?.sessionStartDate | date
                    }}</mat-cell
                  >
                </ng-container>
                <!-- Class End Date -->
                <ng-container matColumnDef="Class End Date">
                  <mat-header-cell *matHeaderCellDef>End Date </mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                    [routerLink]="
                      view
                        ? [
                            '/admin/program/student-program/registered-pending-program/view-pending-program/',
                            row.id
                          ]
                        : null
                    "
                  >
                    <span class="mobile-label">End Date:</span
                    >{{
                      row?.classId?.sessions[0]?.sessionEndDate | date
                    }}</mat-cell
                  >
                </ng-container>
                <!--Registered Date -->
                <ng-container matColumnDef="Registered Date">
                  <mat-header-cell *matHeaderCellDef
                    >Registered Date
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                    [routerLink]="
                      view
                        ? [
                            '/admin/program/student-program/registered-pending-program/view-pending-program/',
                            row.id
                          ]
                        : null
                    "
                  >
                    <span class="mobile-label">Registered Date:</span
                    >{{ row.registeredOn | date }}</mat-cell
                  >
                </ng-container>
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef class="pr-0"
                    >Status</mat-header-cell
                  >
                  <mat-cell
                    *matCellDef="let row"
                    class="pr-0"
                    [routerLink]="
                      view
                        ? [
                            '/admin/program/student-program/registered-pending-program/view-pending-program/',
                            row.id
                          ]
                        : null
                    "
                  >
                  <span class="mobile-label">Status:</span>
                    <span
                      [class]="
                        row?.status === 'approved'
                          ? 'badge badge-solid-green'
                          : row?.status === 'registered'
                          ? 'badge badge-solid-red'
                          : ''
                      "
                    >
                      <span
                        [class]="
                          row?.status === 'approved'
                            ? 'status-dot'
                            : row?.status === 'registered'
                            ? 'status-red'
                            : ''
                        "
                      ></span>
                      {{
                        row.status === "approved"
                          ? "Approved"
                          : (" Pending" | titlecase)
                      }}</span
                    >
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  [style.cursor]="'pointer'"
                  matRipple
                >
                </mat-row>
              </table>
              <div *ngIf="!isLoading && (!dataSource || dataSource.length === 0)" class="text-center py-3 no-data-text">
                No data found
              </div>
              <!-- Loading spinner -->
              <div class="tbl-spinner">
                <mat-progress-spinner
                  *ngIf="isLoading"
                  color="primary"
                  [diameter]="40"
                  mode="indeterminate"
                >
                </mat-progress-spinner>
              </div>

              <mat-paginator
                #paginator
                [length]="totalPages"
                (page)="pageSizeChange($event)"
                [pageSizeOptions]="pageSizeArr"
                aria-label="select pagination option"
              >
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
