.title{
    height: 40px;
}
.text-muted{
    margin-top: 20px;
}
.search-icon {
    position: absolute;
    top: 14px;
    padding-left: -2px;
    color: rgba(0, 0, 0, 0.54);
  }
  .text{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    border-radius: 12px;
    border: 0;
    height: 37px;
    padding: 8px 8px 8px 50px;
    width: 250px;
    background: #ffffff;
    transition: background 0.2s, width 0.2s;  
    margin-left: -20px;
}
.ccount {
    background: rgba(45, 67, 86, 0.90);
    color: white;
    border-radius: 0 15px 15px 0;
    padding: 1px 6px;
    font-size: 14px;
    margin-left: 2px;
}

.ecount {
    background: #D64E49;
    color: white;
    border-radius: 0 15px 15px 0;
    padding: 1px 6px;
    font-size: 14px;
    margin-left: 30px;
}