<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-static-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-static-breadcrumb>
        </div>

        <div class="card">
            <div class="row clearfix p-2">
                <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="p-4">
                            <div class="card-container">
                                <!-- <div class="header">
                                    <h6>Program Class</h6>
                                </div> -->
                                <button class="icons" alt="Edit" mat-menu-item *ngIf="isAdmin && !isInstructor && edit"
                                    [routerLink]="['/admin/program/edit-class',aboutData1.id]">
                                    <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                                </button>
                                <button class="icons" (click)="delete(aboutData1.id)"
                                    *ngIf="isAdmin && !isInstructor && isDelete" alt="Delete" mat-menu-item>
                                    <app-feather-icons [icon]="'trash-2'"
                                        [class]="'tbl-fav-delete'"></app-feather-icons>
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                    <img class="image-link"
                                        src="{{aboutData1?.courseId?.image_link || 'assets/noimage.jpg'}}">
                                </div>
                                <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                    <div class="row mt-3 mx-auto">
                                        <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                            <h6>Program</h6>
                                        </div>
                                        <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                            <p>{{aboutData1?.courseId?.title}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-3 mx-auto">
                                        <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                            <h6>Program Code</h6>
                                        </div>
                                        <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12" style="width: 40%;display: flex;">
                                            <p>{{aboutData1?.courseId?.courseCode}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-3 mx-auto">
                                        <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                            <h6>{{commonRoles?.INSTRUCTOR_ROLE}}</h6>
                                        </div>
                                        <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                            <p>{{aboutData1.sessions[0]?.instructorId?.name | titlecase}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-3 mx-auto">
                                        <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                            <h6>Class</h6>
                                        </div>
                                        <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                            <h6 [ngClass]="
                                      aboutData1.classDeliveryType === 'online'
                                      ? 'badge badge-solid-green'
                                      : aboutData1?.classDeliveryType === 'offline' ? 'badge badge-solid-red' : ''
                                      ">
                                                <span [ngClass]="
                                        aboutData1?.classDeliveryType === 'online'
                                        ? 'status-dot' :
                                        aboutData1?.classDeliveryType === 'offline' ? 'status-red' : ''
                                        "></span>{{ aboutData1.classDeliveryType | titlecase}}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                    <div class="p-2">
                                        <!-- <div class="row pt-2">
                                            <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                                <h6>Class Type</h6>
                                            </div>
                                            <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                                <p>{{aboutData1?.classType == '2'?'Private':'Public'}}</p>
                                            </div>
                                        </div> -->
                                        <div class="row pt-2">
                                            <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                                <h6>Start Date</h6>
                                            </div>
                                            <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                                <p>{{aboutData1.sessions[0]?.sessionStartDate | date }}</p>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                                <h6>Minimum {{commonRoles.STUDENT_ROLE}}s</h6>
                                            </div>
                                            <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                                <p>{{aboutData1?.minimumEnrollment}}
                                                <p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                    <div class="p-2">
                                        <!-- <div class="row">
                                            <div class="col-6">
                                                <h6>{{commonRoles?.INSTRUCTOR_ROLE}} Fee</h6>
                                            </div>
                                            <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                                <p>$ {{aboutData1?.instructorCost}}.00</p>
                                            </div>
                                        </div> -->
                                        <div class="row pt-2">
                                            <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                                <h6>End Date</h6>
                                            </div>
                                            <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                                <p>{{aboutData1.sessions[0]?.sessionEndDate | date }}</p>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                                <h6>Maximum {{commonRoles.STUDENT_ROLE}}s</h6>
                                            </div>
                                            <div class="col-xl-6 col-md-12 col-xs-12 col-sm-12">
                                                <p>{{aboutData1?.maximumEnrollment}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <h2 class="text-end"><span></span></h2>
                            <p class="m-b-0"></p>
                        </div>
                        <div class="col-md-10 m-3">
                            <button mat-raised-button id="back"
                                [routerLink]="['/timetable/schedule-class']">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>