<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 ">
                <form [formGroup]="feedbackForm">
                    <div class="card about">
                        <mat-tab-group mat-align-tabs="start">
                            <mat-tab label="About">
                                <div class="p-4">
                                    <ul class="list-group list-group-unbordered">
                                        <li class="list-group-item">
                                            <b>Trainee</b>
                                            <div class="profile-desc-item float-end">{{name | titlecase}}</div>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Email</b>
                                            <div class="profile-desc-item float-end">{{email}}</div>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Program</b>
                                            <div class="profile-desc-item float-end">{{program | titlecase}}</div>
                                        </li>
                                    </ul>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </form>
            </div>
            <div class="col-lg-8 col-md-12">
                <form [formGroup]="feedbackForm">
                    <div class="card about">
                        <mat-tab-group>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    Payment Details
                                </ng-template>
                                <div class="p-4">
                                    <ul class="list-group list-group-unbordered">
                
                                        <li class="list-group-item">
                                            <b>Payment Date</b>
                                            <div class="profile-desc-item float-end">{{createdAt |date}}</div>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Fee</b>
                                            <div class="profile-desc-item float-end">${{price}}.00</div>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Payment Status</b>
                                            <div class="profile-desc-item float-end"><span class="badge badge-solid-green">
                                                <span class="status-dot"></span>{{status | titlecase}}</span></div>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Payment Intent</b>
                                            <div class="profile-desc-item float-end">{{payment_intent | titlecase}}</div>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Transaction ID</b>
                                            <div class="profile-desc-item float-end">{{transactionId | titlecase}}</div>
                                        </li>
                                    </ul>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>


