.container{
    width: 100%;
    height: 72px;
    padding: 0px 5%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    background-color: white;
    max-width: 1295px !important;
}
.image{
    height: 24px;
    width: 137.25px;
    margin-top: 30px;
}
.singpass-container{
    background-color: #f0f0f0 !important;
    height: fit-content;
    padding-top: 20px;
    width: 100%;
    overflow: hidden;
}
.icon{
    margin-top: 200px;
    margin-bottom: 213px;
    float: right;
}
.singpass{
    margin-top: 200px;
    margin-bottom: 213px;
}
.login-container{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    background-color: white;
}
.text{
    color: red;
    border-bottom: 2px solid red;
    text-align: center;
    padding: 3px;

}
.login-button{
    width: 100%;
    height: 50px;
}
.register{
    color: black;
    text-decoration: none;
}