<div class="row mt-5 clearfix">
  <ng-container *ngFor="let component of dashboardCpm.components">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="component?.checked && component.id === 'trainer-list'">
      <div class="card">
        <div class="header mt-3">
          <h2>{{commonRoles?.INSTRUCTOR_ROLE}}s List</h2>
        </div>
        <div class="tableBody">
          <div class="table-responsive">
            <table class="table display product-overview mb-30" id="support_table">
              <thead>
                <tr>
                  <th>Img</th>
                  <th>{{commonRoles?.INSTRUCTOR_ROLE}}</th>
                  <th>Department</th>
                  <th>Gender</th>
                  <th>Qualification</th>
                  <th>Email</th>
                  <th>Mobile</th>
                  <th>Joining Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="instructors?.length == 0">
                  <td colspan="8" class="text-center py-3 no-data-text">No Data Found</td>
                </tr>
                <tr *ngFor="let instructor of instructors" style="cursor: pointer;"
                  (click)="aboutInstructor(instructor.id)">
                  <td class="table-img">
                    <img src="{{instructor?.avatar|| 'assets/profile.png'}}" alt="">
                  </td>
                  <td>{{instructor?.name | titlecase}}</td>
                  <td>
                    <div class="badge col-green">{{instructor?.department}}</div>
                  </td>
                  <td *ngIf="instructor.gender==='male'"><span class="badge badge-solid-green">{{instructor?.gender |
                      titlecase}}</span></td>
                  <td *ngIf="instructor.gender==='female'"><span class="badge badge-solid-purple">{{instructor?.gender |
                      titlecase}}</span></td>
                  <td *ngIf="instructor.gender==='other'"><span class="badge badge-solid-orange">{{instructor?.gender |
                      titlecase}}</span></td>
                  <td>{{instructor?.qualifications[0]?.description}}</td>
                  <td>{{instructor?.email}}</td>
                  <td>{{instructor?.mobile}}</td>
                  <td>{{instructor?.joiningDate | date}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div class="row">
  <ng-container *ngFor="let component of dashboardCpm.components">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" *ngIf="component?.checked && component.id === 'upcoming-courses'"
      style="width: 100%;">
      <div class="card">
        <div class="header mt-3">
          <h2>Upcoming Course Batches</h2>
        </div>
        <!-- <div class="body">
          <div class="card-block" *ngFor="let data of upcomingCourses" style="cursor: pointer;"
            [routerLink]="['/admin/courses/all-courses']">
            <div class="row m-b-20">
              <div class="col-md-8" style="margin-left: -15px;">
                <h6>{{data.courseName| titlecase |truncate : 25}}</h6>
                <div class="row">
                  <div class="col-md-2">
                    <b>{{ data.traineeName}}</b>
                  </div>
                  <div class="col-md-2">
                    <b>{{ data.department}}</b>
                  </div>
                  <div class="col-md-2">
                    <b>{{ data?.courseReferenceNumber}}</b>
                  </div>
                  <div class="col-md-3">
                    <b style="color: blue;"><i class="fa fa-play-circle-o"></i> {{data.registrationStartDate | date}}</b>
                  </div>
                  <div class="col-md-3">
                  <span
                        [class]=" data.classDeliveryType === 'online' ? 'badge badge-solid-green' :  data.classDeliveryType === 'offline' ? 'badge badge-solid-red' : ''">
                        <span
                          [class]=" data.classDeliveryType === 'online' ? 'status-dot' :  data.classDeliveryType === 'offline' ? 'status-red' : ''"></span>
                        {{ data.classDeliveryType ==='online'? 'Online':'Offline' | titlecase}}</span>
                      </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button mat-stroked-button [routerLink]="['/admin/courses/course-name']" color="primary">View
              More</button>
          </div>
        </div> -->
        <div class="tableBody">
          <div class="table-responsive">
            <table class="table display product-overview mb-30" id="support_table">
              <thead>
                <tr>
                  <th>Course</th>
                  <th>{{commonRoles?.INSTRUCTOR_ROLE}}</th>
                  <th>Department</th>
                  <th>Course Code</th>
                  <th>Date</th>
                  <th> Class</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="upcomingCourses?.length == 0">
                  <td colspan="8" class="text-center py-3 no-data-text">No Data Found</td>
                </tr>
                <tr *ngFor="let data of upcomingCourses" style="cursor: pointer;">
                  <td>{{data.courseName| titlecase |truncate : 25}}</td>
                  <td>{{data.traineeName | titlecase}}</td>
                  <td>
                    <div class="badge col-green">{{data.department}}</div>
                  </td>
                  
                  <td>{{data?.courseReferenceNumber}}</td>
                  <td> {{data.registrationStartDate | date}}</td>
                  <td><span
                    [class]=" data.classDeliveryType === 'online' ? 'badge badge-solid-green' :  data.classDeliveryType === 'offline' ? 'badge badge-solid-red' : ''">
                    <span
                      [class]=" data.classDeliveryType === 'online' ? 'status-dot' :  data.classDeliveryType === 'offline' ? 'status-red' : ''"></span>
                    {{ data.classDeliveryType ==='online'? 'Online':'Offline' | titlecase}}</span></td>
                 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>