<div class="container fade-in">
  <h1 class="text-capitalize">{{ data.title }}</h1>
  <div class="row">
  </div>
  <div class="row mt-2">
    <div class="col-md-3" *ngIf="code">
      <p class="info-text">Program Code</p>
    </div>
    <div class="col-md-2" *ngIf="code">
      <p class="info-text">
        <span class="highlight">{{ data.programCode }}</span>
      </p>
    </div>

    <div class="col-md-3" *ngIf="!code">
      <p class="info-text">Course Code</p>
    </div>
    <div class="col-md-2" *ngIf="!code">
      <p class="info-text">
        <span class="highlight">{{ data.courseCode|| '--'}} </span>
      </p>
    </div>

    <div class="col-md-3">
      <p class="info-text">Time</p>
    </div>
    <div class="col-md-4">
      <p class="info-text">
        <span class="highlight">{{ data.sessionStartTime }} - {{ data.sessionEndTime }}</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p class="info-text">Class</p>
    </div>
    <div class="col-md-2">
      <p class="info-text">
        <span class="highlight">{{ data.deliveryType | titlecase }}</span>
      </p>
    </div>
    <div class="col-md-3">
      <p class="info-text">Department</p>
    </div>
    <div class="col-md-4">
      <p class="info-text">
        <span class="highlight"> {{ data.department }}</span>
      </p>
    </div>
    <div class="col-md-3" *ngIf="data?.meetingUrl">
      <p class="info-text">Meeting Link</p>
    </div>
    <div class="col-md-2" *ngIf="data?.meetingUrl">
      <a *ngIf="data?.meetingUrl" href="{{ data.meetingUrl }}" target="_blank" class="highlight" style="display: inline-block; text-decoration: none; border-radius: 4px;">
       Join now
      </a>
    </div>
    <div class="col-md-3" *ngIf="data?.duration">
      <p class="info-text">Duration</p>
    </div>
    <div class="col-md-4" *ngIf="data?.duration">
      <p class="info-text">
        <span class="highlight">{{ data.duration }}</span>
      </p>
    </div>
  </div>
  <div class="text-right mt-4">
    <button type="button" mat-raised-button color="warn" mat-button mat-dialog-close>
      Close
    </button>
    <button *ngIf="isStudent && isProgram && !data.reschedule" type="button" mat-raised-button id="submit"
      [routerLink]="['/student/view-program/',data?.id]" mat-dialog-close style="float: right;">
      Register
    </button>
    <button *ngIf="isStudent  && code && data.reschedule" type="button" mat-raised-button id="submit"
    [routerLink]="['/reschedule/programs']" mat-dialog-close style="float: right; width: 120px;">
    Reschedule
  </button>
    <button *ngIf="isStudent  && !code && data.reschedule" type="button" mat-raised-button id="submit"
      [routerLink]="['/reschedule/courses']" mat-dialog-close style="float: right; width: 120px;">
      Reschedule
    </button>
    <button *ngIf="isStudent && !isProgram && !data.reschedule" type="button" mat-raised-button id="submit"
    [routerLink]="['/student/view-course/',data?.id]" mat-dialog-close style="float: right;">
    Register
  </button>
  </div>
</div>