.file-drop-area {
  border: 1px dashed #7c7db3;
  border-radius: 15px;
  position: relative;
  // max-width: 100%;
  margin-top: 5px;
  // padding: 26px 20px 30px;
  transition: 0.2s;
}
.file-drop-area button{
  border-radius: 12px;
}
.file{
 text-align: center;
}
.btn{
  margin-top: 6px;
  height: 22px;
}
.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.file-msg {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 500;
  // color: #5b5bff;
}
h5{
  padding-top: 10px;
}
label {
  font-size: 20px;
  font-weight: 500;
}

::ng-deep .example-full-width .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 12px;
  font-style: italic;
}

.mandatory {
  color: red;
}