<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="row">
                        <div class="col-9">
                            <div class="header mt-3 student-header">
                                <span class="role">{{ commonRoles?.STUDENT_ROLE }}</span>
                                <span class="divider">•</span>
                                <span class="name" *ngIf="responseData">
                                    {{ responseData[0]?.studentId?.name | titlecase }}
                                </span>
                            </div>

                        </div>
                        <!-- <div class="col-1 mt-4">
                            <div class="export-button" matTooltip="XLSX">
                                <img src="assets/excel.svg" alt="" (click)="exportExcel()" />
                            </div>
                        </div>
                        <div class="col-1 mt-4">
                            <div class="export-button" matTooltip="PDF">
                                <img src="assets/pdf (1).svg" alt="" (click)="generatePdf()" />
                            </div>
                        </div> -->
                    </div>
                    <hr style="width: 92.7%; margin-left: 20px;">
                    <div class="table-wrapper">
                        <div class="table-responsive">
                            <table class="table table-hover mt-3" style="max-width: 95%; margin-left: 20px;">
                                <thead>
                                    <tr>
                                        <th>Department</th>
                                        <th>Progress</th>
                                        <th>Status</th>
                                        <th>Registered Date</th>
                                        <th>Completed Date</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="responseData && responseData.length>0">
                                    <tr style="cursor: pointer;" *ngFor="let row of responseData">
                                        <td>{{ row?.studentId.department | capitalizeFirstLetter}}</td>
                                        <td>
                                            <div class="progress-container">
                                                <div class="progress-bar"
                                                    [ngClass]="getProgressClass(row.playbackTime ?? 0)"
                                                    [style.width.%]="row.playbackTime ?? 0">

                                                    <span class="progress-label">
                                                        {{ row?.playbackTime ?? 0 }}%
                                                    </span>

                                                </div>
                                            </div>
                                        </td>




                                        <td [ngClass]="{
    'text-success': row?.status === 'completed',
    'text-primary': row?.status === 'inProgress',
    'text-orange': row?.status === 'approved',
    'text-warning': row?.status === 'enquiry',
    'text-danger': row?.status === 'registered'
  }">
                                            {{ getStatusLabel(row.status) }}
                                        </td>
                                        <td>
                                            {{ row?.registeredOn | date }}
                                        </td>
                                        <td>
                                            {{ row?.status == 'completed' ? (row.updatedAt | date) : "-" }}
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!responseData || responseData.length === 0">
                                    <br> No {{commonRoles?.STUDENT_ROLE}} has been registered
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>