<section [ngClass]="{'full-width': dialogStatus, 'content': true}">
  <div *ngIf="dialogStatus" class="dialog-header">
    <!-- <button mat-icon-button  color="warn" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button> -->
    <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
  </div>
    <div class="content-block">
      <ng-container *ngIf="!dialogStatus">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
    </ng-container>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card" style="height: fit-content;">
            <div class="header">
              <!-- <h2>Create Funding/Grant</h2> -->
            </div>
            <div class="body">
                <form [formGroup]="fundingForm">

                <div class="row">
                  <div class="col-3">
                    <label>Funding/Grant  <span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width " appearance="outline">
                            <input matInput type="text" formControlName="grant_type"
                            class="form-control" placeholder="Enter New Funding/Grant"
                            >      
                            <mat-error *ngIf="fundingForm.get('grant_type')?.invalid ||fundingForm.get('grant_type')?.touched">
                              {{ utils.getErrorMessage1(fundingForm.get('grant_type'), 'grant_type') }}
                            </mat-error>
                                      
                        </mat-form-field>
                  </div>
                  <div class="col-3">
                    <label>Description <span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width " appearance="outline">
                            <input matInput type="text" formControlName="description"
                            class="form-control" placeholder="Enter Description"
                            >      
                            <mat-error *ngIf="fundingForm.get('description')?.invalid ||fundingForm.get('description')?.touched">
                              {{ utils.getErrorMessage1(fundingForm.get('description'), 'description') }}
                            </mat-error>
                                      
                        </mat-form-field>
                  </div>
                </div>
                </form>
                <hr/>
                <div class="float-end">
                    <!-- <div class="d-grid gap-3 d-md-flex">
                    <button  mat-raised-button *ngIf="isCreate"  id="submit" (click)="onSubmit()" > Create </button>
                    </div> -->
                    <div class="col-md-2">
                      <button mat-raised-button id="submit" (click)="onSubmit()">Create</button>
                  </div>
                  </div>
                  <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!dialogStatus">
                      <div class="header mt-3">
                        <h2>Funding/Grant Listing</h2>
                      </div>
                      <div class="table-wrapper">
                        <div class="table-responsive">
                          <table class="table table-hover ">
                            <thead>
                              <tr>
                                <th>Funding/grant</th>
                                <th>Description</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr style="cursor: pointer;" *ngFor="let row of dataSource">
                                <td (click)="isEdit ? update(row) : null">{{row.grant_type | capitalizeFirstLetter}}</td>                         
                                <td (click)="isEdit ? update(row) : null">{{row.description | capitalizeFirstLetter}}</td>   
                              </tr>
    
                            </tbody>
                          </table>
                        </div>
                      </div>
                  </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- here the code for dialogbox -->
  