.font-color {
  color: #4f4f4f;
}

.size {
  font-size: 16px;
}
$green--success: #4eb36c;

.checkmark {
  // background-color: $green--success;
  .check {
      border-width: 0px 3px 3px 0;
      border-color: $green--success;
      border-style: solid;
      box-sizing: content-box;
      display: block;
      height: 24px;
      margin: 0 auto;
      transform: rotate(49deg) translateY(-1px) translateX(0px);
      width: 8px;
  
    }


}
.status-dot {
  width: 8px;
  height: 8px;
  background-color: #198754;
  border-radius: 50%; // To make it a circle
  display: inline-block;
  margin-right: 5px; // Space between dot and text
}
.status-red {
  width: 8px;
  height: 8px;
  background-color: #f11541;
  border-radius: 50%; // To make it a circle
  display: inline-block;
  margin-right: 5px; // Space between dot and text
}

h5{
  color:#575757
}

.btn-right{
  margin-right: 53px;
}

.border-class {
  margin: 3px;
}
.bg-c-green{
  border-radius: 5px;
  padding: 3px;
}

.bg-icon{
  border: 1px solid #5f5fca;
  border-radius: 50%;
}

.image-link{
  width: 100%;
  height: 250px;
  border: 1px solid black;
  border-radius: 10px;
}
.img-w{
  height: 20px;
  margin-right: 25px;
  }


.link {
  cursor: pointer;
  color: #0D6EFD;
}
.fixed-table {
  table-layout: fixed;
}

.fixed-table td:nth-child(3) {
  width: 100px;
  text-align: right;
  padding-right: 200px;
}