.status-dot {
    width: 8px;
    height: 8px;
    background-color: #198754;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }

.compulsory-count-header {
    min-width: 160px;
  }
  .payment-cell{
    padding-right: 100px !important;
  }

  @media (max-width: 768px) {
    .payment-cell {
      display: block;
      justify-content: center;
      margin-top: 10px;
      padding-right: 0px !important;
    }
  }
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 24px; 
   }
   @media (max-width: 600px) {
     mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
       padding-left: 15px;
     }
     }