.feedLblStyle1 {
    padding: 0px 7px 0px 7px;
    border-radius: 10px;
  }
  .info-box7 {
    color: #000;
  }
  .info-box7-block1 {
    padding: 25px;
  }
  .img {
    width: 124px;
    height: 101px;
    padding: 3px;
  }
  .card-container {
    position: relative;
    display: flex;
    justify-content: flex-end; 
  }
  
  .menu-button {
    position: absolute;
    top: 0; 
    right: 0;
    width: fit-content;
  }
  .icons{
    width: 10%;
      margin: 10px;
      border: none;
      background: transparent;
  }

  @media (max-width: 767px) {
    .icons{
      width: 32%;
        margin: 0px;
    }
  }
  .border-class {
      margin: 3px;
  }
  
  .bg-c-pink{
    color: #fdfdfd;
    border-radius: 5px;
  }
  
  .res_img{
    width: 100%;
    height: 240px !important;
  
  }
  
  .period {
    font-size: 16px;
    font-weight: 500;
  }
  
  .bg-c-green{
    border-radius: 5px;
    padding: 3px;
  }
  .image-link{
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
  }
  h6{
    color:#575757
}

