/*
 *  Document   : _labels.scss
 *  Author     : RedStar Template
 *  Description: This scss file for label style classes
 */
.label {
  @include border-radius(10px);
  padding: 2px 10px;
  color: #fff;
  display: inline-block;
}

.label-default {
  background-color: #777;
}

.label-primary {
  background-color: #1f91f3;
}

.label-success {
  background-color: #2b982b;
}

.label-info {
  background-color: #00b0e4;
}

.label-warning {
  background-color: #ff9600;
}

.label-danger {
  background-color: #fb483a;
}

.name {
  color: deepskyblue;
  font-weight: 500;
}

.email-address {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-cell {
  background-color: #f0f0f0; // Light background color
}

.success .status-text {
  color: green; // Text color for success
  background-color: #d4edda; // Background color for success text
}

.fail .status-text {
  color: red; // Text color for failure
  background-color: #f8d7da; // Background color for failure text
}

.status-text {
  padding: 2px 5px; // Adjust padding as needed
  border-radius: 8px; // Add some border radius for rounded corners
}

.custom-cell {
  background-color: #f0f0f0; // Light background color for the cell
}

.success {
  .status-container {
      background-color: #d4edda; // Background color for success
  }

  .status-dot {
      background-color: green; // Color of the dot for success
  }
}

.fail {
  .status-container {
      background-color: #f8d7da; // Background color for failure
  }

  .status-dot {
      background-color: red; // Color of the dot for failure
  }
}

.status-container {
  display: inline-block;
  padding: 2px 5px; // Adjust padding as needed
  border-radius: 5px; // Rounded corners for the background
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%; // To make it a circle
  display: inline-block;
  margin-right: 5px; // Space between dot and text
}

.mat-cell {
  width: fit-content;
  height: 1px;
  border-color: white;
  align-self: stretch;
}
.mat-header-cell {
  color: white;
  background-color: #000046;
  padding: 20px;
  border-color: white;
  align-self: stretch;
}
.email-icon {
  height: 10px;
  margin-right: 8px; /* Adjust spacing as needed */
  vertical-align: middle; /* Align icon vertically with text */
}