.file-drop-area {
  border: 1px dashed #7c7db3;
  border-radius: 15px;
  position: relative;
  margin-top: 5px;
  transition: 0.2s;
}

.file{
 text-align: center;
}
.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}


.dashboard-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 5px;
  position: relative;
}

.delete-button {
  color: red; /* Make icon red */
  position: absolute;
  top: 5px;
  right: 5px;
}


.dashboard-container {
  position: relative;
  padding: 20px;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-button mat-icon {
  color: red;
  font-size: 24px;
}

.mat-tooltip {
  font-size: 14px;
  background-color: black !important;
  color: white !important;
}


.file-msg {
  margin-left: 20px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 500;
}
.btn{
  margin-top: 6px;
  height: 22px;
}
h5{
  padding-top: 10px;
}
  
  .mandatory {
    color: red;
  }
  #saved{
    border: none;
    color: #3636f4;
    background: none;
  }
  #no-link{
    border: none;
    color: black;
    background: none;
  }
.email{
  padding-left: 140px;
}
.banner{
  padding-left: 100px;
  width: 56%;
}
.container {
  display: flex;
  border-radius: 10px;
}

.sidenav {
  width: 200px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.main-content {
  width: calc(100% - 200px);
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f9f9f9;
  border-left: 1px solid #ddd;
}
.sidenav button.active {
  color: black;
  background-color: #cfe2ff;
  border: none;
  padding-top: 20px;
  text-align: start;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10px;
}
.sidenav button {
  color: black;
  background-color: #f1f1f1;
  border: none;
  text-align: start;
  font-size: 16px;
  margin-top: 10px;
}
.sidenav label{
  padding-top: 20px;
  padding-left: 10px;
}
.factor{
  width: 90px;
  height: 90px;
}
.para{
  padding-top: 15px;
  text-align: center;
}
#verify{
  width: 300px;
  padding: 3px;
  background: #6777ef;
  border: none;
  color: #FFF;
}


.dashboard {
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 4px;

}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

h5 {
  margin-top: 0;
  cursor: pointer;
}

.mat-checkbox {
  margin-bottom: 8px;
}

.menu{
  font-size: 12px;
  font-weight: 400;
}
.material-icons {
  vertical-align: middle;
  cursor: pointer;  
}


.card {
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #ffffff;
}

.body .row {
  display: flex;
}

.col-3 {
  flex: 1;
}

.col-9 {
  flex: 3;
}

.dashboard {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.dashboard-header {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

.dashboard-header:hover {
  background-color: #d0d0d0;
}

.dashboard-icon h6 {
  margin: 0;
  font-weight: bold;
}

.example-full-width {
  width: 100%;
}

.menu {
  font-size: 14px;
  margin: 0;
}

.container button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  background-color: #45a049;
}
::ng-deep .mat-mdc-tab-body-content{
  overflow-x: hidden !important;
}

.card-h{
margin: auto;
height: fit-content;
width: 65%;
}

@media (max-width: 767px) {
  .card-h {
   width: auto;
  }
}
.singpass-link {
  color: #242424;
  // background-color: #da2626;
  padding: 8px 12px;
  border: 1px solid #4e4e4e;
  width: 35%;
  font-weight: 600;
  border-radius: 10px;
}

.singpass-btn {
  border: 1px solid #8a2727; 
  color: #242424;
  background: transparent;
  padding: 5px 14px;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 5px;
  height: 36px; 
  display: flex;
  align-items: center;
}