<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{editUrl?'Edit':'Add'}} Department Profile</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Department<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-select formControlName="department" required>
                      <mat-option *ngFor="let items of depts" [value]="items.department">
                        {{items.department | capitalizeFirstLetter}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="departmentForm.get('department')?.hasError('required')">
                      Enter Department
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Head Of Department<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-select (selectionChange)="onSelectChange1($event)" formControlName="hod" required>
                      <mat-option *ngFor="let item of users" [value]="item.id">
                        {{item.name}} {{item.last_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Mobile<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <input matInput formControlName="mobile">
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>phone</mat-icon>
                    <mat-error *ngIf="departmentForm.get('mobile')?.hasError('required')">
                      Enter Mobile
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Department Start Date<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <input matInput [matDatepicker]="picker" formControlName="departmentStartDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="departmentForm.get('departmentStartDate')?.hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Student Capacity<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <input matInput formControlName="studentCapacity" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>group</mat-icon>
                    <mat-error *ngIf="departmentForm.get('studentCapacity')?.hasError('required')">
                      Enter Student Capacity
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Details</label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <textarea matInput formControlName="details"></textarea>
                  </mat-form-field>
                </div>
                </div>
                <div class="row" style="float: right;">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">

                    <button class="btn-space" type="button" mat-raised-button color="warn"
                      (click)="cancel()">Cancel</button>
                    <button *ngIf="!editUrl" [disabled]="!departmentForm.valid " mat-raised-button
                      id="submit">Create</button>
                    <button *ngIf="editUrl" [disabled]="!departmentForm.valid " mat-raised-button
                      id="submit">Update</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>