.title{
    height: 40px;
}
.text-muted{
    margin-top: 20px;
}

.name {
    color: deepskyblue;
    font-weight: 500;
}
svg{
    position: absolute;
    fill: #000;
    background-color: #d3cdcd;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
::ng-deep .mat-mdc-menu-content {
        margin: 0;
        padding: 8px 20px;
        border-radius: 10px;
        list-style-type: none;
       
}
::ng-deep .mat-mdc-menu-panel{
    --mat-menu-container-shape: 12px;
}
.menu-text{
    padding-left: 20px;
}
.call{
   
    margin-left: 70px;
}
.mail{
    margin-left: 40px;
}

.bg {
    fill: #000;
    background-color: #d3cdcd;
  }
  .color{
    color:#6777ef
  }
  
  .img-w{
  width: 16%;
  }
.ccount {
    background: rgba(45, 67, 86, 0.90);
    color: white;
    border-radius: 0 15px 15px 0;
    padding: 1px 13px;
    font-size: 14px;
    margin-left: 10px;
}

.ecount {
    background: #D64E49;
    color: white;
    border-radius: 0 15px 15px 0;
    padding: 1px 13px;
    font-size: 14px;
    margin-left: 15px;
}

.count {
    border-left: 1px solid #7A7A7A;
}
.text {
    padding-left:50px;
    padding-top: 20px;
  }
  .cards img{
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
      0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      pointer-events: none;
  }

  .grid svg {
    position: absolute;
    top: 0;
    right: -35px;
    fill: #000;
    background-color: #d3cdcd;
    margin-top: 0px;
    margin-right: 8px;
    border-radius: 10px;
    padding: 3px;
}

// modal-box styling
::ng-deep .mat-mdc-menu-content {
        margin: 0;
        padding: 8px 20px;
        border-radius: 10px;
        list-style-type: none;
       
}
// modal-box curving
::ng-deep .mat-mdc-menu-panel{
    --mat-menu-container-shape: 12px;
}
.menu-text{
    padding-left: 20px;
}
  .modal-content {
    padding-left: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:hover {
    background-color: #ddd;
  }
  .status-dot {
    width: 8px;
    height: 8px;
    background-color: #198754;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }
  .status-red {
    width: 8px;
    height: 8px;
    background-color: #f11541;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }
::ng-deep .mat-mdc-tab-body-content{
  overflow-x: hidden !important;
}
mat-header-cell{ 
  min-width: 130px !important;
}
mat-cell{ 
  min-width: 150px !important;
  // padding-right: 30px;
}
.amount{
  width: 100% !important;
}


.card .selected-overlay {
  display: none; 
}
.login{
  border: 2px solid black;
  border-radius: 10px;
  width:100%;
  height: 170px;
  display: flex;
  cursor: pointer;
}
.login:hover{
  border: 2px solid #2497d1;;
  
}

.card.selected {
  border-color: #2497d1; 
  box-shadow: 0 0 5px rgba(22, 164, 225, 0.5);
}

.card.selected .selected-overlay {
  display: block; 
}

.selected-overlay {
  position: absolute;
  top: 5px;
  right: 5px;
}

.selected-overlay i {
  color: white; 
  font-size: 10px;
  background-color: #2497d1; 
  padding: 5px;
  border-radius: 50%; 
}


.payment-cell1{
    padding-left: 0px;
    display: flex;
    justify-content: end;
    padding-right: 60px;
  // padding-right: 10px !important;
}
input[type="file"]::file-selector-button {
  border: 2px solid #00a9ce;
  background-color: #FFF;
  border-radius: 5px;
  height: 32px;
  color: #00a9ce;
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
  }

// .upload-btn {
//   margin-right: -100px;
//   width: 90%;
//   border: none; 
//   background: none;
//   cursor: pointer;
// }
.upload-btn {
  margin-right: -200px;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.file-input {
  /* This hides the default file input label */
  color: transparent;
  // width: 100%;
}

.file-input::file-selector-button {
  color: initial; /* Keeps the "Choose File" button text */
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.custom-button-padding {
  display: inline-block; 
  padding-top: 8px; 
  padding-bottom: 8px; 
  font-size: 14px; 
  line-height: 1.2; 
}

.centered-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9998; 
}
//added style for radio button
.radio-button-container {
  background-color: #f5f5f5; 
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  z-index: 100; 
  width: 250px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

mat-radio-group {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

mat-radio-button {
  margin: 5px 0; 
  width: 100%; 
  text-align: left; 
  justify-content: flex-start; 
}



@media only screen and (max-width: 767px) {
  .amount{
    padding-right: 76px !important;
  }
  
}

@media only screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
  
  
}
@media only screen and (max-width: 767px) {
  .no-justify-mobile {
    justify-content: flex-start !important; 
  }
  
}

@media only screen and (max-width: 767px) {
  .overflow-y {
    overflow-y: auto;
  }
}

@media (max-width: 768px) {
  .materialTableHeader .right {
      height: 159px;
  }
 
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
 padding-left: 24px; 
}
@media (max-width: 600px) {
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 15px;
  }
  }