<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="materialTableHeader">
                    <div class="right">
                        <ul class="tbl-export-btn">
                          <li>
                            <ul class="header-buttons-left ms-0">
                              <li class="tbl-search-box">
                                <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                <input placeholder="Search" type="text" #filter class="browser-default search-field"
                                  aria-label="Search box" [(ngModel)]="searchTerm" class="browser-default search-field"  (keyup)="performSearch()">
                              </li>
                            </ul>
                          </li>
                             <li class="tbl-header-btn">
                                <div class="m-l-10" matTooltip="ADD">
                                  <button mat-raised-button [routerLink]="['/student/settings/user-group']"
                                  id="submit">Create</button>
                                </div>
                              </li>
                        </ul>
                      </div>

                    </div>

                    <div class="body overflow-auto">
                        <div class="responsive_table">
                          <table mat-table matSort [dataSource]="dataSource" class="mat-cell advance-table">
                            <ng-container matColumnDef="Group Name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Group Name</mat-header-cell>
                              <mat-cell *matCellDef="let row" class="name">
                                <span class="mobile-label">Group Name:</span>{{row.group_name | capitalizeFirstLetter}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="User Type">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Users</mat-header-cell>
                              <mat-cell *matCellDef="let row">
                                <span class="mobile-label">User Type:</span>
                                <ng-container *ngFor="let user of row.userId; let i = index; let last = last">
                                  {{ user.name }}
                                  <span *ngIf="!last">,</span>
                                </ng-container>
                              </mat-cell>
                            </ng-container>
                          

               
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"
                              [style.cursor]="'pointer'" matRipple>
                            </mat-row>
                          </table>
                          <div  class="tbl-spinner">
                            <mat-progress-spinner *ngIf="isLoading" color="primary" [diameter]="40" mode="indeterminate">
                            </mat-progress-spinner>
                          </div>
          
                          <mat-paginator #paginator [length]="totalItems" (page)="pageSizeChange($event)"
                          [pageSizeOptions]="pageSizeArr" aria-label="select pagination option">
                      </mat-paginator>
          
                        </div>
                      </div>



                    </div>
                    </div>
            
          </div>
    </div>
<section>