svg {
  position: absolute;
  fill: #000;
  background-color: #d3cdcd;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 10px;
  padding-left: 3px;
  padding-right: 3px;
}
.status-dot {
  width: 8px;
  height: 8px;
  background-color: #198754;
  border-radius: 50%; // To make it a circle
  display: inline-block;
  margin-right: 5px; // Space between dot and text
}
.status-red {
  width: 8px;
  height: 8px;
  background-color: #f11541;
  border-radius: 50%; // To make it a circle
  display: inline-block;
  margin-right: 5px; // Space between dot and text
}
// modal-box styling
::ng-deep .mat-mdc-menu-content {
      margin: 0;
      padding: 8px 20px;
      border-radius: 10px;
      list-style-type: none;
     
}
// modal-box curving
::ng-deep .mat-mdc-menu-panel{
  --mat-menu-container-shape: 12px;
}
.menu-text{
  padding-left: 20px;
}
.paginator{
  background: none;
}
::ng-deep .mat-sort-header-content {
  text-align: center !important; 
  display: flex !important;
  align-items: center !important;
  white-space: nowrap;
}
::ng-deep .mat-mdc-tab-body-content{
  overflow-x: hidden !important;
}

.table-wrapper{
  // width: 50%;
  max-height: 260px; 
  overflow-y: auto; 
  // margin: auto;
  // margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
















// .feedLblStyle1 {
//     /* font-weight: bold; */
//     padding: 0px 7px 0px 7px;
//     border-radius: 10px;
//   }
//   .info-box7 {
//     color: #000;
//   }
//   .img {
//     width: 124px;
//     height: 101px;
//     padding: 3px;
//   }
//   .card-container {
//     position: relative;
//     display: flex;
//     justify-content: flex-end; 
//   }
  
//   .menu-button {
//     position: absolute;
//     top: 0; 
//     right: 0;
//     width: fit-content;
//   }
//   .icons{
//     width: 10%;
//       margin: 10px;
//       border: none;
//       background: transparent;
//   }
  

  
//   .border-class {
//       margin: 3px;
//   }
  
//   .bg-c-pink{
//     color: #fdfdfd;
//     border-radius: 5px;
//   }
  
//   .res_img{
//     width: 100%;
//     height: 240px !important;
  
//   }
  
//   .period {
//     font-size: 16px;
//     font-weight: 500;
//   }
  
//   .bg-c-green{
//     border-radius: 5px;
//     padding: 3px;
//   }
//   .image-link{
//     height: 200px;
//     border: 1px solid black;
//     border-radius: 10px;
//     margin-bottom: 20px;
//     padding: 10px;
//   }