<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadcrumbs">
      <!-- breadcrumb -->
      <app-static-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-static-breadcrumb>
    </div>
    <div class="row clearfix mt-5">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-lg-8">
                <div class="card p-3">
                  <div class="d-flex justify-content-end" *ngIf="button">
                    <div class="d-flex">
                      <button
                        alt="Edit" *ngIf="edit"
                        mat-menu-item
                        
                        (click)="openCourseDialog()"
                      >
                        <app-feather-icons 
                          [icon]="'edit'"
                          class="tbl-fav-edit"
                        ></app-feather-icons>
                      </button>
                      <button
                        alt="Delete" *ngIf="isDelete"
                        mat-menu-item
                        (click)="delete(sourceData.id)"
                      >
                        <app-feather-icons
                          [icon]="'trash-2'"
                          class="tbl-fav-delete"
                        ></app-feather-icons>
                      </button>
                      <button
                        mat-menu-item
                        (click)="approveCourse(sourceData)"
                        class="align-items-center"
                      >
                        <img
                          class="img-w"
                          src="/assets/approve.svg"
                          alt="approve"
                        />
                      </button>
                    </div>
                  </div>
                  <div class="container mt-3">
                    <div class="row">
                      <div class="col-6">
                        <img
                          class="image-link"
                          src="{{
                            sourceData?.image_link || 'assets/noimage.jpg'
                          }}"
                        />
                      </div>
                      <div class="col-6">
                        <div class="row mt-4 mx-auto">
                          <div class="col-xl-6 col-sm-6 col-md-5 col-lg-5">
                            <h6>Course</h6>
                          </div>
                          <div class="col-xl-6 col-sm-6 col-md-5 col-lg-5">
                            <p>{{ sourceData?.title }}</p>
                          </div>
                        </div>
                        <div class="row mt-3 mx-auto">
                          <div class="col-xl-6 col-sm-6 col-md-5 col-lg-5">
                            <h6>Course Code</h6>
                          </div>
                          <div class="col-xl-6 col-sm-6 col-md-5 col-lg-5">
                            <p>
                              {{ sourceData?.courseCode }}
                            </p>
                          </div>
                        </div>
                      
                        <div class="row mt-3 mx-auto">
                          <div class="col-xl-6 col-sm-6 col-md-5 col-lg-5">
                            <h6>Course Type</h6>
                          </div>
                          <div class="col-xl-6 col-sm-6 col-md-5 col-lg-5">
                            <p>{{ sourceData?.selectedOptionValue.replace('And', ' & ')}}</p>

                          </div>
                        </div>
                        <div class="row mt-3 mx-auto">
                          <div class="col-xl-6 col-sm-6 col-md-5 col-lg-5">
                            <h6>Status</h6>
                          </div>
                          <div class="col-xl-6 col-sm-6 col-md-5 col-lg-5">
                            <h6
                              [ngClass]="
                              sourceData?.status === 'active'
                                  ? 'badge badge-solid-green'
                                  : sourceData?.status === 'inactive' ? 'badge badge-solid-red' : 'badge badge-solid-red'
                              "
                            >
                              <span
                                [ngClass]="
                                sourceData?.status === 'active'
                                    ? 'status-dot' :
                                    sourceData?.status === 'inactive' ? 'status-red' : 'status-red'
                                "
                              ></span
                              >{{ sourceData?.status | titlecase }}
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="row mt-5 mx-auto">
                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h6>Days</h6>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <p>
                          {{ sourceData?.course_duration_in_days || 0 }}{{sourceData?.course_duration_in_days>1?" Days":" Day"}}
                        </p>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h6>Hours</h6>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <p>
                          {{ sourceData?.training_hours || 0 }}{{sourceData?.training_hours>1?" Hours":" Hour"}}
                        </p>
                      </div>
                    </div> -->
                    <div class="row mt-3 mx-auto">
                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h6>Approval required</h6>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <p>
                          {{ sourceData?.approval}}
                        </p>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h6>Expiry Date</h6>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <p>
                          {{ sourceData?.sessionEndDate | date }}
                        </p>
                      </div>

                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h6>Certificate Template</h6>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <p>
                          {{ sourceData?.certificate_template }}
                        </p>
                      </div>

                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h6>Department</h6>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <p>
                          {{ sourceData?.department }}
                        </p>
                      </div>

                      <div *ngIf="isExam" class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h6>Exam</h6>
                      </div>
                      <div *ngIf="isExam" class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <p>
                          {{ sourceData?.exam_assessment?.name}}
                        </p>
                      </div>

                      <div *ngIf="isTutorial" class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h6>Tutorial</h6>
                      </div>
                      <div *ngIf="isTutorial" class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <p>
                          {{ sourceData?.tutorial?.name}}
                        </p>
                      </div>

                      <!-- <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h6>Approval Required</h6>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <p>
                          {{ sourceData?.approval }}
                        </p>
                      </div>                -->

                      <div *ngIf="isAssessment" class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h6>Assessment</h6>
                      </div>
                      <div *ngIf="isAssessment" class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <p>
                          {{ sourceData?.assessment?.name}}
                        </p>
                      </div>
                    </div>
                    <!-- <div class="row mt-3 mx-auto">
                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h6>Vendor</h6>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <p>{{ sourceData?.vendor }}</p>
                      </div>
                    </div> -->
                   
                    <div class="row mt-3 mx-auto">
                      <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
                        <h6>Description</h6>
                      </div>                     
                      
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p
                          class="text-default"
                          [innerHTML]="
                            
                            getSafeHtml(sourceData?.course_detailed_description)
                              
                          "
                        ></p>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-12">
                    <div class="row clearfix">
                      <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="header mt-3">
                          <h2>CourseKit</h2>
                        </div>
                        <div class="tableBody">
                          <div class="table-responsive">
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>Course Kit</th>
                                  <th>Description</th>
                                  <th>Document Link</th>
                                  <th>Media Link123</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  style="cursor: pointer"
                                  *ngFor="let row of coursekitData"
                                >
                                  <td>{{ row?.name }}</td>
                                  <td>{{ row?.shortDescription }}</td>
                                  <td>
                                    <a
                                      *ngFor="
                                        let doc of row.videoLink;
                                        let i = index
                                      "
                                      href="{{ doc.document }}"
                                      target="_blank"
                                      >{{ doc.doc_filename | filename }}</a
                                    >
                                  </td>
                                  <td>
                                    <a
                                      *ngFor="
                                        let video of row.videoLink;
                                        let i = index
                                      "
                                      (click)="playVideo(video)"
                                      >{{ video.video_filename }}</a
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-12">
                    <div class="row clearfix">
                      <div class="header mt-3">
                        <h2>CourseKit Details</h2>
                      </div>
                      <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let kit of coursekitData">
                        <div class="header mt-3">
                          <h4>{{ kit.name }}</h4>
                        </div>
                        <div class="tableBody">
                          <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                              <thead class="thead-dark">
                                <tr>
                                  <th>File Name</th>
                                  <th>Type</th>
                                  <th>Size</th>
                                  <th>View</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let file of kit.videoLink[0]?.files">
                                  <td>{{ file.name }}</td>
                                  <td>{{ file.type }}</td>
                                  <td>{{ file.size }}</td>
                                  <td>
                                    <a
                                      *ngIf="file.type !== 'thirdparty'; else external"
                                      [href]="file.url"
                                      target="_blank"
                                      class="btn btn-sm btn-primary"
                                    >
                                      View
                                    </a>
                                    <ng-template #external>
                                      <a
                                        [href]="file.url"
                                        target="_blank"
                                        class="btn btn-sm btn-warning"
                                      >
                                        Open Link
                                      </a>
                                    </ng-template>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-10 my-3">
                  <button mat-raised-button id="back" (click)="back()">
                    Back
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #courseScenariosDialog let-dialogRef="dialogRef" let-data>
  <div class="row mt-5 mx-3 my-3">
    <div class="col-4">
        <div class="card login" [class.selected]="selectedScenario === 'LearningAndTutorial'"
            (click)="selectScenario('LearningAndTutorial')">
            <h5 class="mt-3" style="text-align: center;">Learning & Tutorial</h5>
            <p class="p-3">Enables  to read and understand course content, complete tutorials, and get the certifications.</p>
            <div class="selected-overlay">
                <i class="fas fa-check"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card login" [class.selected]="selectedScenario === 'OnlyExam'"
            (click)="selectScenario('OnlyExam')">
            <h5 class="mt-3" style="text-align: center;">Only Exam</h5>
            <p class="p-3">Allows  to take the exam directly and receive a certificate without going through the learning materials.</p>

            <div class="selected-overlay">
                <i class="fas fa-check"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
      <div class="card login" [class.selected]="selectedScenario === 'AssessmentAndExam'"
          (click)="selectScenario('AssessmentAndExam')">
         <h5 class="mt-3" style="text-align: center; ">Assessment & Exam</h5>
         <p class="p-3">Enables  to study all course materials, complete multiple assessments (practical tests), and take a final exam to get a certificate.</p>
          <div class="selected-overlay">
              <i class="fas fa-check"></i>
          </div>
      </div>
  </div>
</div>
 
  <div mat-dialog-actions style="float:right">
    <button mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button id="submit"(click)="navigateToCreate(dialogRef)">Edit</button>

  </div>
  </ng-template>