<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card" style=" height: fit-content; ">
          <div class="header">
            <h2>Create User Group</h2>
          </div>
          <div class="body">
            <form [formGroup]="userTypeFormGroup">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Group Name<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width " appearance="outline">
                    <input matInput type="text" formControlName="typeName" class="form-control"
                      placeholder="Enter New Group">
                      <mat-error *ngIf="userTypeFormGroup.get('typeName')?.invalid ||userTypeFormGroup.get('typeName')?.touched">
                        <!-- {{ utils.getErrorMessage1(userTypeFormGroup.get('typeName'), 'userGroup') }} -->
                      Enter Group Name
                      </mat-error>
                  </mat-form-field>
                  
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>User List<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-select formControlName="userId" required multiple>
                      <mat-option *ngFor="let item of users" [value]="item.id">
                        {{item?.name}}
                      </mat-option>

                    </mat-select>
                    <mat-error *ngIf="userTypeFormGroup.get('userId')?.invalid ||userTypeFormGroup.get('userId')?.touched">
                      {{ utils.getErrorMessage1(userTypeFormGroup.get('userId'), 'user') }}
                    </mat-error> 
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Description<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <input matInput type="text" formControlName="shortDes" class="form-control"
                      placeholder="Enter Description">
                      <mat-error *ngIf="userTypeFormGroup.get('shortDes')?.invalid ||userTypeFormGroup.get('shortDes')?.touched">
                        {{ utils.getErrorMessage1(userTypeFormGroup.get('shortDes'), 'descripton') }}
                      </mat-error>   
                  </mat-form-field>
                </div>
              </div>

            </form>
            <hr />
            <div class="float-end">
              <div class="d-grid gap-3 d-md-flex">
                <button mat-raised-button id="submit" *ngIf="isCreate" (click)="submit()"> Create </button>
              </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
              <div class="header mt-3">
                <h2>User Groups Listing</h2>
              </div>
              <div class="table-wrapper">
                <div class="table-responsive">
                  <table class="table table-hover ">
                    <thead>
                      <tr>
                        <th>Group Name</th>
                        <th>Users</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr style="cursor: pointer;" *ngFor="let row of dataSource">
                        <td (click)="isEdit ? update(row.id) : null">{{row.group_name | capitalizeFirstLetter}}</td>
                        <td (click)="isEdit ? update(row.id) : null">
                          <div style="display: inline-block;"
                            *ngFor="let user of row.userId; let i = index; let last = last">
                            {{ user.name }}{{ !last ? ',' : '' }}
                          </div>
                        </td>
                        <td (click)="isEdit ? update(row.id) : null">{{row.shortDes | capitalizeFirstLetter}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>