svg {
    position: absolute;
    fill: #000;
    background-color: #d3cdcd;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

// modal-box styling
::ng-deep .mat-mdc-menu-content {
    margin: 0;
    padding: 8px 20px;
    border-radius: 10px;
    list-style-type: none;

}

// modal-box curving
::ng-deep .mat-mdc-menu-panel {
    --mat-menu-container-shape: 12px;
}

.menu-text {
    padding-left: 20px;
}

.name {
    color: deepskyblue;
    font-weight: 500;
}

.email-address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-cell {
    background-color: #f0f0f0; // Light background color
}


.custom-cell {
    background-color: #f0f0f0; // Light background color for the cell
}


.status-container {
    display: inline-block;
    padding: 2px 5px; // Adjust padding as needed
    border-radius: 5px; // Rounded corners for the background
}



  // .mat-cell {
  //   width: fit-content;
  //   height: 1px;
  //    border-color: white;
  //   align-self: stretch;
  // }
  .mat-header-cell {
    color: white;
    background-color: #000046;
    padding: 20px;
    border-color: white;
    align-self: stretch;
  }
  .email-icon {
    height: 10px;
    margin-right: 8px; /* Adjust spacing as needed */
    vertical-align: middle; /* Align icon vertically with text */
  }

  // .status-dot {
  //   width: 8px;
  //   height: 8px;
  //   background-color: #198754;
  //   border-radius: 50%; // To make it a circle
  //   display: inline-block;
  //   margin-right: 5px; // Space between dot and text
  // }
  .amount{
    display: flex;
    justify-content: flex-end;
    padding-right: 65px !important;
}
// .badge-solid-green{
//     color: #198754;
//     background-color: rgba(25, 135, 84, 0.15);
//     border: none;
//     padding: 5px 12px;
//     font-weight: 500;
//     line-height: 1.2;
//   }
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 24px; 
   }
   @media (max-width: 600px) {
     mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
       padding-left: 15px;
     }
     }