<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
       <!-- breadcrumb -->
      <app-breadcrumb [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb> 
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="right">
              <ul class="tbl-export-btn">
                <li>
                  <ul class="header-buttons-left ms-0">
                    <!-- <li class="tbl-search-box">
                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                      <input placeholder="Search" type="text" #filter class="browser-default search-field"
                        aria-label="Search box">
                    </li> -->
                    <li class="tbl-search-box">
                      <label for="search-input"
                        ><i class="material-icons search-icon">search</i></label
                      >
                      <input
                        placeholder="Search"
                        type="text"
                        #filter
                        class="browser-default search-field"
                        [(ngModel)]="searchTerm"
                        (input)="performSearch()"
                        aria-label="Search box"
                      />
                    </li>
                  </ul>
                </li>
                <li>
                  <span style="font-weight: bold;">Export as</span>
                </li>
                <li>
                  <div class="export-button m-l-10" matTooltip="XLSX" (click)="exportExcel()" >
                    <img src="assets/excel.svg" alt="" />
                  </div>
                </li>
                <li>
                  <div class="export-button m-l-10" matTooltip="PDF" (click)="generatePdf()">
                    <img src="assets/pdf (1).svg" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="body overflow-auto">
            <div class="responsive_table">
              <table mat-table matSort [dataSource]="dataSource" >
                <!-- Name Column -->
                <ng-container matColumnDef="Student Name">
                  <mat-header-cell *matHeaderCellDef >{{commonRoles.STUDENT_ROLE}}</mat-header-cell>
                  <mat-cell *matCellDef="let row" (click)="isView ? view(row._id) : null">
                    <span class="mobile-label">{{commonRoles.STUDENT_ROLE}}:</span><span class="name" >{{row.name}} </span></mat-cell>
                </ng-container>
                <!-- email -->
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef >Email</mat-header-cell>
                  <mat-cell *matCellDef="let row" (click)="isView ? view(row._id) : null">
                    <span class="mobile-label">Email:</span>
                    <img src="assets/images/gmail.png" alt="Email Icon" class="email-icon">
                    <span class="email-address">{{row.email}}</span>
                  </mat-cell>
                </ng-container>


                <!-- Program Name -->
                <ng-container matColumnDef="Program Name">
                  <mat-header-cell *matHeaderCellDef >Program</mat-header-cell>
                  <mat-cell *matCellDef="let row" (click)="isView ? view(row._id) : null">
                    <span class="mobile-label">Name:</span>{{row.program}}</mat-cell>
                </ng-container>
                <!-- Amount -->
                <ng-container matColumnDef="Amount">
                  <mat-header-cell *matHeaderCellDef  class="amount">Fee</mat-header-cell>
                  <mat-cell *matCellDef="let row" (click)="isView ? view(row._id) : null" class="payment-cell">
                    <span class="mobile-label">Amount:</span><span>$</span> {{row.price||0}}.00</mat-cell>
                </ng-container>
                <!-- Payment Date -->
                <ng-container matColumnDef="Payment Date">
                  <mat-header-cell *matHeaderCellDef >Payment Date</mat-header-cell>
                  <mat-cell *matCellDef="let row" (click)="isView ? view(row._id) : null">
                    <span class="mobile-label">Payment Date:</span>{{row.createdAt | date}}</mat-cell>
                </ng-container>

                <!-- Payment status -->
                <ng-container matColumnDef="Payment Status">
                  <mat-header-cell *matHeaderCellDef > Status</mat-header-cell>
                  <mat-cell *matCellDef="let row" (click)="isView ? view(row._id) : null" [ngClass]="getStatusClass(row.status)">
                    <!-- <div class="status-container">
                      <span class="badge badge-solid-green">
                      <span class="status-dot"></span>
                      {{row.status | titlecase}}</span>
                    </div> -->
                    <span class="mobile-label">Status:</span>
                      <span
                      [class]=" row.status === 'success' ? 'badge badge-solid-green' : 'badge badge-solid-red'">
                      <span
                        [class]=" row.status === 'success' ? 'status-dot' : 'status-red'"></span>
                      {{ row.status ==='success'? 'Success':'Failed' | titlecase}}</span>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </table>
              <div *ngIf="!dataSource || dataSource.length === 0" class="text-center py-3 no-data-text">
                No data found
              </div>
              <mat-paginator #paginator [length]="totalItems" (page)="pageSizeChange($event)"
                [pageSizeOptions]="pageSizeArr" aria-label="select pagination option">
            </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>