<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb
          [title]="breadscrum.title"
          [items]="breadscrum.items"
          [active_item]="breadscrum.active"
        >
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-md-12">
              <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                    <div class="materialTableHeader">
                      <div class="">
                        <ul class="tbl-export-btn mt-2">
                          <li>
                            <ul class="header-buttons-left ms-0">
                              <li class="tbl-search-box">
                                <label for="search-input"
                                  ><i class="material-icons search-icon"
                                    >search</i
                                  ></label
                                >
                                <input
                                  placeholder="Search"
                                  type="text"
                                  #filter
                                  class="browser-default search-field"
                                  aria-label="Search box"
                                  [(ngModel)]="searchTerm"
                                  (input)="performSearch()"
                                />
                              </li>
                            </ul>
                          </li>
                          </ul>
                          </div>
                          <div class="right">
                            <ul class="tbl-export-btn">
                              <li class="tbl-header-btn">
                                <div
                                  class="m-l-10"
                                  [hidden]="!selection.hasValue()"
                                  matTooltip="DELETE"
                                >
                                  <button
                                    mat-mini-fab
                                    color="warn"
                                    (click)="removeSelectedRows()"
                                  >
                                    <mat-icon class="col-white">delete </mat-icon>
                                  </button>
                                </div>
                              </li>
                              <li>
                                <div class="export-button m-l-10" matTooltip="XLSX">
                                  <img
                                    src="assets/excel.svg"
                                    alt=""
                                    (click)="exportExcel()"
                                  />
                                </div>
                              </li>
                              <li>
                                <div class="export-button m-l-10" matTooltip="PDF">
                                  <img
                                    src="assets/pdf (1).svg"
                                    alt=""
                                    (click)="generatePdf()"
                                  />
                                </div>
                              </li>
                            </ul>
                          </div>
                    </div>
                    <div class="body overflow-auto">
                      <div class="responsive_table">
                        <table
                          mat-table
                          [dataSource]="courseData"
                          matSort
                          class="mat-cell advance-table"
                        >
                          <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                              >Course
                            </mat-header-cell>
                            <mat-cell
                              class="name"
                              *matCellDef="let row"
                              (click)="view ? viewCourse(row.id) : null"
                              ><span class="mobile-label">Course:</span>
                              <span>{{ row.title ? (row.title | titlecase) : '--' }}</span>
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="code">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                              >Code
                            </mat-header-cell>
                            <mat-cell
                              *matCellDef="let row"
                              (click)="view ? viewCourse(row.id) : null"
                              ><span class="mobile-label">Course Code:</span>
                              {{row.courseCode ? (row.courseCode) : "--"}}
                            </mat-cell>
                          </ng-container>
                                    <ng-container matColumnDef="Fee Type">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header class="compulsory-count-header">Fee Type
                                      </mat-header-cell>
                                      <mat-cell *matCellDef="let row" (click)= "view ? viewCourse(row.id) : null"> <span
                                          class="mobile-label">Fee Type:</span>{{row.feeType ? (row.feeType | titlecase) : "--"}}
                                      </mat-cell>
                                    </ng-container>
                          <ng-container matColumnDef="Main Category">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                              >Main Category
                            </mat-header-cell>
                            <mat-cell
                              *matCellDef="let row"
                              (click)="view ? viewCourse(row.id) : null"
                            >
                              <span class="mobile-label">Main Category:</span
                              >{{ row.main_category_text ? (row.main_category_text) : "--" }}</mat-cell
                            >
                          </ng-container>
                          <ng-container matColumnDef="Days">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                              >Days
                            </mat-header-cell>
                            <mat-cell
                              *matCellDef="let row"
                              (click)="view ? viewCourse(row.id) : null"
                            >
                              <span class="mobile-label">Days:</span
                              >{{ row.course_duration_in_days || 0 }} Day
                            </mat-cell>
                          </ng-container>
  
                          <ng-container matColumnDef="Training Hours">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                              >Hours
                            </mat-header-cell>
                            <mat-cell
                              *matCellDef="let row"
                              (click)="view ? viewCourse(row.id) : null"
                            >
                              <span class="mobile-label">Traning Hours:</span
                              >{{ row.training_hours || 0 }} Hours
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="Fees">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                             class="amount" >Payment
                            </mat-header-cell>
                            <mat-cell
                              *matCellDef="let row"
                              (click)="view ? viewCourse(row.id) : null" class="payment-cell"
                            >
                              <span class="mobile-label">Payment:</span
                              ><span>$</span> {{ row.fee || 0 }}.00
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="startDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                              >Start Date
                            </mat-header-cell>
                            <mat-cell
                              *matCellDef="let row"
                              (click)="view ? viewCourse(row.id) : null"
                            >
                              <span class="mobile-label">Start Date:</span>
                              {{row.sessionStartDate ? (row.sessionStartDate | date) : "--"}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="endDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                              >End Date
                            </mat-header-cell>
                            <mat-cell
                              *matCellDef="let row"
                              (click)="view ? viewCourse(row.id) : null"
                            >
                              <span class="mobile-label">End Date:</span
                              >{{ row.sessionEndDate ?(row.sessionEndDate
                                | date) : "--"}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="Vendor">
                            <mat-header-cell
                              *matHeaderCellDef
                              mat-sort-header
                              class="compulsory-count-header"
                              >Vendor
                            </mat-header-cell>
                            <mat-cell
                              *matCellDef="let row"
                              (click)="view ? viewCourse(row.id) : null"
                            >
                              <span class="mobile-label">Vendor:</span
                              >{{row.vendor ? (row.vendor) : "--"}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="status">
                            <mat-header-cell
                              *matHeaderCellDef
                              mat-sort-header
                              class="compulsory-count-header"
                              style="width: 400px"
                            >
                              Status
                            </mat-header-cell>
                            <mat-cell
                              *matCellDef="let row"
                              (click)="view ? viewCourse(row.id) : null"
                            >
                              <span class="mobile-label">Status:</span>
                              <span class="badge badge-solid-green">
                                <span class="status-dot"></span>
                                {{
                                  row.status == "active" ? "Approved" : "Pending"
                                }}
                              </span>
                            </mat-cell>
                          </ng-container>
  
                          <mat-header-row *matHeaderRowDef="displayedColumns">
                          </mat-header-row>
                          <mat-row
                            *matRowDef="let row; columns: displayedColumns"
                            [style.cursor]="'pointer'"
                            matRipple
                          >
                          </mat-row>
                        </table>
  
                        <mat-paginator
                          class="paginator rounded-5"
                          #paginator
                          [length]="totalItems"
                          (page)="pageSizeChange($event)"
                          [pageSizeOptions]="pageSizeArr"
                          aria-label="select pagination option"
                        >
                        </mat-paginator>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
