.thumbnail-img {
    height: 250px;
    width: 600px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 12px;
}

.file-drop-area {
    border: 1px dashed #7c7db3;
    border-radius: 15px;
    position: relative;
    max-width: 100%;
    margin-top: 5px;
    padding: 26px 20px 30px;
    transition: 0.2s;
}

.file-drop-area button {
    border-radius: 12px;
}

.file {
    text-align: center;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.file-msg {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 500;
    // color: #5b5bff;
}

h5 {
    padding-top: 10px;
}



.input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

$green--success: #4eb36c;

.checkmark {
    .check {
        border-width: 0px 5px 5px 0;
        border-color: $green--success;
        border-style: solid;
        box-sizing: content-box;
        display: block;
        height: 24px;
        margin: 0 auto;
        transform: rotate(49deg) translateY(-1px) translateX(0px);
        width: 8px;
    
      }
    

}

.error-msg h5 {
    color: red;
  }