<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="breadscrum.title"
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Logo Customization</h2>
          </div>
          <div class="body">
            <div class="row">
                <!-- Logo List section -->
              <div class="col-md-4" >
                <ul
                  class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder"
                  *ngFor="let logo of Logos"
                >
                  <li class="lecture-list cursor-pointer" (click)="isEdit ? patchFile(logo.id) : null">
                    <div class="set-flex">
                      <div class="media-title font-20">{{ logo.title }}</div>
                    </div>
                    <div class="ms-auto">
                        <div class="container">
                            <div class="checkmark  checkmark--inverted">
                                <div class="check">
                                </div>
                            </div>
                        </div>
                      </div>
                  </li>
                </ul>
              </div>
              <!-- Logo Update section -->
              <div class="col-md-8" *ngIf="isLogo">
                <form [formGroup]="LogoForm">
                  <label>Title <span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <input
                      matInput
                      type="text"
                      formControlName="title"
                      class="form-control"
                      required
                    />
                  </mat-form-field>
                  <div class="file-drop-area">
                    <div class="file">
                      <button mat-raised-button color="primary">
                        <input
                          type="file"
                          #fileDropRef
                          id="fileDropRef"
                          formControlName="logo"
                          (change)="onFileUpload($event)"
                          accept="image/*"
                          class="input"
                        />
                        Choose file
                      </button>
                      <span *ngIf="fileError" class="error-msg">
                        <h5>{{ fileError }}</h5>
                      </span>
                      <span class="file-msg">
                        <h5>
                          {{ logoImg ? logoImg : "Drag and Drop File Here" }}
                        </h5>
                      </span>
                    </div>
                  </div>
                </form>
                <div class="d-flex justify-content-between mt-4 mx-2">
                      <button class="btn-space" type="button" mat-raised-button color="warn" (click)="cancel()">
                     Cancel
                   </button>
                      <button  mat-raised-button id="submit" color="primary" (click)="updateLogo()" [disabled]="fileError !== ''" >
                        Update
                      </button>
                  </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
