<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card" style="height: fit-content;">
            <div class="header">
              <h2>Create Discount</h2>
            </div>
            <div class="body">
                <form [formGroup]="discountForm">

                <div class="row">
                  <div class="col-3">
                    <label>Discount Title<span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width " appearance="outline">
                            <input matInput type="text" formControlName="discountTitle"
                            class="form-control" placeholder="Enter New Discount"
                            >      
                            <mat-error *ngIf="discountForm.get('discountTitle')?.invalid ||discountForm.get('discountTitle')?.touched">
                              {{ utils.getErrorMessage1(discountForm.get('discountTitle'), 'discountTitle') }}
                            </mat-error>
                                      
                        </mat-form-field>
                  </div>
                  <div class="col-3">
                    <label>Discount Type<span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width " appearance="outline">
                          <mat-select formControlName="discountType" required>
                            <mat-option [value]="'percentage'"> Percentage </mat-option>
                            <mat-option [value]="'fixed'"> Fixed </mat-option>
                          </mat-select>
                                  <mat-error *ngIf="discountForm.get('discountType')?.invalid ||discountForm.get('discountType')?.touched">
                              {{ utils.getErrorMessage1(discountForm.get('discountType'), 'discountType') }}
                            </mat-error>
                                      
                        </mat-form-field>
                  </div>
                  <div class="col-3">
                    <label>Discount Value<span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width " appearance="outline">
                            <input matInput type="text" formControlName="value"
                            class="form-control" placeholder="Enter Discount Value"
                            >      
                            <mat-error *ngIf="discountForm.get('value')?.invalid ||discountForm.get('value')?.touched">
                              {{ utils.getErrorMessage1(discountForm.get('value'), 'value') }}
                            </mat-error>
                                      
                        </mat-form-field>
                  </div>
                  <div class="col-3">
                    <label>Description<span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width " appearance="outline">
                            <input matInput type="text" formControlName="description"
                            class="form-control" placeholder="Enter Description"
                            >      
                            <mat-error *ngIf="discountForm.get('description')?.invalid ||discountForm.get('description')?.touched">
                              {{ utils.getErrorMessage1(discountForm.get('description'), 'description') }}
                            </mat-error>
                                      
                        </mat-form-field>
                  </div>
                </div>
                </form>
                <hr/>
                <div class="float-end">
                    <div class="d-grid gap-3 d-md-flex">
                    <button  mat-raised-button *ngIf="isCreate" id="submit" (click)="onSubmit()" > Create </button>
                    </div>
                  </div>
                  <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="header mt-3">
                        <h2>Discounts Listing</h2>
                      </div>
                      <div class="table-wrapper">
                        <div class="table-responsive">
                          <table class="table table-hover ">
                            <thead>
                              <tr>
                                <th>Discount</th>
                                <th>Discount Type</th>
                                <th>Value</th>
                                <th>Description</th>

                              </tr>
                            </thead>
                            <tbody>
                              <tr style="cursor: pointer;" *ngFor="let row of dataSource">
                                <td (click)="isEdit ? update(row.id) : null">{{row?.discountTitle | capitalizeFirstLetter}}</td>                         
                                <td (click)="isEdit ? update(row.id) : null">{{row?.discountType | capitalizeFirstLetter}}</td>
                                <td (click)="isEdit ? update(row.id) : null">{{row?.value }}</td>  
                                <td (click)="isEdit ? update(row.id) : null">{{row?.description }}</td>          
                              </tr>
    
                            </tbody>
                          </table>
                        </div>
                      </div>
                  </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>