
<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">

                    </div>
                    <div class="body" *ngIf="edit">
                        <div class="row">
                            <div class="col-5">
                            </div>
                        </div>
                        <div class="row para" *ngFor="let listdata of assignData;  let j = index;" (click)="toggle(listdata)">
                            <div class="col-md-11" >
                                <p>{{listdata.email_subject}}</p>

                            </div>
                        </div>
                    </div>
                    <form [formGroup]="emailTemplateForm" *ngFor="let listdata of assignData;">
                        <div class="body mx-auto" *ngIf="!edit" >
                            <div class="row">
                                <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 mb-2 mx-auto">
                                    <label>Email Subject<span class="mandatory">&nbsp;*</span></label>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <input matInput type="text" id="name"
                                            class="form-control" placeholder="Welcome" formControlName="email_subject">
                                            <mat-error *ngIf="emailTemplateForm.get('email_subject')?.invalid ||emailTemplateForm.get('email_subject')?.touched">
                                                {{ utils.getErrorMessage1(emailTemplateForm.get('email_subject'), 'email_subject') }}
                                              </mat-error> 
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 mb-2 mx-auto">
                                    <label>Top Header Text<span class="mandatory">&nbsp;*</span></label>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <input matInput type="text" id="name"
                                        formControlName="email_top_header_text" class="form-control" placeholder="Course Invoice Details">
                                        <mat-error *ngIf="emailTemplateForm.get('email_top_header_text')?.invalid ||emailTemplateForm.get('email_top_header_text')?.touched">
                                            {{ utils.getErrorMessage1(emailTemplateForm.get('email_top_header_text'), 'email_top_header_text') }}
                                          </mat-error> 
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 mb-2 mx-auto">
                                  <label>Text<span class="mandatory">&nbsp;*</span></label>
                                  <div [class.error]="emailTemplateForm.get('email_content')?.invalid &&(emailTemplateForm.get('email_content')?.touched || emailTemplateForm.get('email_content')?.pristine)">
                                    <angular-editor placeholder="Enter text..." formControlName="email_content" [config]="config"></angular-editor>
                                    <mat-error class="editor" *ngIf="emailTemplateForm.get('email_content')?.invalid && emailTemplateForm.get('email_content')?.touched">
                                        {{ utils.getErrorMessage1(emailTemplateForm.get('email_content'), 'email_content') }}
                                    </mat-error> 
                                </div>

                                </div>

                              </div>

                            <div class="row body">
                                <div class="col-md-10">
                                  <button mat-raised-button id="back" (click)="back()">Back</button>
                                </div>
                                <div class="col-md-2">
                                  <div class="d-grid d-md-flex">
                                  <button mat-raised-button id="submit" (click)="update()">Update</button>

                                  </div>
                                </div>
                              </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
