.container{
    height:700px;
    width: 70%;
    margin: auto;
    background-color: rgb(255, 248, 238);
    border-radius: 10px;
    overflow-y: auto !important;
}
.table-wrapper{
    max-height: 260px; 
    overflow: hidden; 
    margin-bottom: 40px;
    margin-top: 40px;
  }
 td:nth-child(3), td:nth-child(4), .price {
    text-align: right !important;
   
}
