//EXAM-Component html

<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <!-- <div class="materialTableHeader">
            <div class="right">
              <ul class="tbl-export-btn">
                <li>
                  <ul class="header-buttons-left ms-0">
                    <li class="tbl-search-box">
                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                      <input placeholder="Search" type="text" #filter class="browser-default search-field"
                        aria-label="Search box">
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div> -->
          <mat-tab-group (selectedTabChange)="onTabChange($event)">

            <mat-tab *ngIf="isAssessment">
              <ng-template mat-tab-label>
                <div class="course mx-4">Assessment</div>
              </ng-template>
              <div class="body overflow-auto">
                <div class="responsive_table">

                  <ng-container *ngIf="dataSource && dataSource.length > 0; else noDataTemplate">
                  <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">
                    <ng-container matColumnDef="Course Name">
                      <mat-header-cell *matHeaderCellDef>Course Name</mat-header-cell>
                      <mat-cell *matCellDef="let row"><span class="mobile-label">Course
                          Name:</span>{{row.courseId?.title}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Submitted Date">
                      <mat-header-cell *matHeaderCellDef>Submitted Date</mat-header-cell>
                      <mat-cell *matCellDef="let row"><span class="mobile-label">Submitted
                          Date:</span>{{row?.submittedAt | date: 'MM/dd/yyyy'}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Score">
                      <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
                      <mat-cell *matCellDef="let row"><span class="mobile-label">Score:</span>{{row.score}} /
                        {{row.totalScore}}
                      </mat-cell>
                    </ng-container>   
       

                      <ng-container  *ngIf="display_grade"  matColumnDef="Grade">
                      <mat-header-cell *matHeaderCellDef>Grade</mat-header-cell>
                      <mat-cell   *matCellDef="let row"><span class="mobile-label" >Grade:</span>
                        
                        {{GradeCalculate_grade(row.score,row.totalScore)}}
                      </mat-cell>
                    </ng-container>  

                     <ng-container  *ngIf="display_grade" matColumnDef="GPA">
                      <mat-header-cell *matHeaderCellDef>GPA</mat-header-cell>
                      <mat-cell  *matCellDef="let row"><span class="mobile-label" >GPA:</span>
                        {{GradeCalculate_gpa(row.score,row.totalScore)}}
                      </mat-cell>
                    </ng-container> 


                    <ng-container matColumnDef="Exam Type">
                      <mat-header-cell *matHeaderCellDef>Exam Type</mat-header-cell>
                      <mat-cell *matCellDef="let row"><span class="mobile-label">Exam Type:</span> {{ examType(row) }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Retakes left">
                      <mat-header-cell *matHeaderCellDef>Retakes left</mat-header-cell>
                      <mat-cell *matCellDef="let row"><span class="mobile-label">Retakes left:</span> 
                        {{calculateRetaks(row)<0?0:calculateRetaks(row) }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Exam">
                      <mat-header-cell *matHeaderCellDef>Exam</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <button *ngIf="row.is_tutorial && !row.isLatestTutorial" (click)="onDelete(row.id)"
                          mat-flat-button color="warn">
                          Delete
                        </button>
                        <button *ngIf="row.is_tutorial && row.isLatestTutorial" [disabled]="row.is_exam_completed || calculateRetaks(row) <= 0"
                          (click)="openTest(row, false)" mat-raised-button  id="submit">
                          Retake
                        </button>
                        <button *ngIf="!row.is_tutorial"
                          [disabled]="calculateRetaks(row)<=0 || row.is_exam_completed"
                          (click)="openTest(row, true)" mat-raised-button color="primary" >
                          Retake
                        </button>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Request Retake">
                      <mat-header-cell *matHeaderCellDef>Request Retake</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <button [disabled] ="calculateRetaks(row) > 0 || row.is_exam_completed"
                                mat-flat-button
                                color="accent"
                                class="request"
                                (click)="onRequestRetake(row)">
                          Request Retake
                        </button>
                      </mat-cell>
                    </ng-container>
                    

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                    </mat-row>
                  </table>
                </ng-container>

                <ng-template #noDataTemplate>
                  <div class="no-data-text">No data found</div>
                </ng-template>

                  <mat-paginator #paginator [length]="totalItems" (page)="pageSizeChange($event)"
                    [pageSizeOptions]="pageSizeArr" aria-label="select pagination option">
                  </mat-paginator>
                </div>
              </div>
            </mat-tab>
            <mat-tab *ngIf="isTutorial">
              <ng-template mat-tab-label>
                <div class="course mx-4">Tutorial</div>
              </ng-template>
              <div class="body overflow-auto">
                <div class="responsive_table">
                  <ng-container *ngIf="dataSource && dataSource.length > 0; else noDataTemplate">
                  <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">
                    <ng-container matColumnDef="Course Name">
                      <mat-header-cell *matHeaderCellDef>Course Name</mat-header-cell>
                      <mat-cell *matCellDef="let row"><span class="mobile-label">Course
                          Name:</span>{{row.courseId?.title}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Submitted Date">
                      <mat-header-cell *matHeaderCellDef>Submitted Date</mat-header-cell>
                      <mat-cell *matCellDef="let row"><span class="mobile-label">Submitted
                          Date:</span>{{row?.submittedAt | date: 'MM/dd/yyyy'}}
                      </mat-cell>
                    </ng-container>
                    <ng-container   matColumnDef="Score">
                      <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
                      <mat-cell *matCellDef="let row"><span class="mobile-label">Score:</span>{{row.score}} /
                        {{row.totalScore}}
                      </mat-cell>
                    </ng-container> 

                          <ng-container  *ngIf="display_grade"  matColumnDef="Grade">
                      <mat-header-cell *matHeaderCellDef>Grade</mat-header-cell>
                      <mat-cell   *matCellDef="let row"><span class="mobile-label" >Grade:</span>
                        
                        {{GradeCalculate_grade(row.score,row.totalScore)}}
                      </mat-cell>
                    </ng-container>  

                     <ng-container  *ngIf="display_grade" matColumnDef="GPA">
                      <mat-header-cell *matHeaderCellDef>GPA</mat-header-cell>
                      <mat-cell  *matCellDef="let row"><span class="mobile-label" >GPA:</span>
                        {{GradeCalculate_gpa(row.score,row.totalScore)}}
                      </mat-cell>
                    </ng-container> 
                    <ng-container matColumnDef="Exam Type">
                      <mat-header-cell *matHeaderCellDef>Exam Type</mat-header-cell>
                      <mat-cell *matCellDef="let row"><span class="mobile-label">Exam Type:</span> {{ examType(row) }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Retakes left">
                      <mat-header-cell *matHeaderCellDef>Retakes lefts</mat-header-cell>
                      <mat-cell *matCellDef="let row"><span class="mobile-label">Retakes left:</span> {{
                        calculateRetaks(row) }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Exam">
                      <mat-header-cell *matHeaderCellDef>Exam</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <button *ngIf="row.is_tutorial && !row.isLatestTutorial" (click)="onDelete(row.id)"
                          mat-flat-button color="warn">
                          Delete
                        </button>
                        <button *ngIf="row.is_tutorial && row.isLatestTutorial" [disabled]="row.is_exam_completed"
                          (click)="openTest(row, false)" mat-raised-button  id="submit">
                          Retake
                        </button>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Request Retake">
                      <mat-header-cell *matHeaderCellDef>Request Retake</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <button *ngIf="calculateRetaks(row) === 0 && !row.certificateIssued"
                                mat-flat-button
                                color="accent"
                                (click)="onRequestRetake(row)">
                          Request Retake
                        </button>
                      </mat-cell>
                    </ng-container>
                    

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                    </mat-row>
                  </table>
                </ng-container>

                <ng-template #noDataTemplate>
                  <div class="no-data-text">No data found</div>
                </ng-template>
                
                  <mat-paginator #paginator [length]="totalItems" (page)="pageSizeChange($event)"
                    [pageSizeOptions]="pageSizeArr" aria-label="select pagination option">
                  </mat-paginator>
                </div>
              </div>
            </mat-tab>
            </mat-tab-group>

        </div>
      </div>
    </div>


  </div>
</section>