
        <div class="row mt-5">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="card card-statistic-2">
                <div class="clearfix">
                  <div class="card-icon-only shadow-primary float-start">
                    <img src="assets/images/banner/Actual.png" alt="">
                  </div>
                  <div class="card-right part">
                    <div>
                      <h5 class="float-end">Training Cost<br> (Actual)</h5>
                    </div>
                    <div class="col-green">
                      <h3 class="font-weight-bold float-end mb-0">$ 93,183</h3>
                    </div>
                  </div>
                </div>
                <div class="card-content msl-4 mb-3">
                  <p class="m-b-0 d-flex"> 12% Higher Than Yesterday
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="card card-statistic-2">
                <div class="clearfix">
                  <div class="card-icon-only shadow-primary float-start">
                    <img src="assets/images/banner/Budget.png" alt="" >
                  </div>
                  <div class="card-right part">
                    <div>
                      <h5 class="float-end">Training Cost<br> (Budget)</h5>
                    </div>
                    <div class="col-green">
                      <h3 class="font-weight-bold float-end mb-0">$ 95,337</h3>
                    </div>
                  </div>
                </div>
                <div class="card-content msl-4 mb-3">
                  <p class="m-b-0 d-flex"> 20.7% vs Last Period
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="card card-statistic-2">
                <div class="clearfix">
                  <div class="card-icon-only shadow-primary float-start">
                    <img src="assets/images/banner/Participant.png" alt="">
                  </div>
                  <div class="card-right part">
                    <div>
                      <h5 class="float-end">Cost Per <br> Participant </h5>
                    </div>
                    <div class="col-green">
                      <h3 class="font-weight-bold float-end mb-0">$ 316</h3>
                    </div>
                  </div>
                </div>
                <div class="card-content msl-4 mb-3">
                  <p class="m-b-0 d-flex"> 10.5 vs Last Period
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="card card-statistic-2">
                <div class="clearfix">
                  <div class="card-icon-only shadow-primary float-start">
                    <img src="assets/images/banner/Clock.png" alt="">
                  </div>
                  <div class="card-right part">
                    <div>
                      <h5 class="float-end">Cost Per <br> Hour</h5>
                    </div>
                    <div class="col-green">
                      <h3 class="font-weight-bold float-end mb-0">$ 52</h3>
                    </div>
                  </div>
                </div>
                <div class="card-content msl-4 mb-3">
                  <p class="m-b-0 d-flex"> 20.7% vs Last Period
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        
        
        <!-- #END# Widgets -->
        <div class="row clearfix">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="plain-card training">
                    <div class="card-inner">
                        <h6 class="tx-primary m-b-15">Total Completed Training</h6>
                        <h3 class="text-center month">45</h3>
                        <div class="row month">
                            <div class="col-lg-9">
                                <p> vs Last month</p>
                            </div>
                            <div class="col-lg-2">
                                <p>10%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plain-card training mt-4">
                    <div class="card-inner">
                        <h6 class="tx-primary m-b-15">Total Participants</h6>
                        <h4 class="text-center month">316</h4>
                        <div class="row month">
                            <div class="col-lg-9">
                                <p> vs Last period</p>
                            </div>
                            <div class="col-lg-2">
                                <p>13.3%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="plain-card training">
                    <div class="card-inner">
                        <h6 class="tx-primary m-b-15">Total Hours of Training</h6>
                        <h4 class="text-center month">86,942</h4>
                        <div class="row month">
                            <div class="col-lg-9">
                                <p> vs Last month</p>
                            </div>
                            <div class="col-lg-2">
                                <p>1.5%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plain-card training mt-4">
                    <div class="card-inner">
                        <h6 class="tx-primary m-b-15">Occupancy Rate</h6>
                        <h4 class="text-center month">93%</h4>
                        <div class="row month">
                            <div class="col-lg-9">
                                <p> vs Last month</p>
                            </div>
                            <div class="col-lg-2">
                                <p>0.3%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <!-- GAUGE CHART -->
                <div class="card">
                    <div class="header ">
                        <div class="d-flex justify-content-between w-100 ">
                            <h2>Over-all Training Budget</h2>
                        </div>
                    </div>
                    <div class="body" *ngIf="isBudgetLine">
                      <apx-chart 
              [series]="budgetLineChartOptions.series!" 
              [chart]="budgetLineChartOptions.chart!" 
              [xaxis]="budgetLineChartOptions.xaxis!" 
              [stroke]="budgetLineChartOptions.stroke!" 
              [colors]="budgetLineChartOptions.colors!" 
              [dataLabels]="budgetLineChartOptions.dataLabels!" 
              [legend]="budgetLineChartOptions.legend!" 
              [tooltip]="budgetLineChartOptions.tooltip!" 
              [markers]="budgetLineChartOptions.markers!" 
              [grid]="budgetLineChartOptions.grid!" 
              [yaxis]="budgetLineChartOptions.yaxis!">
            </apx-chart>
                      </div>
                      <div class="body" *ngIf="isBudgetPie">
                        <apx-chart 
              [series]="budgetPieChartOptions.series!" 
              [chart]="budgetPieChartOptions.chart!" 
              [labels]="budgetPieChartOptions.labels!" 
              [colors]="budgetPieChartOptions.colors!" 
              [legend]="budgetPieChartOptions.legend!" 
              [tooltip]="budgetPieChartOptions.tooltip!">
            </apx-chart>
                    </div>
                    <div class="body" *ngIf="isBudgetBar">
                      <apx-chart 
                      [series]="budgetBarChartOptions.series!" 
                      [chart]="budgetBarChartOptions.chart!" 
                      [xaxis]="budgetBarChartOptions.xaxis!" 
                      [plotOptions]="budgetBarChartOptions.plotOptions!" 
                      [colors]="budgetBarChartOptions.colors!" 
                      [dataLabels]="budgetBarChartOptions.dataLabels!" 
                      [legend]="budgetBarChartOptions.legend!" 
                      [tooltip]="budgetBarChartOptions.tooltip!" 
                      [grid]="budgetBarChartOptions.grid!" 
                      [yaxis]="budgetBarChartOptions.yaxis!">
                    </apx-chart>
                  </div>
                </div>
        </div>

                <!-- END GAUGE-CHART -->
            </div>
            <!-- PROGRESS-CHART -->
            <div class="row clearfix">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <div class="d-flex justify-content-between w-100 ">
                            <h2>Training by Functionality</h2>
                            <select class="form-select w-25" aria-label="Default select example">
                                <option selected>2023</option>
                                <option value="1">2022</option>
                                <option value="2">2021</option>
                                <option value="3">2020</option>
                            </select>
                        </div>
                    </div>
                    <div class="tableBody">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Assets</th>
                                        <th>Overall by 100</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Sales</td>
                                        <td><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                        </td>
                                        <td>40%</td>
                                    </tr>
                                    <tr>
                                        <td>Finance</td>
                                        <td><mat-progress-bar mode="determinate" value="20"
                                                color="accent"></mat-progress-bar>
                                        </td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>HR</td>
                                        <td><mat-progress-bar mode="determinate" value="35"></mat-progress-bar>
                                        </td>
                                        <td>35%</td>
                                    </tr>
                                    <tr>
                                        <td>Development</td>
                                        <td><mat-progress-bar mode="determinate" value="12"
                                                color="warn"></mat-progress-bar>
                                        </td>
                                        <td>12%</td>
                                    </tr>
                                    <tr>
                                        <td>Others</td>
                                        <td><mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                                        </td>
                                        <td>80%</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PROGRESS-CHART -->

        <!-- </div> -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <div class="d-flex justify-content-between w-100 ">
                        <h2>Actual Cost or Budget</h2>
                    </div>
                </div>
                <div class="body" *ngIf="isActualLine">
                  <apx-chart 
                  [series]="actualLineChartOptions.series!" 
                  [chart]="actualLineChartOptions.chart!" 
                  [xaxis]="actualLineChartOptions.xaxis!" 
                  [stroke]="actualLineChartOptions.stroke!" 
                  [colors]="actualLineChartOptions.colors!" 
                  [dataLabels]="actualLineChartOptions.dataLabels!" 
                  [legend]="actualLineChartOptions.legend!" 
                  [tooltip]="actualLineChartOptions.tooltip!" 
                  [markers]="actualLineChartOptions.markers!" 
                  [grid]="actualLineChartOptions.grid!" 
                  [yaxis]="actualLineChartOptions.yaxis!">
                </apx-chart>
                  </div>
                  <div class="body" *ngIf="isActualPie">
                    <apx-chart 
              [series]="actualPieChartOptions.series!" 
              [chart]="actualPieChartOptions.chart!" 
              [labels]="actualPieChartOptions.labels!" 
              [colors]="actualPieChartOptions.colors!" 
              [legend]="actualPieChartOptions.legend!" 
              [tooltip]="actualPieChartOptions.tooltip!">
            </apx-chart>
                </div>
                <div class="body" *ngIf="isActualBar">
                  <apx-chart 
                  [series]="actualBarChartOptions.series!" 
                  [chart]="actualBarChartOptions.chart!" 
                  [xaxis]="actualBarChartOptions.xaxis!" 
                  [plotOptions]="actualBarChartOptions.plotOptions!" 
                  [colors]="actualBarChartOptions.colors!" 
                  [dataLabels]="actualBarChartOptions.dataLabels!" 
                  [legend]="actualBarChartOptions.legend!" 
                  [tooltip]="actualBarChartOptions.tooltip!" 
                  [grid]="actualBarChartOptions.grid!" 
                  [yaxis]="actualBarChartOptions.yaxis!">
                </apx-chart>
              </div>
            </div>
        </div>
    </div>
       

       