.actual {
    background-color: #E76E67;
    border-radius: 50%;
    padding: 15px;
    color: white;
    height: 60px;
}

.budget {
    background-color: #83D59A;
    border-radius: 50%;
    padding: 15px;
    color: white;
    height: 60px;
}

.partcipant {
    background-color: #5DB8EB;
    border-radius: 50%;
    padding: 15px;
    color: white;
    height: 60px;
}

.clock {
    background-color: #ad7beb;
    border-radius: 50%;
    padding: 15px;
    color: white;
    height: 60px;
}

.training {
    color: white;
    background-color: #5BA5E9;
    height: 210px;
}

.month {
    padding-top: 40px;
}
.part{
    padding-top: 109px;
}