.starred {
    color: rgb(250, 171, 0);
  }
.not-starred {
    color: black;

  }
.unread {
    background-color: #f0f0f0; /* Set the background color to your preferred highlight color */
    font-weight: bold; /* You can adjust the styling as needed */
  }

