<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="card">
                    <div class="body">
                        <app-email-sidebar></app-email-sidebar>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="card">
                    <div class="boxs mail_listing">
                        <div class="inbox-center table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="3">
                                            <div class="inbox-header">
                                                <div class="mail-option no-pad-left">
                                                    <div class="email-btn-group m-l-15">
                                                        <button matTooltip="Archive" (click)="archiveEmails()"
                                                            mat-icon-button
                                                            aria-label="Example icon-button with a heart icon">
                                                            <mat-icon>archive</mat-icon>
                                                        </button>
                                                        <button matTooltip="Not Spam" (click)="removeSpamEmails()"
                                                            mat-icon-button
                                                            aria-label="Example icon-button with a heart icon">
                                                            <mat-icon>error</mat-icon>
                                                        </button>
                                                        <button matTooltip="Delete" (click)="deleteSelectedEmails()"
                                                            mat-icon-button
                                                            aria-label="Example icon-button with a heart icon">
                                                            <mat-icon>delete</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <th class="hidden-xs" colspan="2">
                                            <div class="float-end">
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let email of emails"   [class.read]="email.mail[email.mail.length - 1].read" [class.unread]="!email.mail[email.mail.length - 1].read" >
                                        <td class="tbl-checkbox">
                                            <mat-checkbox (change)="handleCheckboxSelection(email)"
                                                class="example-margin"></mat-checkbox>
                                        </td>
                                        <td class="hidden-xs">
                                            <button mat-icon-button (click)="toggleStar(email)">
                                                <mat-icon
                                                    [ngClass]="{'starred': email.toStarred || email.starred, 'not-starred': !email.toStarred && !email.starred}">star</mat-icon>
                                            </button>
                                        </td>

                                        <td class="hidden-xs">
                                            <a type="button"(click)="navigate(email)">{{email?.mail[0]?.fromName}}</a>
                                          </td>
                                          <td class="max-texts">
                                            <a type="button"(click)="navigate(email)">{{email?.subject}}</a>
                                          </td>
                                        <td class="text-end"> {{email?.createdAt | date}} </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <mat-paginator class="paginator rounded-5" #paginator [length]="totalItems"
                            (page)="pageSizeChange($event)" [pageSizeOptions]="pageSizeArr"
                            aria-label="select pagination option">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>