.mandatory{
  color: red;
}
.w-45{
  width: 49%;
}

.fs-20{
  font-size: 20px;
}
.type-container{
border-radius: 10px;
}
.question-container{
  margin-left: 15px
}

.dialog-header {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.full-width {
  margin: 0;
  padding: 0;
  width: 96%;
}