.title{
    height: 40px;
}
.text-muted{
    margin-top: 20px;
}
// .search-field{
//     width: 120%;
//     height: 30px;
//     margin-left: -40px;
// }
// .search-icon{
//     margin-left: -105px;
// }

.text{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    border-radius: 12px;
    border: 0;
    height: 37px;
    padding: 8px 8px 8px 50px;
    width: 250px;
    background: #ffffff;
    transition: background 0.2s, width 0.2s;  
    margin-left: -20px;
}

.search-icon {
    position: absolute;
    top: 14px;
    padding-left: -2px;
    color: rgba(0, 0, 0, 0.54);
  }