<section class="content">
  <div class="content-block">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     
        <div class=" mt-5">
            
                <!-- Nav tabs -->
                <!-- <div class="card"> -->
                  <!-- <div class="card-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                            <!-- <i class="now-ui-icons shopping_shop"></i> --
                           Employee Status</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="des-tab" data-bs-toggle="tab" data-bs-target="#des" type="button" role="tab" aria-controls="des" aria-selected="false">
                            <!-- <i class="now-ui-icons ui-2_settings-90"></i> --
                           Training Approval Request</button>
                        </li>
                      </ul>
                      <hr />
                  </div> -->
                  
                  <!-- <div class="card-body">
                    <!-- Tab panes --
                    <div class="tab-content text-center">
                      <div class="tab-pane active" id="home" role="tabpanel">
                       <app-employee-status></app-employee-status>
                      </div>
                      <div class="tab-pane" id="des" role="tabpanel">
                        <app-training-aproval-req></app-training-aproval-req>
                      </div>
                    </div>
                  </div> -->
                <!-- </div> -->
              </div>
              </div>
              </div>

          </div>
</section>
