<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            {{dialogTitle}}
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form class="register-form m-4" [formGroup]="leaveRequestForm" (ngSubmit)="submit">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
            <label>Class<span class="mandatory">&nbsp;*</span></label>
            <mat-form-field class="example-full-width" appearance="outline">
            <input matInput formControlName="className" required readonly>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>person</mat-icon>
            
              <mat-error *ngIf="leaveRequestForm.get('className')?.hasError('required')">
                Select Class
              </mat-error>
            </mat-form-field>
          </div>
          <div class=" col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
            <label>Apply Date<span class="mandatory">&nbsp;*</span></label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput [matDatepicker]="picker1" formControlName="applyDate" required readonly>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="leaveRequestForm.get('applyDate')?.hasError('required')">
                Please select date
              </mat-error>
            </mat-form-field>
          </div>
          <div class=" col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
            <label>Reschedule Date<span class="mandatory">&nbsp;*</span></label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput [matDatepicker]="picker3" formControlName="toDate" required readonly>
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
              <mat-error *ngIf="leaveRequestForm.get('toDate')?.hasError('required')">
                Please select date
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
          <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <label>Reason<span class="mandatory">&nbsp;*</span></label>
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <textarea matInput formControlName="reason" readonly></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
              <label>Status<span class="mandatory">&nbsp;*</span></label>
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-select formControlName="status" required>
                  <mat-option *ngFor="let option of statusOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
                <mat-error *ngIf="leaveRequestForm.get('status')?.hasError('required')">
                  Select Status
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        <div class="row" style="float: right;">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
              <button mat-raised-button id="submit" [disabled]="!leaveRequestForm.valid" [mat-dialog-close]="1"
                (click)="confirmAdd()">Update</button>
              
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  