svg {
    position: absolute;
    fill: #000;
    background-color: #d3cdcd;
    margin-left: -12px;
    margin-top: -20px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

// modal-box styling
::ng-deep .mat-mdc-menu-content {
    margin: 0;
    padding: 8px 20px;
    border-radius: 10px;
    list-style-type: none;

}

// modal-box curving
::ng-deep .mat-mdc-menu-panel {
    --mat-menu-container-shape: 12px;
}

.menu-text {
    padding-left: 20px;
}
.approved {
    color: rgb(19, 199, 19);
  }
  
  .rejected {
    color: red;
  }
  
  .pending {
    color: #1d62ed;
  }
  
.create{
    border: 1px solid black;
    border-radius: 10px;
    width: 85%;
    height: 34px;
    padding: 3px;
    margin-left: 50px;
}
.height{
    margin-left: -80px;
}
.status-dot {
    width: 8px;
    height: 8px;
    background-color: #198754;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }
  .status-red {
    width: 8px;
    height: 8px;
    background-color: #f11541;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }
  .status-orange {
    width: 8px;
    height: 8px;
    background-color: #e9713d;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }
  .approval-stages-cell {
    display: flex;
    flex-direction: column;
  }
  .approval-stage {
    min-height: 20px;
  }
  .approval-reason{
    min-height: 35px;
  }
 
