
.menu{
    font-size: 16px;
    font-weight: 400;
}
.sub-menu-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.sub{
    width: 50%;
    height: 55px;
    text-align: center;
    border: 1px solid #7A7A7A;
    color: #526D82;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 28px;
  }
#submit {
    margin-left: 50px;

}
// .submit{
//     margin-top: 35px;
// }
.mandatory {
    color: red;
}
.card-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    float: right;
    width: 50%;
    margin-top: 30px;
  }


//   .img-w{
//     height: 20px;
//     margin-right: 25px;
//     margin-top: 20px;
//     }
    ::ng-deep .mat-mdc-tab-body-content{
        overflow-x: auto !important;
      }
      
.btn {
    display: flex;
    align-items: center;
  }
  
  .img-w {
    width: 16px; 
    height: auto;
    margin-right: 8px; 
  }
  
  .menu-text {
    vertical-align: middle;
  }
  