<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-static-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-static-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="body">
            <div class="container mx-auto ">
              <form [formGroup]="feedbackForm">
                <div class="p-4">
                  <ul class="list-group list-group-unbordered">
                    <li class="list-group-item p-1">
                      <b>{{commonRoles.STUDENT_ROLE}}: </b>
                      <span class="profile-desc-item gap-4">{{studentLastName? studentFirstName + " " +
                        studentLastName:studentFirstName}}</span>
                    </li>
                    <li class="list-group-item p-1">
                      <b>Title: </b>
                      <span class="profile-desc-item">{{courseName}}</span>
                      <!-- <div class="profile-desc-item float-end">{{courseName}}</div> -->
                    </li>
                  </ul>
                  <div class="mt-4 p-1">
                    <app-feedbackcommon [feedbackInfo]="questionList" [col]="3" [isPreview]="true"
                      [answer]="true"></app-feedbackcommon>
                  </div>
                </div>
                <br>
                <div class="row" *ngIf="false">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card" *ngFor="let row of questionList">
                      <div class="header">
                        <h2>{{row.questionText}}</h2>
                      </div>
                      <div class="body">
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">

                          <mat-radio-button class="example-radio-button ms-0">
                            {{row?.selectedOption}}
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <!-- <button type="button" mat-raised-button id="back" class="float-end"
                      [routerLink]="['/admin/survey/feedbacks-list']">
                      Back
                    </button> -->
                    <button type="button" mat-raised-button id="back" class="float-end"
                     (click)="back()">
                      Back
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>