.card.card-statistic-2 .card-right {
    float: right;
    margin: 15px 15px 15px 0px;
  
  }

  .card.card-statistic-2 {
    display: inline-block;
    width: 104%;
    height: 100px; 
}
.payment{
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  padding-right: 100px;
}