<section class="content">
  <div class="content-block">
    <div class="block-header" >
      <!-- breadcrumb -->
      <app-breadcrumb
        
      >
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="right">
              <ul class="tbl-export-btn">
                <li >
                  <!-- <ul class="header-buttons-left ms-0">
                    
                    <li class="tbl-search-box">
                      <label for="search-input"
                        ><i class="material-icons search-icon">search</i></label
                      >
                      <input
                        placeholder="Search"
                        type="text"
                        #filter
                        class="browser-default search-field"
                        [(ngModel)]="searchTerm"
                        (input)="performSearch()"
                        aria-label="Search box"fcou
                      />
                    </li>
                  </ul> -->
                  <ul class="header-buttons-left ms-0">
                    <li class="tbl-search-box">
                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                      <input placeholder="Search" type="text" #filter class="browser-default search-field"
                        aria-label="Search box" [(ngModel)]="filterName" (input)="performSearch()" />
                    </li>
                  </ul>
                </li>
                  <li class="tbl-header-btn">
                    <div class="m-l-10" matTooltip="ADD">
                      <button *ngIf="create"
                        mat-raised-button
                        [routerLink]="['/admin/courses/create-class']"
                        id="submit"
                      >
                        Create
                      </button>
                    </div>
                  </li>
                  <li>
                    <div
                    class="m-l-10"
                    [hidden]="!selection.hasValue()"
                    matTooltip="DELETE"
                  >
                    <button
                      mat-mini-fab
                      color="warn"
                      (click)="removeSelectedRows()"
                    >
                      <mat-icon class="col-white">delete </mat-icon>
                    </button>
                  </div>
                  </li>
                  <li>
                    <span style="font-weight: bold">Export as</span>
                  </li>
                  <li>
                    <div
                    class="export-button m-l-10"
                    matTooltip="XLSX"
                    (click)="exportExcel()"
                  >
                    <img src="assets/excel.svg" alt="" />
                  </div>
                  </li>
                  <li>
                    <div class="export-button m-l-10" matTooltip="PDF">
                      <img
                        src="assets/pdf (1).svg"
                        alt=""
                        (click)="generatePdf()"
                      />
                    </div>
                  </li>
                  
              </ul>
            </div>
            <!-- <div class="right">
              <ul class="tbl-export-btn">
                <li>
                  <ul class="header-buttons-left ms-0">
                    <li class="tbl-search-box">
                      <label for="search-input"
                        ><i class="material-icons search-icon">search</i></label
                      >
                      <input
                        placeholder="Search"
                        type="text"
                        #filter
                        class="browser-default search-field"
                        [(ngModel)]="searchTerm"
                        (input)="performSearch()"
                        aria-label="Search box"
                      />
                    </li>
                  </ul>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="ADD">
                    <button *ngIf="create"
                      mat-raised-button
                      [routerLink]="['/admin/courses/create-class']"
                      id="submit"
                    >
                      Create
                    </button>
                  </div>
                </li>
                <li class="tbl-header-btn">
                  <div
                    class="m-l-10"
                    [hidden]="!selection.hasValue()"
                    matTooltip="DELETE"
                  >
                    <button
                      mat-mini-fab
                      color="warn"
                      (click)="removeSelectedRows()"
                    >
                      <mat-icon class="col-white">delete </mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <span style="font-weight: bold">Export as</span>
                </li>
                <li>
                
                </li>
                <li>
                 
                </li>
              </ul>
            </div> -->
          </div>
          <div class="body overflow-auto">
            <div class="responsive_table">
              <table
                mat-table
                matSort
                [dataSource]="dataSource"
                class="mat-cell advance-table"
              >
                <ng-container matColumnDef="Course">
                  <mat-header-cell *matHeaderCellDef 
                    >Course
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                    [routerLink]="isView ? ['/admin/courses/class-list/view-class/', row.id] : null"
                  >
                    <span class="mobile-label">Course:</span>
                    <span class="name" >
                    {{ row.courseName }} </span></mat-cell
                  >
                </ng-container>
                <ng-container matColumnDef="Code" *ngIf="isAdmin">
                  <mat-header-cell *matHeaderCellDef 
                    >Course Code</mat-header-cell
                  >
                  <mat-cell
                    *matCellDef="let row"
                    [routerLink]="isView ? ['/admin/courses/class-list/view-class/', row.id] : null"
                  >
                    <span class="mobile-label">Course Code:</span>
                    {{ row.courseId?.courseCode }}</mat-cell
                  >
                </ng-container>
                <ng-container matColumnDef="Code" *ngIf="isInstructor">
                  <mat-header-cell *matHeaderCellDef 
                    >Course Code</mat-header-cell
                  >
                  <mat-cell
                    *matCellDef="let row"
                    [routerLink]="isView ? ['/admin/courses/class-list/view-class/', row.id] : null"
                  >
                    <span class="mobile-label">Course Code:</span>
                    {{ row?.courseCode }}</mat-cell
                  >
                </ng-container>
                <!-- <ng-container matColumnDef="Price">
                  <mat-header-cell *matHeaderCellDef 
                    class="amount">Trainer Fee</mat-header-cell
                  >
                  <mat-cell
                    *matCellDef="let row"
                    [routerLink]="isView ? ['/admin/courses/class-list/view-class/', row.id] : null" class="payment-cell"
                  >
                    <span class="mobile-label">Amount:</span><span>$</span>
                    {{ row.instructorCost||0 }}.00</mat-cell
                  >
                </ng-container> -->
                <ng-container matColumnDef="Department">
                  <mat-header-cell *matHeaderCellDef 
                    >Department</mat-header-cell
                  >
                  <mat-cell
                    *matCellDef="let row"
                    [routerLink]="isView ? ['/admin/courses/class-list/view-class/', row.id] : null"
                  >
                    <span class="mobile-label">Department:</span>
                    {{ row.department }}</mat-cell
                  >
                </ng-container>
                <!-- Start date -->
                <ng-container matColumnDef="Start Date">
                  <mat-header-cell *matHeaderCellDef 
                    >Start Date
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                    [routerLink]="isView ? ['/admin/courses/class-list/view-class/', row.id] : null"
                  >
                    <span class="mobile-label">Start Date:</span
                    >{{ row.sessions[0]?.sessionStartDate | date }}
                  </mat-cell>
                </ng-container>
                <!-- Enddate -->
                <ng-container matColumnDef="End Date">
                  <mat-header-cell *matHeaderCellDef 
                    >End Date
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                    [routerLink]="isView ? ['/admin/courses/class-list/view-class/', row.id] : null"
                  >
                    <span class="mobile-label">End Date:</span
                    >{{ row.sessions[0]?.sessionEndDate | date }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Class">
                  <mat-header-cell *matHeaderCellDef 
                    >Class</mat-header-cell
                  >
                  <mat-cell
                    *matCellDef="let row"
                   
                    [routerLink]="isView ? ['/admin/courses/class-list/view-class/', row.id] : null"
                  >
                    <span class="mobile-label">Class:</span>
                    <div class="status-container">
                      <span
                        [class]=" row.classDeliveryType === 'online' ? 'badge badge-solid-green' :  row.classDeliveryType === 'offline' ? 'badge badge-solid-red' : ''">
                        <span
                          [class]=" row.classDeliveryType === 'online' ? 'status-dot' :  row.classDeliveryType === 'offline' ? 'status-red' : ''"></span>
                        {{ (row.classDeliveryType ==='online'? 'Online('+row.meetingPlatform+')':'Offline') | titlecase}}</span>
                    </div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Minimum Students">
                  <mat-header-cell *matHeaderCellDef 
                    >Min {{commonRoles.STUDENT_ROLE}}s
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                    [routerLink]="isView ? ['/admin/courses/class-list/view-class/', row.id] : null"
                  >
                    <span class="mobile-label">Min {{commonRoles.STUDENT_ROLE}}s:</span>
                    {{ row.minimumEnrollment }}</mat-cell
                  >
                </ng-container>
                <ng-container matColumnDef="Maximum Students">
                  <mat-header-cell *matHeaderCellDef 
                    >Max {{commonRoles.STUDENT_ROLE}}s
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                    [routerLink]="isView ? ['/admin/courses/class-list/view-class/', row.id] : null"
                  >
                    <span class="mobile-label">Max {{commonRoles.STUDENT_ROLE}}s:</span>
                    {{ row.maximumEnrollment }}</mat-cell
                  >
                </ng-container>
                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  [style.cursor]="'pointer'"
                  matRipple
                >
                </mat-row>
              </table>
              <div *ngIf="!dataSource || dataSource.length === 0" class="text-center py-3 no-data-text">
                No data found
              </div>
              <!-- Loading spinner -->
              <div class="tbl-spinner">
                <mat-progress-spinner
                  *ngIf="isLoading"
                  color="primary"
                  [diameter]="40"
                  mode="indeterminate"
                >
                </mat-progress-spinner>
              </div>
              <mat-paginator
                #paginator
                [length]="totalItems"
                (page)="pageSizeChange($event)"
                [pageSizeOptions]="pageSizeArr"
                aria-label="select pagination option"
              >
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
