
<section class="content">
  <div class="content-block">
    <div class="block-header" >
      <!-- breadcrumb -->
      <app-breadcrumb >
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="right">
              <ul class="tbl-export-btn">
                <li>
                  <ul class="header-buttons-left ms-0">
                    <li class="tbl-search-box">
                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                      <input placeholder="Search" type="text" #filter class="browser-default search-field"
                        aria-label="Search box"  [(ngModel)]="searchTerm" (input)="performSearch()">
                    </li>
                  </ul>
                </li>
               <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="ADD">
                    <button mat-raised-button *ngIf="create" id="submit" [routerLink]="['/admin/courses/create-course-kit']">Create</button>
                  </div>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="DELETE">
                    <button mat-mini-fab color="warn" (click)="removeSelectedRows()">
                      <mat-icon class="col-white">delete
                      </mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <span style="font-weight: bold;">Export as</span>
                </li>
                <li>
                  <div class="export-button m-l-10" matTooltip="XLSX" (click)="exportExcel()">
                    <img src="assets/excel.svg" alt="" />
                  </div>
                </li>
                <li>
                  <div class="export-button m-l-10" matTooltip="PDF" (click)="generatePdf()">
                    <img src="assets/pdf (1).svg" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="body overflow-auto">
            <div class="responsive_table">
              <table mat-table matSort [dataSource]="dataSource" class="mat-cell advance-table">
                <ng-container matColumnDef="Course">
                  <mat-header-cell *matHeaderCellDef >Course Kit</mat-header-cell>
                  <mat-cell *matCellDef="let row" [routerLink]="view?['/admin/courses/course-kit/',row.id]:null">
                    <span class="mobile-label">Course Kit:</span> <span class="name" >{{row.name ? (row.name) : "--"}}</span></mat-cell>
                </ng-container>
                <!-- Short Description -->
                <!-- <ng-container matColumnDef="Short Description">
                  <mat-header-cell *matHeaderCellDef >Short Description</mat-header-cell>
                  <mat-cell *matCellDef="let row" [routerLink]="view?['/admin/courses/course-kit/',row.id]:null">
                    <span class="mobile-label">Short Description:</span>{{row.shortDescription ? (row.shortDescription) : "--"}}</mat-cell>
                </ng-container> -->
                 <!-- Long Description -->
                 <ng-container matColumnDef="Long Description">
                  <mat-header-cell *matHeaderCellDef >Long Description</mat-header-cell>
                  <mat-cell *matCellDef="let row" [routerLink]="view?['/admin/courses/course-kit/',row.id]:null">
                    <span class="mobile-label">Long Description:</span>{{row.longDescription ? (row.longDescription) : "--"}}</mat-cell>
                </ng-container>
                <!-- Video Link -->
                <!-- <ng-container matColumnDef="Media Link" >
                  <mat-header-cell *matHeaderCellDef >Media Link
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <ng-container *ngIf="row.videoLink && row.videoLink.length">
                    <span class="mobile-label">Media Link:</span>
                    <a class="vl-container" *ngFor="let video of row.videoLink; let i = index"
                    href="javaScript:void(0)"
                    (click)="playVideo(video)">
                    {{ video.video_filename ?(video.video_filename |truncate : 10) : "--"}}
                  </a>
                    <img   style="display: inline; float: right;margin-left: -30px;" src="/assets/video-icon.svg"
                    alt="">
                    </ng-container>
                   </mat-cell>
                </ng-container> -->
                <!-- Document Link -->
                <!-- <ng-container matColumnDef="Document Link">
                  <mat-header-cell *matHeaderCellDef >Document Link</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <div *ngIf="row.videoLink && row.videoLink?.length">
                      <span class="mobile-label">Document Link:</span><a *ngFor="let doc of row.videoLink; let i = index" href="{{doc.document}}" target="_blank" class="dl-container" [attr.download]="doc.doc_filename" >{{doc.doc_filename ? (doc.doc_filename |filename |truncate:10) : "--"}}</a>
                    </div>
                    <div *ngIf="!row.videoLink?.length && row.scormKit && row?.kitType === 'scorm'">
                      <span *ngIf="row?.kitType === 'scorm'" class="mobile-label">Scorm Link:</span><a [routerLink]="['/admin/courses/scorm-player/view/',row?.scormKit?.id]" class="dl-container">{{(row.scormKit.title||row.scormKit.fileName) |filename |truncate:10}}</a>
                   
                    </div>
                   <div *ngIf="!row.videoLink?.length && row.scormKit && row?.kitType === 'imscc'">
                      <span *ngIf="row?.kitType === 'imscc'" class="mobile-label">Imscc Link:</span><a [routerLink]="['/admin/courses/imscc-player/view/',row?.scormKit?.id]" class="dl-container">{{(row.scormKit.title||row.scormKit.fileName) |filename |truncate:10}}</a>
                   
                    </div>
                     
                  </mat-cell>
                </ng-container> -->
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                  [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </table>
              <!-- Loading spinner -->
              <div *ngIf="!isLoading && (!dataSource || dataSource.length === 0)" class="text-center py-3 no-data-text">
                No data found
              </div>
              <div  class="tbl-spinner">
                <mat-progress-spinner *ngIf="isLoading" color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>

              <mat-paginator #paginator [length]="totalItems" (page)="pageSizeChange($event)"
              [pageSizeOptions]="pageSizeArr" aria-label="select pagination option">
          </mat-paginator>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
