.qr-code-container {
    text-align: center;
    margin-bottom: 20px;
}

.qr-code-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #3f51b5;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn {
    width: 35%;
}
 

.message {
    margin-top: 10px;
    color: red;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.otp-field {
    flex: 1;
    max-width: 50px;
}

.otp-field .mat-form-field-infix {
    text-align: center;
}