<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card" style=" height: fit-content; ">
          <div class="header d-flex justify-content-between">
            <h2>Update User Group</h2>
            <button class="icons" *ngIf="isDelete" (click)="deleteUserGroup(id)" alt="Delete" matTooltip="Delete" mat-menu-item>
              <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
          </button>
          </div>
          <div class="body">
            <form [formGroup]="userTypeFormGroup">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Group Name<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width " appearance="outline">
                    <input matInput type="text" formControlName="typeName" class="form-control"
                      placeholder="Enter New Group">
                      <mat-error *ngIf="userTypeFormGroup.get('typeName')?.invalid ||userTypeFormGroup.get('typeName')?.touched">
                        {{ utils.getErrorMessage1(userTypeFormGroup.get('typeName'), 'userGroup') }}
                      </mat-error>
                  </mat-form-field>
                  
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>User List<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-select formControlName="userId" required multiple>
                      <mat-option *ngFor="let item of users" [value]="item.id">
                        {{item?.name}}
                      </mat-option>

                    </mat-select>
                    <mat-error *ngIf="userTypeFormGroup.get('userId')?.invalid ||userTypeFormGroup.get('userId')?.touched">
                      {{ utils.getErrorMessage1(userTypeFormGroup.get('userId'), 'user') }}
                    </mat-error> 
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Description<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <input matInput type="text" formControlName="shortDes" class="form-control"
                      placeholder="Enter Description">
                      <mat-error *ngIf="userTypeFormGroup.get('shortDes')?.invalid ||userTypeFormGroup.get('shortDes')?.touched">
                        {{ utils.getErrorMessage1(userTypeFormGroup.get('shortDes'), 'descripton') }}
                      </mat-error>   
                  </mat-form-field>
                </div>
              </div>

            </form>
            <hr />
            <div class="float-end">
              <div class="d-grid gap-3 d-md-flex">
                <button mat-raised-button id="submit" (click)="onUpdate()"> Update </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>