::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  overflow-x: hidden !important;
}
.card-payment{
  border: 2px solid black;
  width:50%;
  height: fit-content;
  margin-top: 10px; 
  border-radius: 10px;
  cursor: pointer;
}
.card-image{
  width:109.3%;
  margin-left: -9px;
  height: 155px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.other-image{
  width:109.3%;
  margin-left: -9px;
  height: 155px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.card-payment:hover{
  border: 2px solid #23b5ed;
}
.card-other{
  border: 2px solid black;
  width: 35%; 
  height: fit-content; 
  margin-top: 10px; 
  border-radius: 10px;
  cursor: pointer;
}
.card-other:hover{
  border: 2px solid #23b5ed;
}