.card {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.border-radius {
    border-radius: 15px;
  }
  .card-height {
    min-height: 400px;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-end {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
  }
  .flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
li {
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
}

li .card:hover {
    border: 1px solid blue;
}

ol {
    padding: 0;
}

.option-text{
    font-weight: bold;
}
.custom-style {
  font-size: 1.1rem; 
  //font-weight: bold;
  color: #000000;
}
#submit1{
  width: 200px;
}
