<section  class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
          <div  class="card">
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header bg-dark">
                  <div class="user-name">{{classDetails?.courseId?.title}}</div>
                  <div class="name-center">{{classDetails?.courseId?.courseCode}}</div>
                </div>
                <img src="{{classDetails?.courseId?.image_link}}" class="user-img" alt="">
                <p>
                {{classDetails?.courseId?.course_description}}
                </p>
              
                <div class="row">
                  <div class="col-6">
                    <h5>{{classDetails?.courseId?.duration}}</h5>
                    <small>Training Hours</small>
                  </div>
                  <div class="col-6">
                    <h5>{{classDetails?.courseId?.courseFee}}$</h5>
                    <small>Fee</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <mat-tab-group mat-align-tabs="start">
              <mat-tab label="About">
                <div class="p-4">
                  <p class="text-default">{{classDetails?.courseId?.course_detailed_description}}</p>
                
                  <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                      <b>Delivery </b>
                      <div class="profile-desc-item float-end">{{classDetails?.classDeliveryType | titlecase}}</div>
                    </li>
                    <li class="list-group-item">
                      <b>Program Created </b>
                      <div class="profile-desc-item float-end">{{classDetails?.createdAt | date}}</div>
                    </li>
                    <li class="list-group-item">
                      <b>Program Run </b>
                      <div class="profile-desc-item float-end">{{classDetails?.isGuaranteedToRun == true?'Yes':'No'}}</div>
                    </li>
                  </ul>
                </div>
              </mat-tab>
            
            </mat-tab-group>
          </div>
        </div>
  
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                 Classes
                </ng-template>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="project_widget">
                  
                    <div class="body">
                        <table mat-table [dataSource]="dataSource" >
                            <ng-container matColumnDef="position">
                              <th mat-header-cell *matHeaderCellDef> Instructor </th>
                              <td mat-cell *matCellDef="let element"> {{element?.instructorId?.name}} {{element?.instructorId?.last_name}} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef=" Class Start Date ">
                              <th mat-header-cell *matHeaderCellDef>  Class Start Date  </th>
                              <td mat-cell *matCellDef="let element"> {{element?.sessionStartDate | date}} </td>
                            </ng-container>
                                                      <ng-container matColumnDef=" Class End Date ">
                              <th mat-header-cell *matHeaderCellDef>  Class End Date  </th>
                              <td mat-cell *matCellDef="let element"> {{element?.sessionEndDate | date}} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="action">
                              <th mat-header-cell *matHeaderCellDef> Action </th>
                              <td mat-cell *matCellDef="let element">  
                                <button *ngIf="!isRegistered && !isStatus && !isApproved && !isCancelled"class="btn btn-primary"
                                (click)="registerProgram(element._id)">
                                Register
                            </button>
                                
                            <span  class="badge badge-solid-orange mx-2"*ngIf="isRegistered || isStatus">Registered</span>
                            <span   class="badge badge-solid-green mx-2"*ngIf="isApproved">Approved</span>
                            <span    class="badge badge-solid-red mx-2"*ngIf="isCancelled">Cancelled</span>

                          </td>
                            </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                    </div>

                  </div>
                </div>
                <div class="p-4">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                          <b class="badge badge-solid-orange">Compulsory Course </b>
                        </li>
                        <li class="list-group-item" *ngFor="let core of classDetails?.courseId?.coreprogramCourse">{{core.coreProgramName}}</li>
                        <li class="list-group-item">
                          <b class="badge badge-solid-blue">Elective Course </b>
                        </li>
                        <li class="list-group-item" *ngFor="let elective of classDetails?.courseId?.electiveprogramCourse">{{elective.electiveProgramName}}</li>
                      </ul>
                  </div>
                <div class="p-4">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                          <b>Skill Connect Code </b>
                          <div class="profile-desc-item float-end">{{classDetails?.courseId?.skill_connect_code}}</div>
                        </li>
                        <li class="list-group-item">
                          <b>Minimum Enrollment </b>
                          <div class="profile-desc-item float-end">{{classDetails?.minimumEnrollment}}</div>
                        </li>
                        <li class="list-group-item">
                          <b>Maximum Enrollment </b>
                          <div class="profile-desc-item float-end">{{classDetails?.maximumEnrollment}}</div>
                        </li>
                      </ul>
                  </div>
              </mat-tab>
  
              <mat-tab *ngIf="isApproved" >
                <ng-template mat-tab-label>
                  Programkit
                </ng-template>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="project_widget">
                    
                      <div class="body">
                          <table mat-table [dataSource]="courseKitDetails" >
                                    <ng-container matColumnDef="Course Name">
                                        <th mat-header-cell *matHeaderCellDef>  Program Name  </th>
                                        <td mat-cell *matCellDef="let row"> {{row?.name}} </td>
                                      </ng-container>
                                      <ng-container matColumnDef="Short Description">
                                        <th mat-header-cell *matHeaderCellDef>  Short Description  </th>
                                        <td mat-cell *matCellDef="let row"> {{row.shortDescription}} </td>
                                      </ng-container>
                                       <ng-container matColumnDef="Long Description">
                                        <th mat-header-cell *matHeaderCellDef>  Long Description  </th>
                                        <td mat-cell *matCellDef="let row"> {{row.longDescription}} </td>
                                      </ng-container>
                                      <ng-container matColumnDef="Video Link" >
                                        <th mat-header-cell *matHeaderCellDef>Video Link  </th>
                                        <td mat-cell *matCellDef="let row">   
                                            <a class="vl-container" *ngFor="let video of row.videoLink; let i = index"
                                            href="javaScript:void(0)"
                                            [class.disabled]="parseDate(row.endDate) < currentDate"
                                            (click)="playVideo(video)">
                                            {{ video.filename |truncate : 10}}
                                            </a> </td>
                                        </ng-container>
                                      <ng-container matColumnDef="Document Link">
                                        <th mat-header-cell *matHeaderCellDef>Document Link  </th>
                                        <td mat-cell *matCellDef="let row"> <a href="{{row.documentLink}}" target="_blank"class="dl-container">{{uploadedDoc |truncate : 10}}</a> </td>
                                      </ng-container>
                            
                              <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                            </table>
                            <p class="m-t-30" [innerHTML]="classDetails?.courseId?.course_detailed_description| bulletPoints">
              
                                        <br>
                      </div>
  
                    </div>
                  </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </section>
  