.mat_col {
    white-space: nowrap; /* Prevents header text from wrapping */
  }

.export-as-label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}
.export-label {
  display: flex;
  align-items: center;
}
