.payroll-summary-card {
    // border: 1px solid #ccc;
    border-radius: 20px;
    padding: 1.5rem;
    width: 400px; 
    margin: 0 auto;
    background-color: white;

    
  
    .summary-heading {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
  
    .summary-description {
        margin-bottom: 1rem;
        color: #666;
    }
  
    .form-group {
        margin-bottom: 1rem;
        
        label {
            font-size: 16px;
            font-weight: 500;
            font-family: sans-serif;
        }
  
        input, select {
            width: 100%;
            padding: 0.5rem;
            // border: 1px solid black;
            border-radius: 13px;
            background-color: transparent;
            color: black;
        }

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            color: #999; /* Lighter icon color */
        }
    }
  
    .btn-report {
        background-color: #4caf50; /* Lighter green */
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        font-size: 1rem;
  
        &:hover {
            background-color: #388e3c; /* Darker green on hover */
        }

        i {
            margin-left: 5px;
        }
    }
}

.input-with-icon {
    position: relative;
}

.input-with-icon input,
.input-with-icon select {
    padding-right: 30px;
}

.input-with-icon .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: black; 
}

.form-group select[multiple] {
    height: auto;
    min-height: 3rem;
}
.custom-field {
    width: 100%;
}

.mat-form-field-underline {
    display: none;
}
.date-input {
    border: none;
    outline: none; /* Optional: removes focus outline */
}
#date{
    width: 17rem;
    height: 56px;
    margin-bottom: 20px;
    border: 1px solid rgb(173, 177, 177);
    border-radius: 12px;
    font-size: 16px;
    font-style: italic;
    padding: 10px;

  }
  .submit{
    // margin-left: -10px;
      margin-bottom: 20px;
      background: #6777ef;
      border: none;
      width: 25%;
      height: 45px;
      border-radius: 10px;
      color: #FFF;
      font-weight: 700;
  }