.card-container {
    position: relative;
    display: flex;
    justify-content: flex-end; 
  }
  
  .menu-button {
    position: absolute;
    top: 0; 
    right: 0;
    width: fit-content;
  }
  .icons{
    width: 10%;
      margin: 10px;
      border: none;
      background: transparent;
  }
  .img-w{
    height: 20px;
    margin-right: 25px;
    margin-top: 20px;
    }
    .table-wrapper{
      max-height: 260px; 
      overflow-y: auto; 
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 40px;
    }
  ::ng-deep .mat-mdc-tab-body-content{
      overflow-x: hidden !important;
    }
    // .amount_align{
    //   padding-right: 150px!important;

    // }
    .table-equal-width {
      table-layout: fixed;
      width: 100%;
    }
    
    .table-equal-width th
    {
      width: 33.33%; /* Ensures each column takes up equal width */
      text-align: center; /* Centers the text horizontally */
    }
    .table-equal-width td {
      width: 33.33%; /* Ensures each column takes up equal width */
      text-align: left; /* Centers the text horizontally */
    }
    
    .amount-align {
      text-align: right!important;/* Aligns the instructor cost to the right */
      padding-right: 65px!important;
    }
    
    .table th,
    .table td {
      padding: 10px; /* Adjust padding as needed */
    }
    
    // .status-container {
    //   display: inline-flex;
    //   align-items: center;
    //   padding-left: 40px!important;
    //   margin-left: 50px!important;

    // }
   
    
  //    .status-dot {
  //   width: 8px;
  //   height: 8px;
  //   background-color: #198754;
  //   border-radius: 50%; 
  //   display: inline-block;
  //   margin-right: 5px; 
  // }
  // .status-red {
  //   width: 8px;
  //   height: 8px;
  //   background-color: #f11541;
  //   border-radius: 50%; 
  //   display: inline-block;
  //   margin-right: 5px; 
  // }

  // .badge {
  //   box-shadow: none !important; /* Remove any shadow effect */
  //    background-color: transparent; /* Ensure no background that might cause shadows */
  //   border: none; /* Optionally remove borders */
  // }
  // .badge {
  //   box-shadow: none !important; /* Remove any shadow effect */
  //   background-color: rgba(255, 255, 255, -1); /* Almost transparent background */
  //   border: none; /* Optionally remove borders */
  // }
//   span .badge{
//     min-width: auto;
//     float: none;
//     font-size: 13px;
// }
// .badge-solid-green{
//     color: #198754;
//     background-color: rgba(25, 135, 84, 0.15);
//     border: none;
//     padding: 5px 12px;
//     font-weight: 500;
//     line-height: 1.2;
//   }
  
    // .status-align{
    //   padding-right: 20px!important;
    // }

    .payment-align{
      padding-right: 50px!important;
    }
