<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
           <app-breadcrumb [items]="breadscrum.items" [active_item]="breadscrum.active">
           </app-breadcrumb> 
         </div>
        <!-- Widgets -->
         <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card card-statistic-2">
                    <div class="clearfix">
                        <div class="card-icon-only shadow-primary float-start">
                            <img src="assets/images/banner/approved.png" alt="">
                        </div>
                        <div class="card-right" (click)="onApprovedClick()" type="button" >
                            <div>
                                <h6  type="button" class="float-end">Approved</h6>
                            </div>
                            <div class="col-green">
                                <h3 type="button" class="font-weight-bold float-end mb-0">{{approved}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card card-statistic-2">
                    <div class="clearfix">
                        <div class="card-icon-only shadow-primary float-start">
                            <img src="assets/images/banner/rejected.png" alt="">
                        </div>
                        <div  (click)="onRejectedClick()" type="button"class="card-right">
                            <div>
                                <h6 type="button"class="float-end">Rejected</h6>
                            </div>
                            <div class="col-green">
                                <h3 class="font-weight-bold float-end mb-0">{{rejected}}</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card card-statistic-2">
                    <div class="clearfix">
                        <div class="card-icon-only shadow-primary float-start">
                            <img src="assets/images/banner/pending.png" alt="">
                            <i class="assignment_turned_in float-start"></i>
                        </div>
                        <div class="card-right" (click)="onPendingClick()" type="button">
                            <div>
                                <h6  class="float-end">Pending</h6>
                            </div>
                            <div class="col-green">
                                <h3 class="font-weight-bold float-end mb-0">{{pending}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Training Approval Request</h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Request-ID</th>
                    <th>Name</th>
                    <th>Course</th>
                    <th>Payment</th>
                    <th>Vendor Name</th>
                    <th>Course Timeline</th>

                    <th>Created At</th>
                    <th *ngIf="!pendingCourses && approvedCourses">
                      Approved On
                    </th>
                    <th *ngIf="rejectedCourses">Rejected On</th>
                    <th
                      *ngIf="
                        (!pendingCourses && approvedCourses) || rejectedCourses
                      "
                    >
                      Status
                    </th>
                    <th *ngIf="pendingCourses">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let request of dataSource">
                    <td class="table-img">
                      <img
                        src="{{
                          request?.employeeId?.avatar ||
                            '../../../assets/profile.png'
                        }}"
                        alt=""
                      />
                    </td>
                    <td class="name">{{ request?.requestId }}</td>
                    <td>{{ request?.employeeId?.name }}</td>
                    <td>{{ request?.courseName | titlecase }}</td>
                    <td>$ {{ request?.courseCost }}</td>
                    <td>{{ request?.vendorName | titlecase }}</td>
                    <td>{{ request?.courseTimeline }}</td>

                    <td>{{ request?.createdAt | date }}</td>
                    <td *ngIf="ro && !pendingCourses">
                      {{ request?.roApprovedOn | date }}
                    </td>
                    <td *ngIf="director && pendingCourses">
                      {{ request?.directorApprovedOn | date }}
                    </td>
                    <td *ngIf="trainingAdmin && pendingCourses">
                      {{ request?.trainingadminApprovedOn | date }}
                    </td>
                    <td *ngIf="!ro && !rejectedCourses">
                      {{ request?.roRejectedOn | date }}
                    </td>
                    <td *ngIf="director && rejectedCourses">
                      {{ request?.directorRejectedOn | date }}
                    </td> 
                    <td *ngIf="trainingAdmin && rejectedCourses">
                      {{ request?.trainingAdminRejectedOn | date }}
                    </td>

                    <td *ngIf="ro && !pendingCourses">
                      <span
                        [class]="
                          request?.roApproval === 'Approved'
                            ? 'badge badge-solid-green'
                            : request?.roApproval === 'Pending'
                            ? 'badge badge-solid-orange'
                            : request?.roApproval === 'Rejected'
                            ? 'badge badge-solid-red'
                            : ''
                        "
                      >
                        <span
                          [class]="
                            request?.roApproval === 'Approved'
                              ? 'status-dot'
                              : request?.roApproval === 'Pending'
                              ? 'status-orange'
                              : request?.roApproval === 'Rejected'
                              ? 'status-red'
                              : ''
                          "
                        ></span>
                        {{ request.roApproval }}
                      </span>
                    </td>
                    <td *ngIf="director && !pendingCourses">
                      <span
                        [class]="
                          request?.directorApproval === 'Approved'
                            ? 'badge badge-solid-green'
                            : request?.directorApproval === 'Pending'
                            ? 'badge badge-solid-orange'
                            : request?.directorApproval === 'Rejected'
                            ? 'badge badge-solid-red'
                            : ''
                        "
                      >
                        <span
                          [class]="
                            request?.directorApproval === 'Approved'
                              ? 'status-dot'
                              : request?.directorApproval === 'Pending'
                              ? 'status-orange'
                              : request?.directorApproval === 'Rejected'
                              ? 'status-red'
                              : ''
                          "
                        ></span>
                        {{ request.directorApproval }}
                      </span>
                    </td>
                    <td *ngIf="trainingAdmin && !pendingCourses">
                      <span
                        [class]="
                          request?.trainingAdminApproval === 'Approved'
                            ? 'badge badge-solid-green'
                            : request?.trainingAdminApproval === 'Pending'
                            ? 'badge badge-solid-orange'
                            : request?.trainingAdminApproval === 'Rejected'
                            ? 'badge badge-solid-red'
                            : ''
                        "
                      >
                        <span
                          [class]="
                            request?.trainingAdminApproval === 'Approved'
                              ? 'status-dot'
                              : request?.trainingAdminApproval === 'Pending'
                              ? 'status-orange'
                              : request?.trainingAdminApproval === 'Rejected'
                              ? 'status-red'
                              : ''
                          "
                        ></span>
                        {{ request.trainingAdminApproval }}
                      </span>
                    </td>
                    <td *ngIf="pendingCourses">
                      <div class="d-flex gap-2 justify-content-between">
                        <button
                          type="button"
                          class="btn btn-outline-primary shadow height"
                          (click)="$event.stopPropagation()"
                          (click)="approve(request)"
                        >
                          Approve
                        </button>
                        <button
                          type="button"
                          mat-raised-button
                          color="warn"
                          (click)="$event.stopPropagation()"
                          (click)="reject(request)"
                        >
                          Reject
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator
                #paginator
                [length]="totalItems"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="pageSizeChange($event)"
              >
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
