<section class="content">
    <div class="content-block">
        <!-- <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div> -->
        <div class="block-header"  *ngFor="let breadscrum of breadcrumbs">
          <!-- breadcrumb -->
          <app-static-breadcrumb
          [title]="breadscrum.title"
          [items]="breadscrum.items"
          [active_item]="breadscrum.active"
        >
        </app-static-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                      <!-- <div class="header">
                        <h2>{{ editUrl ? "Edit User" : "Create User" }}</h2>
                      </div> -->
                    <form [formGroup]="userForm" >
                        <div class="body m-4">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                  <label>Name <span class="mandatory">&nbsp;*</span></label>
                                  <mat-form-field
                                    class="example-full-width mb-3"
                                    appearance="outline"
                                  >
                                    <input matInput formControlName="name" required />
                                    <mat-error *ngIf="userForm.get('name')?.hasError('required')">
                                      Enter Name
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" *ngIf="labelStatusCheck('Last name')">
                                  <label>Last name</label>
                                  <mat-form-field
                                    class="example-full-width mb-3"
                                    appearance="outline"
                                  >
                                    <input matInput formControlName="last_name" />
                                  </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                  <label>Qualification<span class="mandatory">&nbsp;*</span></label>
                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <input matInput formControlName="qualifications">
                                    <mat-error *ngIf="userForm.get('qualifications')?.hasError('required')">
                                      Enter Qualification
                                     </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" *ngIf="labelStatusCheck('ID Number')">
                                  <label>ID Number</label>
                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <input matInput formControlName="idNumber">
                                    <mat-error *ngIf="userForm.get('idNumber')?.hasError('required')">
                                      Enter ID Number 
                                     </mat-error>
                                  </mat-form-field>
                                </div> 
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" *ngIf="labelStatusCheck('ID Type')">
                                  <label>ID Type</label>
                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <input matInput formControlName="idType">
                                    <mat-error *ngIf="userForm.get('idType')?.hasError('required')">
                                      Enter ID Type 
                                     </mat-error>
                                  </mat-form-field>
                                </div> 
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" *ngIf="labelStatusCheck('ID Code')">
                                  <label>ID Code</label>
                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <input matInput formControlName="code">
                                    <mat-error *ngIf="userForm.get('code')?.hasError('required')">
                                      Enter ID Code 
                                     </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                  <label>Area of Practice<span class="mandatory">&nbsp;*</span></label>
                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <input matInput formControlName="domainAreaOfPractice">
                                    <mat-error *ngIf="userForm.get('domainAreaOfPractice')?.hasError('required')">
                                      Enter Area of Practice 
                                     </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                  <label>Training Provider UEN<span class="mandatory">&nbsp;*</span></label>
                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <input matInput formControlName="uen" [readonly]="true">
                                    <mat-error *ngIf="userForm.get('uen')?.hasError('required')">
                                      Enter Training Provider UEN 
                                     </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                  <label>Roll No <span class="mandatory">&nbsp;*</span></label>
                                  <mat-form-field
                                    class="example-full-width mb-3"
                                    appearance="outline"
                                  >
                                    <input matInput formControlName="rollNo" />
                                    <mat-error *ngIf="userForm.get('rollNo')?.invalid ||userForm.get('rollNo')?.touched">
                                      {{ utils.getErrorMessage1(userForm.get('rollNo'), 'roll_no') }}
                                    </mat-error> 
                                  </mat-form-field>
                                  </div>
                                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <label>Gender<span class="mandatory">&nbsp;*</span></label>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-select formControlName="gender" required>
                                            <mat-option [value]="'male'"> Male </mat-option>
                                            <mat-option [value]="'female'"> Female </mat-option>
                                            <mat-option [value]="'other'"> Other </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="userForm.get('gender')?.hasError('required')">
                                            Select Gender
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                  <label>Email<span class="mandatory">&nbsp;*</span></label>
                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                      <input matInput type="text" formControlName="email"
                                          class="form-control" required>
                                      <mat-error *ngIf="userForm.get('email')?.hasError('required')">
                                          Enter Email
                                      </mat-error>
                                      <mat-error  *ngIf="userForm.get('email')?.hasError('pattern') && userForm.get('email')?.touched">
                                          Enter a valid Email   
                                         </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <label>Password <span class="mandatory">&nbsp;*</span></label>
                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                                    <mat-error *ngIf="userForm.get('password')?.hasError('required')">
                                        Enter Password
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                              <label>Mobile<span class="mandatory">&nbsp;*</span></label>
                              <mat-form-field
                                class="example-full-width mb-3"
                                appearance="outline"
                              >
                                <input
                                  matInput
                                  formControlName="mobile"
                                  type="number"
                                  
                                />
                                <mat-error *ngIf="userForm.get('mobile')?.invalid ||userForm.get('mobile')?.touched">
                                  {{ utils.getErrorMessage1(userForm.get('mobile'), 'mobile') }}
                                </mat-error>
                              </mat-form-field>
                          </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                              <div class="button-container">
                                <label>Department <span class="mandatory">&nbsp;*</span></label>
                                <mat-icon class="cursor-pointer" (click)="openDialog()">add</mat-icon>
                              </div>
                              <mat-form-field
                                class="example-full-width mb-3"
                                appearance="outline">
                                <mat-select formControlName="department" required >
                                  <mat-option [value]="dept.department" *ngFor="let dept of dept">
                                   {{dept.department }}
                                  </mat-option>
                                </mat-select>
                                <mat-error
                                  *ngIf="userForm.get('department')?.hasError('required')"
                                >
                                  Select Department
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                              <div class="button-container">
                                <label class="self-end">Role<span class="mandatory">&nbsp;*</span></label>
                                <mat-icon class="cursor-pointer" (click)="openRoleModal()">add</mat-icon>
                              </div>
                              <mat-form-field class="example-full-width mb-3 test" appearance="outline">
                                  <mat-select required formControlName="type">
                                      <mat-option> Choose User Type... </mat-option>
                                      <mat-option
                                        *ngFor="let userType of userTypes"
                                        [value]="userType.typeName">{{userType.typeName}}
                                      </mat-option>
                                    </mat-select>
                                  <mat-error *ngIf="userForm.get('type')?.hasError('required')">
                                      Select role
                                  </mat-error>
                              </mat-form-field>
                          </div>
                                <!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                  <label>Date of Birth  <span class="mandatory">&nbsp;*</span></label>
                                  <mat-form-field
                                    class="example-full-width mb-3"
                                    appearance="outline"
                                  >
                                    <input
                                      matInput
                                      [matDatepicker]="picker"
                                      formControlName="dob"

                                    />
                                    <mat-datepicker-toggle
                                      matSuffix
                                      [for]="picker"
                                    ></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="userForm.get('dob')?.invalid ||userForm.get('dob')?.touched">
                                      {{ utils.getErrorMessage1(userForm.get('dob'), 'dob') }}
                                    </mat-error> 
                                  </mat-form-field>
                                </div> -->
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                  <label>Date of Birth <span class="mandatory">&nbsp;*</span></label>
                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <input matInput [matDatepicker]="picker" formControlName="dob" />
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="userForm.get('dob')?.hasError('required')">
                                      Select Date
                                    </mat-error>
                                    <mat-error *ngIf="userForm.get('dob')?.hasError('minimumAge')">
                                      Minimum age should be 20 years
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                  <label>Registration Date <span class="mandatory">&nbsp;*</span></label>
                                  <mat-form-field
                                    class="example-full-width mb-3"
                                    appearance="outline"
                                  >
                                    <input
                                      matInput
                                      [matDatepicker]="rpicker"
                                      formControlName="joiningDate"
                                      required
                                    />
                                    <mat-datepicker-toggle
                                      matSuffix
                                      [for]="rpicker"
                                    ></mat-datepicker-toggle>
                                    <mat-datepicker #rpicker></mat-datepicker>
                                    <mat-error
                                      *ngIf="userForm.get('joiningDate')?.hasError('required')"
                                    >
                                      Select date
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                  <label>Experience</label>
                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <input matInput formControlName="experience">
                                  </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                  <label>LinkedIn URL</label>
                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <input matInput formControlName="linkedInURL">
                                  </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" *ngIf="labelStatusCheck('Blood Group')">
                                  <label>Blood Group</label>
                                  <mat-form-field
                                    class="example-full-width mb-3"
                                    appearance="outline"
                                  >
                                    <input matInput formControlName="blood_group" />
                                  </mat-form-field>
                                </div>
                               
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" *ngIf="labelStatusCheck('Parents name')">
                                  <label>Parents name</label>
                                  <mat-form-field
                                    class="example-full-width mb-3"
                                    appearance="outline"
                                  >
                                    <input matInput formControlName="parentsName" />
                                    <mat-error
                                      *ngIf="userForm.get('parentsName')?.hasError('required')"
                                    >
                                      Enter Parents Name
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" *ngIf="labelStatusCheck('Parents Mobile Number')">
                                  <label>Parents Mobile Number </label>
                                  <mat-form-field
                                    class="example-full-width mb-3"
                                    appearance="outline"
                                  >
                                    <input
                                      matInput
                                      formControlName="parentsPhone"
                                      type="number"
                                    />
                                  </mat-form-field>
                                </div>
                               
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" *ngIf=" editUrl">
                                  <label>Status </label>
                                  <mat-form-field
                                      class="example-full-width mb-3"
                                      appearance="outline">
                                      <mat-select formControlName="attemptBlock" required >
                                        <mat-option [value]="true">
                                        Block
                                        </mat-option>
                                        <mat-option [value]="false">
                                          Unblock
                                          </mat-option>
                                      </mat-select>
                                      <mat-error
                                        *ngIf="userForm.get('attemptBlock')?.hasError('attemptBlock')"
                                      >
                                        Select Status
                                      </mat-error>
                                    </mat-form-field>
                                </div>

                              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" *ngIf="labelStatusCheck('Address')">
                                <label>Address </label>
                                <mat-form-field
                                  class="example-full-width mb-3"
                                  appearance="outline"
                                >
                                  <textarea matInput formControlName="address"></textarea>
                                </mat-form-field>
                              </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-5" *ngIf="labelStatusCheck('Upload')">
                                    <label>Upload</label>
                                    <div class="file-drop-area">
                                      <div class="file">
                                      <button mat-raised-button color="primary" class="btn">Choose file  <input
                                        formControlName="avatar"
                                        (change)="onFileUpload($event)"
                                        class="file-input"
                                        type="file"
                                      /></button>
                                      <span class="file-msg"><h5>{{fileName ? fileName : 'Drag and Drop File Here' }}</h5></span>

                                      </div>
                                    </div>
                                  </div>
                              </div>
                        </div>
                    </form>
                    <div class="row body">
                        <div class="col-md-10">
                          <button  mat-raised-button id="back" (click)="back()">Back</button>
                        </div>
                        <div class="col-md-2">
                          <button mat-raised-button id="submit" (click)="update()">{{editUrl? 'Update': 'Create'}}</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
