#submit {
    margin-left: 50px;
}


.btn{
  margin-top: 6px;
  height: 22px;
}

.mandatory {
    color: red;
}
//file-upload styling
.file-drop-area {
  border: 1px dashed #7c7db3;
  border-radius: 15px;
  position: relative;
  margin-top: 5px;
  transition: 0.2s;
}
.file-drop-area button{
  border-radius: 12px;
}
.file{
 text-align: center;
}
.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.file-msg {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 500;
}
h5{
  padding-top: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.label-card{
  margin-bottom: 22px;
}


.department-card {
  margin-top: 10px;
}
.cursor-pointer{
  cursor: pointer;
}
