#submit {
  width: 140px;
  padding: 5px 13px 5px 13px;
}
#issued {
  width: 140px;
  padding: 5px 13px 5px 11px;
}
#enableExam {
  width: 140px;
  padding: 5px 13px 5px 11px;
}
.custom-button-padding {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .materialTableHeader .right {
    height: 169px;
  }

  #submit {
    width: 98px;
    margin-top: 5px;
  }
}
mat-cell:first-of-type,
mat-header-cell:first-of-type,
mat-footer-cell:first-of-type {
  padding-left: 24px;
}
@media (max-width: 600px) {
  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 15px;
  }
}
//  .mat-column-actions {
//    width: 450px;
// }
//  svg {
//    position: absolute;
//    fill: #000;
//    background-color: #d3cdcd;
//    margin-top: -15px;
//    margin-left: -15px;
//    border-radius: 10px;
//    padding-left: 3px;
//    padding-right: 3px;
// }

// modal-box styling
::ng-deep .mat-mdc-menu-content {
  margin: 0;
  padding: 8px 20px;
  border-radius: 10px;
  list-style-type: none;
}

// modal-box curving
::ng-deep .mat-mdc-menu-panel {
  --mat-menu-container-shape: 12px;
}
.small-action-button {
  font-size: 10px !important;
  padding: 4px 8px !important;
  min-width: unset !important;
  line-height: 1.2;
  margin-right: 6px;
  white-space: nowrap;
}

.mat-column-actions {
  display: flex;
  // align-items: center;
  // flex-wrap: wrap;
  // gap: 8px;
  min-width: 100px;
}

.menu-text {
  padding-left: 20px;
}
.center-icon {
  margin: auto;
}
mat-header-cell {
  min-width: 160px !important;
}
mat-cell {
  min-width: 100px !important;
  padding-right: 30px;
}

::ng-deep .mat-column-Instructorfee {
  display: flex !important;
  justify-content: flex-end !important;
  margin-left: -15px;
}

.content-block {
  .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;

    .form-group {
      flex: 0 0 calc(33.333% - 20px);
      min-width: 250px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .select-button-container {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .form-label {
      margin-bottom: 4px;
      font-weight: 500;
      color: #333;
    }
  }

  .dynamic-select {
    flex: 1;
  }
  .file-drop-area {
    border: 1px dashed #7c7db3;
    border-radius: 15px;
    position: relative;
    margin-top: 5px;
    transition: 0.2s;
  }

  .file {
    text-align: center;
  }

  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }

  .file-msg {
    margin-left: 20px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 500;
  }

  h5 {
    padding-top: 10px;
  }

  .btn {
    margin-top: 6px;
    height: 22px;
  }

  .icons {
    width: 10%;
    margin: 10px;
    border: none;
    background: transparent;
    float: right;
  }

  .dynamic-select {
    flex: 1 1 auto;
    min-width: 150px;
  }

  .certificate-element {
    display: inline-block;
    margin: 5px;
  }

  .certificate-preview .certificate-canvas div {
    display: inline-block;
    margin-right: 10px;
    position: relative;
  }

  .certificate-canvas {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .element-container {
    position: absolute;
    cursor: move;
  }

  .certificate-element-content {
    display: inline-block;
    margin: 5px;
    border: 1px dashed transparent;
  }

  .certificate-element-content:hover {
    border: 1px dashed #333;
  }
}

.centered-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

// .m-l-20 {
//   margin-left: 10px; /* Increase the margin as needed */
//   padding: 0px;
// }
.custom-button-padding {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 1.2;
}

.containers_Canvas {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
