<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card" style="height: fit-content;">
                    <div class="materialTableHeader">
                        <div class="right">
                          <ul class="tbl-export-btn me-2">
                            <li class="tbl-header-btn">
                              <div class="m-l-10" matTooltip="ADD">
                                <button mat-raised-button *ngIf="isCreate" [routerLink]="['/student/settings/configuration/scorm-kit/create']"
                                id="submit">Create</button>
                              </div>
                            </li>         
                          </ul>
                        </div>
                      </div>
                    <div class="body overflow-auto">
                        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="table-wrapper">
                                <div class="table-responsive">
                                    <table class="table table-hover ">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>File</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="w-100" 
                                                *ngFor="let row of dataSource">
                                                <td style="cursor: pointer;" (click)="isEdit ? onRowClick(row.id): null">{{row.title}}</td>
                                                <td><span>
                                                    <a [routerLink]="['/admin/courses/scorm-player/view/',row.id]" class="dl-container">{{(row.fileName) |filename |truncate:25}}</a>
                                                </span>
                                            </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>