<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="info-box7 bg-c-yellow order-info-box7" (click)="filterTable('all')" style="cursor: pointer;">
            <div class="info-box7-block">
              <h4 class="m-b-20">Total Companies</h4>
              <h3>{{totalItems}}</h3>
              <!-- <h2>Total Companies</h2> -->
            </div>
            <!-- <div class="body">
              <h3>{{totalItems}}</h3>
            </div> -->
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="info-box7 bg-c-green order-info-box7" (click)="filterTable('active')" style="cursor: pointer;">
            <div class="info-box7-block">
              <h4 class="m-b-20">Active Companies</h4>
              <h3>{{activeCount}}</h3>
              <!-- <h2>Active Companies</h2> -->
            </div>
            <!-- <div class="body">
              <h3>{{activeCount}}</h3>
            </div> -->
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="info-box7 bg-c-pink order-info-box7" (click)="filterTable('inactive')" style="cursor: pointer;">
            <div class="info-box7-block">
              <h4 class="m-b-20">In-active Companies</h4>
              <h3>{{inactiveCount}}</h3>
              <!-- <h2>In-active Companies</h2> -->
            </div>
            <!-- <div class="body">
              <h3>{{inactiveCount}}</h3>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <ng-template mat-tab-label>
          <i class="material-icons-two-tone psr-3">list_alt</i>
          List View
        </ng-template>
        <div class="mt-4">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="header">
                <h2>Companies List</h2>
              </div>
              <div class="body overflow-auto">
                <div class="responsive_table">
                  <table
                    mat-table
                    matSort
                    [dataSource]="filteredDataForTable"
                    class="mat-cell advance-table"
                  >
                    <ng-container matColumnDef="Company">
                      <mat-header-cell *matHeaderCellDef 
                       >Company</mat-header-cell
                      >
                      <mat-cell
                        *matCellDef="let row"
                        class="name"
                        (click)="editAdmin(row.id)"
                         >
                        <span class="mobile-label">Company:</span
                        >{{ row?.company | capitalizeFirstLetter }}</mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="Website">
                      <mat-header-cell class="mat_col" *matHeaderCellDef 
                       >Company Website</mat-header-cell
                      >
                      <mat-cell
                        *matCellDef="let row"
                        (click)="editAdmin(row.id)"
                         >
                        <span class="mobile-label">Name:</span
                        >{{ row.website  }}</mat-cell
                      >
                    </ng-container>

                    <ng-container matColumnDef="Name">
                      <mat-header-cell *matHeaderCellDef 
                       >Name</mat-header-cell
                      >
                      <mat-cell
                        *matCellDef="let row"
                        (click)="editAdmin(row.id)"
                         >
                        <span class="mobile-label">Name:</span
                        >{{ row.name | capitalizeFirstLetter }}</mat-cell
                      >
                    </ng-container>
                    <!-- Course Code -->
                    <ng-container matColumnDef="User Type">
                      <mat-header-cell *matHeaderCellDef 
                        >Role
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"
                        (click)="editAdmin(row.id)"
                      >
                        <span class="mobile-label">User Role:</span
                        >{{ row.type | titlecase }}</mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="Mobile">
                      <mat-header-cell *matHeaderCellDef 
                        >Mobile
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"
                        (click)="editAdmin(row.id)"
                      >
                        <span class="mobile-label">Mobile:</span
                        >{{ row.mobile }}</mat-cell
                      >
                    </ng-container>
                    <!-- Sub Category -->
                    <ng-container matColumnDef="Email">
                      <mat-header-cell *matHeaderCellDef 
                        >Email</mat-header-cell
                      >
                      <mat-cell
                        *matCellDef="let row"  
                        (click)="editAdmin(row.id)"
                      >
                        <span class="mobile-label">Email:</span>
                        <img
                          src="assets/images/gmail.png"
                          alt="Email Icon"
                          class="email-icon"
                        />
                        <span class="email-address"> {{ row.email }}</span>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Status">
                      <mat-header-cell *matHeaderCellDef 
                        >Status
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"  
                        (click)="editAdmin(row.id)"
                      >
                        <span class="mobile-label">Status:</span
                        ><span
                          [class]="
                            row?.Active
                              ? 'badge badge-solid-green'
                              : 'badge badge-solid-red'
                          "
                        >
                          <span
                            [class]="
                              row?.Active ? 'status-dot' : 'status-red'
                            "
                          ></span>
                          {{ row.Active ? "Active" : "Inactive" }}
                        </span>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row
                      *matHeaderRowDef="displayedColumns"
                    ></mat-header-row>
                    <mat-row
                      *matRowDef="let row; columns: displayedColumns"
                      [style.cursor]="'pointer'"
                      matRipple
                    >
                    </mat-row>
                  </table>
                  <div *ngIf="!isLoading && (!filteredDataForTable || filteredDataForTable.length === 0)" class="text-center py-3 no-data-text">
                    No data found
                  </div>
                  <!-- Loading spinner -->
                  <div class="tbl-spinner">
                    <mat-progress-spinner
                      *ngIf="isLoading"
                      color="primary"
                      [diameter]="40"
                      mode="indeterminate"
                    >
                    </mat-progress-spinner>
                  </div>

                  <!-- <mat-paginator
                    #paginator
                    [length]="totalItems"
                    (page)="pageSizeChange($event)"
                    [pageSizeOptions]="pageSizeArr"
                    aria-label="select pagination option"
                  >
                  </mat-paginator> -->
                </div>
                <div class="text-center" *ngIf="filteredDataForTable.length>0">
                  <button mat-stroked-button [routerLink]="['/super-admin/admin-list']" color="primary">View
                    More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>          
    </div>
  </section>
