<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                    </div>
                    <form [formGroup]="questionForm">
                        <div class="body">
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
                                <label>Name <span class="mandatory">&nbsp;*</span></label>
                                <mat-form-field class="example-full-width mb-3" appearance="outline">

                                    <input matInput type="text" formControlName="name" class="form-control" required>
                                </mat-form-field>
                            </div>
                            <div formArrayName="questions">
                                <div *ngFor="let ques of questions.controls; let i=index" [formGroupName]="i">
                                    <label>Questions <span class="mandatory">&nbsp;*</span></label>
                                    <button class="btn" (click)="addQuestion()"> <img src="/assets/Close.svg" alt="plus"
                                        style="display: inline;margin-bottom: 10px;"></button>
                                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
                                        <label>Question {{i+1}} <span class="mandatory">&nbsp;*</span></label>
                                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                                            <input type="text" matInput formControlName="questionText"
                                                placeholder="Enter question">
                                        </mat-form-field>
                                    </div>
                                    <div formArrayName="options">
                                        <label>Options <span class="mandatory">&nbsp;*</span></label>
                                        <button class="btn" (click)="addOption(i)"><img src="/assets/Close.svg" alt="plus"
                                            style="display: inline;margin-bottom: 10px;"></button>
                                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
                                            <!-- Dynamic options -->
                                            <div *ngFor="let option of getOptions(i).controls; let j=index" [formGroupName]="j">
                                                <label>Option {{j+1}} <span class="mandatory">&nbsp;*</span></label>
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <input type="text" matInput [formControlName]="'text'"  placeholder="Answer">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row body">
                        <div class="col-md-10">
                            <button  mat-raised-button id="back" [routerLink]="['/admin/survey/survey-list']">Back</button>
                        </div>
                        <div class="col-md-2">
                            <button *ngIf="!editUrl" class="btn-space" mat-raised-button id="submit" type="submit" id="submit" (click)="save()">Create</button>
                            <button *ngIf="editUrl" class="btn-space" mat-raised-button id="submit" (click)="update()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


