.card-container {
    position: relative;
    display: flex;
    justify-content: flex-end; 
  }
  .icons{
    width: 10%;
      margin: 10px;
      border: none;
      background: transparent;
  }
  .img-w{
    height: 20px;
    margin-right: 25px;
    margin-top: 20px;
    }