<section class="content" >
    <div class="content-block">
      <div class="block-header"  *ngFor="let breadscrum of breadcrumbs">
        <!-- breadcrumb -->
        <app-static-breadcrumb
        [title]="breadscrum.title"
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-static-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
          <div class="card">
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header bg-dark">
                  <div class="user-name">{{ aboutData1?.company }}</div>
                  <div class="name-center">{{ aboutData1?.name | titlecase }}</div>
                </div>
                <img
                  src="{{ aboutData1?.avatar || 'assets/profile.png' }}"
                  class="user-img"
                  alt=""
                />
                <p>
                  {{ aboutData1.country_name }}
                </p>
                <div>
                  <span class="phone">
                    <i class="material-icons">phone</i
                    >{{ aboutData1?.mobile }}</span
                  >
                </div>
              </div>
            </div>
            <button *ngIf="!viewPackageUrl"
              type="button"
              mat-raised-button
              color="warn"
              [routerLink]="['/super-admin/admin-list']"
            >
              Back to Admin List
            </button>
            <button *ngIf="viewPackageUrl"
              type="button"
              mat-raised-button
              color="warn"
              [routerLink]="['/super-admin/package-list']"
            >
              Back to List
            </button>
          </div>
         
          </div>
    
          <div class="col-lg-8 col-md-12">
            <div class="card">
              <div class="card-container">
                <button class="icons" alt="Edit" *ngIf="!viewPackageUrl" (click)="edit()">
                    <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                </button>
                <button class="icons" alt="Edit" *ngIf="viewPackageUrl" (click)="editPackage()">
                  <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
              </button>
                <button class="icons" alt="Delete" mat-menu-item (click)="deleteItem(aboutData1)">
                  <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
              </button>
              <div *ngIf="!aboutData1?.Active">
                <button
                  mat-menu-item
                  (click)="confirmItem(aboutData1)"
                  class="align-items-center"
                >
                  <img class="img-w" src="/assets/approve.svg" alt="approve" />
                </button>
              </div>
              <div class="mt-1" *ngIf="aboutData1?.Active">
                <button
                  mat-menu-item
                  (click)="deactiveconfirmItem(aboutData1)"
                  class="align-items-center"
                >
                  <img class="img-w" src="/assets/deactivate.png" alt="deactivate"/>
                </button>
              </div>
            </div>
            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                  <!-- <mat-icon class="example-tab-icon msr-2">face</mat-icon> -->
                  Details
                </ng-template>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="project_widget">
                    <div class="header">
                        <h2><strong>Profile details</strong></h2>
                      </div>
                    <div class="body">
                      <div class="row">
                        <div class="col-md-4 col-6 b-r">
                          <strong>Company</strong>
                          <br />
                          <p>{{ aboutData1?.company }}</p>
                        </div>
                        <div class="col-md-4 col-6 b-r">
                          <strong>Full Name</strong>
                          <br />
                          <p>{{ aboutData1?.name }}</p>
                        </div>
                        <div class="col-md-4 col-6 b-r">
                          <strong>Company Website</strong>
                          <br />
                          <p>{{ aboutData1?.website }}</p>
                        </div>
                        <div class="col-md-4 col-6 b-r">
                          <strong>Mobile</strong>
                          <br />
                          <p>{{ aboutData1?.mobile }}</p>
                        </div>
                        <div class="col-md-4 col-6 b-r">
                          <strong>Email</strong>
                          <br />
                          <p>{{ aboutData1?.email }}</p>
                        </div>
                        <div class="col-md-4 col-6">
                          <strong>Registration Date</strong>
                          <br />
                          <p>
                            {{ aboutData1?.joiningDate | date }}
                          </p>
                        </div>
                        <!-- <div class="col-md-4 col-6">
                          <strong>Address</strong>
                          <br />
                          <p>
                            {{ aboutData1?.address }}
                          </p>
                        </div> -->
                       <div class="col-md-4 col-6">
                         <strong>Status</strong>
                          <br /> 
                          <span *ngIf="aboutData1?.Active; else inactive">Active</span>
                          <ng-template #inactive>Inactive</ng-template>
                      </div>

                      </div>
                    </div>
                    <div class="header" >
                      <h2><strong>Package details</strong></h2>
                    </div>
                    <div class="body">
                      <div class="row">
                      <div class="col-md-4 col-6">
                        <strong>Users</strong>
                        <br />
                        <p>
                          {{ aboutData1?.users }}
                        </p>
                      </div>
                      <div class="col-md-4 col-6">
                        <strong>Courses</strong>
                        <br />
                        <p>
                          {{ aboutData1?.courses }}
                        </p>
                      </div>
                      <div class="col-md-4 col-6">
                        <strong>Expiry Date</strong>
                        <br />
                        <p>
                          {{ aboutData1?.expiryDate | date }}
                        </p>
                      </div>
                      

                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </section>
