<section class="content">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
    </div>


    <div class="card">
        <h2>Select Currency</h2>
        <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select [(ngModel)]="selectedCurrency">
                <mat-option *ngFor="let code of currencyCodes" [value]="code">{{ code }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="button-container">
            
            <button mat-button color="primary" (click)="updateCurrency()">Update Currency</button>
          </div>
    </div>
    





</section>