<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadcrumbs">
      <!-- breadcrumb -->
      <app-static-breadcrumb
        [title]="breadscrum.title"
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-static-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <form [formGroup]="programFormGroup">
        <div class="card">
          <div class="header"></div>
            <div class="body m-3 justify-content-between">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                  <label class="form-label"
                    >Program<span class="mandatory">&nbsp;*</span></label
                  >
                  <mat-form-field
                    class="example-full-width mb-2"
                    appearance="outline"
                  >
                    <input
                      matInput
                      type="text"
                      placeholder="Enter Program Name"
                      class="form-control"
                      formControlName="course"
                      required
                    />
                    <mat-error
                      *ngIf="
                        isSubmitted ||
                        programFormGroup.get('course')?.hasError('required')
                      "
                    >
                      Enter Program Name
                    </mat-error>
                    <mat-error
                      *ngIf="
                        programFormGroup.get('course')?.hasError('pattern') &&
                        programFormGroup.get('course')?.touched
                      "
                    >
                      Enter a valid Program Name
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                  <label class="form-label"
                    >Program Code<span class="mandatory">&nbsp;*</span>
                  </label>
                  <mat-form-field
                    class="example-full-width mb-2"
                    appearance="outline"
                  >
                    <input
                      matInput
                      type="text"
                      placeholder="Enter Program Code"
                      class="form-control"
                      formControlName="programCode"
                      required
                    />
                    <mat-error
                      *ngIf="
                        isSubmitted ||
                        programFormGroup
                          .get('programCode')
                          ?.hasError('required')
                      "
                    >
                      Enter Program Code
                    </mat-error>
                    <mat-error
                      *ngIf="
                        programFormGroup
                          .get('programCode')
                          ?.hasError('pattern') &&
                        programFormGroup.get('programCode')?.touched
                      "
                    >
                      Enter a valid Program code
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                  <label class="form-label"
                    >Mode of delivery<span class="mandatory"
                      >&nbsp;*</span
                    ></label
                  >
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-select formControlName="deliveryMode" required>
                      <mat-option value="online">Online</mat-option>
                      <mat-option value="offline">Offline</mat-option>
                      <mat-option value="hybrid">Hybrid</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        programFormGroup
                          .get('deliveryMode')
                          ?.hasError('required') ||
                        programFormGroup.get('deliveryMode')?.touched
                      "
                    >
                      Select Mode of delivery
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2" *ngIf="labelStatusCheck('Start Date')">
                  <label class="form-label">Start Date<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <input
                      matInput
                      [matDatepicker]="startPicker"
                      formControlName="sessionStartDate" placeholder="DD/MM/YYYY"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="startPicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                    <mat-error
                      *ngIf="
                        programFormGroup.get('sessionStartDate')?.invalid &&
                        programFormGroup.get('sessionStartDate')?.touched
                      "
                    >
                      {{
                        utils.getErrorMessage1(
                          programFormGroup.get("sessionStartDate"),
                          "dob"
                        )
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2" *ngIf="labelStatusCheck('End Date')">
                  <label class="form-label">End Date<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <input
                      matInput
                      [matDatepicker]="endPicker"
                      formControlName="sessionEndDate" placeholder="DD/MM/YYYY"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="endPicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                    <mat-error
                      *ngIf="
                        programFormGroup.get('sessionEndDate')?.invalid &&
                        programFormGroup.get('sessionEndDate')?.touched
                      "
                    >
                      {{
                        utils.getErrorMessage1(
                          programFormGroup.get("sessionEndDate"),
                          "dob"
                        )
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2" *ngIf="labelStatusCheck('Duration')">
                  <label class="form-label">Duration</label>
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <input
                      matInput
                      type="text"
                      formControlName="duration"
                      class="form-control"
                    />
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2" *ngIf="labelStatusCheck('Program Fees')">
                  <label class="form-label">Program Fees<span class="mandatory">&nbsp;*</span></label>
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <input
                      matInput
                      type="text"
                      formControlName="courseFee"
                      class="form-control" required
                    />
                    <mat-error
                    *ngIf="
                      programFormGroup.get('courseFee')?.invalid &&
                      programFormGroup.get('courseFee')?.touched
                    "
                  >
                    {{
                      utils.getErrorMessage1(
                        programFormGroup.get("courseFee"),
                        "programfee"
                      )
                    }}
                  </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2" *ngIf="labelStatusCheck('Currency')">
                  <label class="form-label"
                    >Currency<span class="mandatory">&nbsp;*</span></label
                  >
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-select formControlName="currency">
                      <mat-option disabled>Choose...</mat-option>
                      <mat-option value="USD">USD</mat-option>
                      <mat-option value="SGD">SGD</mat-option>
                      <mat-option value="NZD">NZD</mat-option>
                      <mat-option value="YEN">YEN</mat-option>
                      <mat-option value="GBP">GBP</mat-option>
                      <mat-option value="KWN">KWN</mat-option>
                      <mat-option value="IDR">IDR</mat-option>
                      <mat-option value="TWD">TWD</mat-option>
                      <mat-option value="AUD">AUD</mat-option>
                    </mat-select>
                    <mat-error
                    *ngIf="
                      programFormGroup.get('currency')?.invalid &&
                      programFormGroup.get('currency')?.touched
                    "
                  >
                    {{
                      utils.getErrorMessage1(
                        programFormGroup.get("currency"),
                        "currency"
                      )
                    }}
                  </mat-error>
                  </mat-form-field>
                </div>
                   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2" *ngIf="labelStatusCheck('Thumbnail')">
                    <label>Thumbnail</label>
                    <div class="file-drop-area">
                      <div class="file">
                        <button mat-raised-button color="primary" class="btn">
                          <input
                            type="file"
                            #fileDropRef
                            id="fileDropRef"
                            formControlName="image_link"
                            (change)="onFileUpload($event)"
                            accept="image/*"
                            class="file-input"
                          />
                          Choose file
                        </button>
                        <span class="file-msg">
                          <h6>
                            {{
                              uploadedImage
                                ? uploadedImage
                                : "Drag and Drop File Here"
                            }}
                          </h6>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <div class="label-container">
                      <label>Certificate Template <span class="mandatory">&nbsp;*</span></label>
                     
                    </div>
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-select formControlName="certificate_temp">
                        <mat-option *ngFor="let item of certificates" [value]="item.title">
                          {{ item.title }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                      programFormGroup
                            .get('certificate_temp')
                            ?.hasError('maxLength') ||
                            programFormGroup.get('certificate_temp')?.touched
                        ">
                        Select   Certificate Template
                      </mat-error>
                    </mat-form-field>
                  </div>
              </div>
            </div>
          </div>
              <div class="card">
                <div class="d-flex m-3 justify-content-between m-4 flex-wrap">
                  <div class="d-flex flex-wrap gap-2" >
                    <label style="width: 70%;">Compulsory Count<span class="mandatory">&nbsp;*</span></label>
                    <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <input 
                      matInput
                      type="number"
                      formControlName="coreCourseCount"
                      class="form-control"
                    />
                    <mat-error
                    *ngIf="
                      programFormGroup.get('coreCourseCount')?.invalid &&
                      programFormGroup.get('coreCourseCount')?.touched
                    "
                  >
                    {{
                      utils.getErrorMessage1(
                        programFormGroup.get("coreCourseCount"),
                        "coreCourseCount"
                      )
                    }}
                  </mat-error>
                  </mat-form-field>
                  </div>
                  <div class="d-flex flex-wrap">
                    <button (click)="addCoreCard()" class="btn  px-4">
                      <svg
                        class=""
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        style="fill: #526d82"
                      >
                        <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4z"></path>
                        <path
                          d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"
                        ></path>
                      </svg>
                      Add
                    </button>
                  </div>
                </div>
                <div formArrayName="corePrograms" class="m-3">
                  <div
                    *ngFor="let core of corePrograms.controls; let i = index"
                    [formGroupName]="i"
                    class="card border-light mb-3 shadow rounded-5"
                  >
                    <div class="card-header header p-4 rounded-top-5">
                      <div class="row">
                        <div class="col-10 ">
                          <div class="d-flex gap-4 flex-wrap">
                            <label class="card_course">Certificate Program</label>
                            <mat-form-field
                              class="example-full-width"
                              appearance="outline"
                            >
                              <mat-select
                                name="coursename"
                                formControlName="coreProgramName"
                              >
                                <mat-option>Choose...</mat-option>
                                <mat-option
                                  *ngFor="let item of programList"
                                  [value]="item.id"
                                >
                                  {{ item.title }}</mat-option
                                >
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div  *ngIf="i > 0"
                          class="col-1 "
                          style="right: 40px; position: absolute; cursor: pointer"
                        >
                          <svg 
                            (click)="deleteCoreCard(i)"
                            class="ms-2 rounded-4 border"
                            xmlns="http://www.w3.org/2000/svg"
                            width="34"
                            height="34"
                            viewBox="0 0 24 24"
                            style="
                              fill: rgba(0, 0, 0, 1);
                              padding: 5px;
                              background: #fff;
                            "
                          >
                            <path
                              d="M15 2H9c-1.103 0-2 .897-2 2v2H3v2h2v12c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2V8h2V6h-4V4c0-1.103-.897-2-2-2zM9 4h6v2H9V4zm8 16H7V8h10v12z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <angular-editor
                          placeholder="Enter text..."
                          formControlName="coreProgramDescription"
                          [config]="config"
                        ></angular-editor>
                      </div>
                    </div>
                    <div class="card-body"></div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="d-flex m-3 justify-content-between m-4 flex-wrap">
                  <div class="d-flex gap-4 flex-wrap">
                    <label style="width: 70%;">Elective Count<span class="mandatory">&nbsp;*</span></label>
                    <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <input
                      matInput
                      type="number"
                      formControlName="electiveCourseCount"
                      class="form-control"
                    />
                    <mat-error
                    *ngIf="
                      programFormGroup.get('electiveCourseCount')?.invalid &&
                      programFormGroup.get('electiveCourseCount')?.touched
                    "
                  >
                    {{
                      utils.getErrorMessage1(
                        programFormGroup.get("electiveCourseCount"),
                        "electiveCourseCount"
                      )
                    }}
                  </mat-error>
                  </mat-form-field>
                    
                  </div>
                  <div class="d-flex gap-4 flex-wrap">
                    <button
                      (click)="addElectiveCard()"
                      class="btn  px-4"
                    >
                      <svg
                        class=""
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        style="fill: #526d82"
                      >
                        <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4z"></path>
                        <path
                          d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"
                        ></path>
                      </svg>
                      Add
                    </button>
                  </div>
                </div>
  
                <div formArrayName="electivePrograms" class="m-3">
                  <div
                    class="card border-light mb-3 shadow rounded-5"
                    *ngFor="
                      let elective of electivePrograms.controls;
                      let i = index
                    "
                    [formGroupName]="i"
                  >
                    <div class="card-header header p-4 rounded-top-5">
                      <div class="row">
                        <div class="col-xl-10 col-sm-12">
                          <div class="d-flex gap-4 flex-wrap">
                            <label class="card_course">Elective course</label>
                            <mat-form-field
                              class="example-full-width"
                              appearance="outline"
                            >
                              <mat-select
                                name="coursename"
                                formControlName="electiveProgramName"
                              >
                                <mat-option>Choose...</mat-option>
                                <mat-option
                                  *ngFor="let item of programList"
                                  [value]="item.id"
                                >
                                  {{ item.title }}</mat-option
                                >
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div
                        *ngIf="i > 0"
                          class="col-1"
                          style="right: 40px; position: absolute;cursor: pointer;"
                        >
                          <svg
                            (click)="deleteElectiveCard(i)"
                            class="ms-2 rounded-4 border"
                            xmlns="http://www.w3.org/2000/svg"
                            width="34"
                            height="34"
                            viewBox="0 0 24 24"
                            style="
                              fill: rgba(0, 0, 0, 1);
                              padding: 5px;
                              background: #fff;
                            "
                          >
                            <path
                              d="M15 2H9c-1.103 0-2 .897-2 2v2H3v2h2v12c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2V8h2V6h-4V4c0-1.103-.897-2-2-2zM9 4h6v2H9V4zm8 16H7V8h10v12z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <angular-editor
                          placeholder="Enter text..."
                          formControlName="electiveProgramDescription"
                          [config]="config"
                        ></angular-editor>
                      </div>
                    </div>
                    <div class="card-body"></div>
                  </div>
                </div>
                <div class="">
                  <!-- <hr class="m-4" /> -->
                  <div class="mt-2" *ngIf="labelStatusCheck('Learning Outcomes')">
                    <span class="fw-bold mx-3"> Learning Outcomes</span>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <angular-editor
                          placeholder="Enter text..."
                          formControlName="learningOutcomes"
                          [config]="config"
                        ></angular-editor>
                      </div>
                    </div>
                  </div>
                  <div class="mt-2" *ngIf="labelStatusCheck('Who Should Attend')">
                    <span class="fw-bold mx-3">Who Should Attend</span>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <angular-editor
                        placeholder="Enter text..."
                        formControlName="attendees"
                        [config]="config"
                      ></angular-editor>
                    </div>
                  </div>
                  <div class="mt-2" *ngIf="labelStatusCheck('Prerequisites')">
                    <span class="fw-bold mx-3">Prerequisites</span>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <angular-editor
                        placeholder="Enter text..."
                        formControlName="prerequisites"
                        [config]="config"
                      ></angular-editor>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="row mt-3">
                <div class="col-md-10">
                  <button mat-button id="back" (click)="back()">Back</button>
                </div>
                <div class="col-md-2">
                  <button *ngIf="!editPermission"
                    mat-raised-button
                    type="button"
                    color="primary"
                    id="submit"
                    (click)="save()"
                  >
                    Save
                  </button>
                  <button *ngIf="editPermission"
                  mat-raised-button
                  type="button"
                  color="primary"
                  id="submit"
                  (click)="save()"
                >
                Submit
                </button>
                </div>
              </div>
           
       
      </form>
      </div>
    </div>
  </div>
</section>
